<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        #tblIsyeriList tbody tr{
            cursor: pointer;
        }
        #tblIsyeriList tbody tr:hover{
            background-color: #49afcd;
        }
        #tblIsyeriList_length{
            display: none;
        }
    </style>
    {{obj.headerCss}}
</head>
<body>
{{obj.header}}
<{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
        {{obj.menuItems}}
    </ul>
</div>

<div id="content">
    <div id="content-header">
        <h1>EğitimTipi Girişi / Güncelleme</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <form id="uyedetayform" action="/egitimTipiEdit" method="POST" enctype="application/json">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-ok-sign"></i> </span>
                            <h5>EğitimTipi Girişi / Güncelleme</h5>
                            <input type="hidden" id="id" name="id" value="{{obj.id}}">
                        </div>
                        <div class="widget-content">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="span3">Tanım</th>
                                    <th class="span9">Açıklama</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td><label class="control-label">Eğitim Tip İsmi:</label></td>
                                    <td><input id="eduName" name="eduName" class="span5" type="text" value="{{obj.edu.typeName}}" /></td>
                                </tr>
                                <tr>
                                    <td>Durumu :</td>
                                    <td>{{obj.select.status}}</td>
                                </tr>
                                <tr>
                                    <td>Çatı Eğitim Tipi :</td>
                                    <td>{{obj.select.parent}}</td>
                                </tr>
                                <tr>
                                    <td>Açıklama</td>
                                    <td> <textarea name="description" style="margin: 0px 0px 10px; width: 431px; height: 81px;" >{{obj.aciklama}}</textarea></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="submit" class="btn btn-success" value="Güncelle"/>
                                        <input id="btnDelete" type="button" class="btn btn-danger" value="Sil" style="float: right;"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{obj.footer}}
{{obj.bottomscriptsdetay}}
<script type="text/javascript">
$(document).ready(function (){

    var Id = $('#id').val();
    if (Id == 0) {
        $('#btnDelete').remove();
    }


    $('#btnDelete').click(function (){
        console.log('deleted');
    });

});
</script>
</body>
</html>
