<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />

    <!-- If you use the default popups, use this. -->
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="/anasayfa" class="visible-phone"><i class="icon icon-th-list"></i>Menu</a>
    <ul>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/egitim" title="Anasayfa" class="tip-bottom current"><i class="icon-home"></i>Eğitim Anasayfa</a>
            <a href="/egitimtipleri"><i class="icon-bullhorn"></i>Eğitim Tipleri</a>
            <a href="/egitimlistesi"><i class="icon-barcode"></i>Eğitim Listesi</a>
            <a href="/egitimcilistesi" ><i class="icon-thumbs-up"></i>Eğitimciler</a>
            <a href="/egitimolustur" class="current"><i class="icon-asterisk"></i>Eğitim Oluştur</a>
        </div>

        <h1>Eğitim Oluştur</h1>

    </div>
    <div class="container-fluid">
        <div class="row-fluid">

            <div class="span12">

                <button id="cal_today" class="btn btn-primary">Bugün</button>
                <span>|</span>
                <button id="cal_month" class="btn btn-primary">Ay</button>
                <button id="cal_week" class="btn btn-primary">Hafta</button>
                <span>|</span>
                <button id="cal_prev" class="btn btn-primary"> << </button>
                <button id="cal_next" class="btn btn-primary"> >> </button>
                <span>|</span>
                <button id="cal_prev_year" class="btn btn-primary"> << YIL </button>
                <button id="cal_next_year" class="btn btn-primary"> YIL >> </button>
                <br>
                <div class="span12"><h2 class="span2">Takvim : </h2><h2 class="span10" id="current_calendar_date"></h2></div>
                <span>|</span>
                <button id="cal_refresh" class="btn btn-primary" >Yenile</button>
                <div class="widget-box">
                    <div class="widget-title">
                    <span class="icon">
                        <i class="icon-align-justify"></i>
                    </span>
                        <h5>Takvim</h5>
                    </div>
                    <div id="calendar" style="height: 800px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- modal window -->

<div class="modal hide" id="modal-add-event" style="width: 94%;left: 10px !important; margin-left: unset !important; height: 630px !important; max-height: 1000px !important;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Eğitim Giriş</h3>
    </div>
    <div class="modal-body" style="height:630px; max-height: 556px; overflow: scroll;">
        <table id="tblIsyeriCalisanList" class="table table-bordered">
           
            <tr>
                <td>Eğitim Tipi:</td>
                <td id="educationList">
                    <select id="roofSelect" >
                        <option value="0">Eğitim Türü</option>
                        <option value="1">Planlı</option>
                    </select>
                    
                </td>
                
            </tr>
            <tr>
                <td>Yer :</td>
                <td><input id="txtLocation" type="text"/></td>
            </tr>
            <tr>
                <td>Eğitmen :</td>
                <td>
                    <select id="teacher" >
                        <option value="0">Seçiniz</option>
                        <option value="xx">öğretmen1</option>
                        <option value="x1">öğretmen2</option>
                    </select>
                    | <input type="button" id="addTeacher" value="+" />
                    <ul>
                        <li>öğretmen1 <input class="deleteDescription" type="button" value="-"></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Tarih Saat :</td>
                <td><input type="date" id="startDate"> | Başlangıç <input type="time" id="startTime" value="10:30"> Bitiş <input type="time" id="endTime" value="10:30"></td>
            </tr>
            
            <tr>
                <td><input type="button" id="addlesson" value="+" /></td>
                <td></td>
            </tr>

            <tr>
                <td>Ders Listesi</td>
                <td>
                    <ul>
                        <li>
                           <strong>Eğitim :</strong> Fırsat - Temel Sendikal Eğitim </br>
                           <strong>Tarih :</strong> 2022-08-19, 10:30 - 12:30 </br>  
                           <strong>Eğitmen :</strong> Eğitmen1 </br>
                           <strong>Yer :</strong> istanbul <input class="deleteLesson" type="button" value="-">
                          
                        </li>
                        
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Amaç :</td>
                <td>
                    <input type="text" id="txtDescription">| <input id="btnAddDescription" type="button" value="+" />
                    <ul>
                        <li>aaaaaaaaaa <input class="deleteDescription" type="button" value="-"></li>
                        <li>bbbbbbbbbb <input class="deleteDescription" type="button" value="-"></li>
                        <li>cccccccccc <input class="deleteDescription" type="button" value="-"></li>
                    </ul>
                </td>
            </tr>
           
            <tr>
                <td>Kişi Sayısı :</td>
                <td><input type="text" id="atendantCount"></td>
            </tr>
            
      <tr>
        <td><input id="btnSave" type="button" value="Kaydet" /></td>
        <td></td>
      </tr>          
        </table>
        
    </div>

</div>

<!-- modal window end -->

<div class="row-fluid">
    <div id="footer" class="span12"> 2021 &copy; Metal İş Sendikası</div>
</div>
<script src="client/js/excanvas.min.js"></script>
<script src="client/js/jquery.min.js"></script>
<script src="client/js/jquery.ui.custom.js"></script>
<script src="client/js/bootstrap.min.js"></script>

<script src="client/js/jquery.peity.min.js"></script>
<script src="client/js/maruti.js"></script>
<script src="client/js/jquery.dataTables.min.js"></script>
<script src="client/js/custom/Util.js"></script>
<script src="client/js/custom/helper.js"></script>


<!-- <script src="client/js/tui-calendar/js/tui-code-snippet.min.js"></script>
<script src="client/js/tui-calendar/js/tui-time-picker.min.js"></script>
<script src="client/js/tui-calendar/js/tui-date-picker.min.js"></script>
<script src="client/js/tui-calendar/js/tui-calendar.js"></script> -->




<script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
<script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>

<script type="text/javascript">

    var calendar = new tui.Calendar('#calendar', {
        defaultView: 'week',
        week: {
            daynames: ['Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi', 'Pazar']   ,
            narrowWeekend: true,
            startDayOfWeek: 1 // monday
        },
        taskView: true,
        useCreationPopup: true,
        useDetailPopup: true,
        usageStatistics: false,
        template: {
            time: function(schedule) {
                return schedule.title + ' <i class="fa fa-refresh"></i>' + new Date(schedule.start).toLocaleString();
            },
            monthDayname: function(dayname) {
                return '<span class="calendar-week-dayname-name">' + dayname.label + '</span>';
            }
        }
    });

    calendar.on({
        'clickSchedule': function(e) {
            console.log('clickSchedule', e);
            
        },
        'beforeCreateSchedule': function(e) {
            //console.log('beforeCreateSchedule', e);
            console.log(e.start);
            console.log(e.end);
            var values = JSON.parse(JSON.stringify(e));
            var data = {
                location : values.location,
                calendarId: 'mytime',
                title: values.title,
                category: 'time',
                dueDateClass: '',
                start: new Date(values.start._date),
                end: new Date(values.end._date)
            };

           console.log('data ', data);
             insertClassToCalendar(data, function(){
                alert('eklendi');
            });
           
        },
        'beforeUpdateSchedule': function(e) {
            console.log('beforeUpdateSchedule', e);
            e.schedule.start = e.start;
            e.schedule.end = e.end;
            calendar.updateSchedule(e.schedule.id, e.schedule.calendarId, e.schedule);
        },

        'beforeDeleteSchedule': function(e) {
            console.log('beforeDeleteSchedule', e);
            calendar.deleteSchedule(e.schedule.id, e.schedule.calendarId);
        }
    });


    function insertClassToCalendar(data, cb){
       
        $.ajax({
          url: '/egitimEkleCalendarAjax',
          data: data,
          type: 'post',
          success: function (result) {
            console.log(result);
            cb && cb(result);
          }

      });
    }



    document.getElementById('current_calendar_date').innerText = Sendika.dateToString_tr(calendar.getDate());

     var schedules = [
        {
            id: 1,
            calendarId: 'mytime',
            title: 'my schedule',
            category: 'time',
            dueDateClass: '',
            start: '2022-08-24T12:30:00+03:00',
            end: '2022-08-24T15:30:00+03:00'
        },
        {
            id: 2,
            calendarId: 'mytime',
            title: 'second schedule',
            category: 'time',
            dueDateClass: '',
            start: '2022-08-25T10:30:00+03:00',
            end: '2022-08-25T12:30:00+03:00'
        }
    ]
 
    

    function refreshCalendarView(){
        $('#modal-add-event').modal('show');
        //calendar.clear();
        //todo.. get data from db.
        calendar.changeView(calendar.getViewName(), true);
        calendar.createSchedules(schedules, true);
        calendar.render();
    }

    function next(){
        calendar.next();
        document.getElementById('current_calendar_date').innerText = Sendika.dateToString_tr(calendar.getDate());
    }

    function previous(){
        calendar.prev();
        document.getElementById('current_calendar_date').innerText = Sendika.dateToString_tr(calendar.getDate());
    }

    function nextYear(){
        calendar.getDate().setFullYear(calendar.getDate().getFullYear() + 1);
        document.getElementById('current_calendar_date').innerText = Sendika.dateToString_tr(calendar.getDate());
    }

    function prevYear(){
        calendar.getDate().setFullYear(calendar.getDate().getFullYear() - 1);
        document.getElementById('current_calendar_date').innerText = Sendika.dateToString_tr(calendar.getDate());
    }

    function removeAllSchedules(){

        calendar.clear();

        /*var all = calendar._controller.schedules.items;
        for (var key in calendar._controller.schedules.items) {
            var item = calendar._controller.schedules.items[key];
            calendar.deleteSchedule(item.id, item.calendarId);
        }*/
    }

    document.getElementById("cal_today").addEventListener('click', function (){
        calendar.today();
    });

    document.getElementById("cal_month").addEventListener('click', function (){
        calendar.changeView('month', true);
    });
    document.getElementById("cal_week").addEventListener('click', function (){
        calendar.changeView('week', true);
    });

    document.getElementById("cal_prev").addEventListener('click', function (){
        previous();
    });

    document.getElementById("cal_next").addEventListener('click', function (){
        next();
    });

    document.getElementById("cal_next_year").addEventListener('click', function (){
        nextYear();
    });

    document.getElementById("cal_prev_year").addEventListener('click', function (){
        prevYear();
    });

    document.getElementById("cal_refresh").addEventListener('click', function () {
        refreshCalendarView();
    });

    document.getElementById("btnSave").addEventListener('click', function(e){
        
        console.log('kaydettim');
    });
    

    document.getElementById('btnAddDescription').addEventListener('click', function (e) {
        console.log('ee : ', e);
    });

    
     var timer = setInterval(function(){
        if(helper != undefined){
            //selector, event, cb, cnx
            helper.Event.bindLive('.deleteDescription, .deleteLesson', 'click', function(e){
            e.target.parentElement.remove();
        });
        clearInterval(timer);
        }
    }, 200); 

    document.getElementById('roofSelect').addEventListener('change', function (e) {
        console.log('e , ', e.target.options[e.target.selectedIndex].text);
    });

    function getChildsTitle(id, cb){
        $.ajax({
          url: '/egitimler',
          data: "id="+ id,
          type: 'get',
          success: function (result) {
            console.log(result);
            cb && cb(result);
          }

      });
    }

</script>
</body>
</html>