<!DOCTYPE html>
<html lang="tr">

<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="client/css/bootstrap.min.css" />
    <link rel="stylesheet" href="client/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="client/css/fullcalendar.css" />
    <link rel="stylesheet" href="client/css/maruti-style.css" />
    <link rel="stylesheet" href="client/css/maruti-media.css" class="skin-color" />
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="/anasayfa" class="visible-phone"><i class="icon icon-th-list"></i>Menu</a>
    <ul>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/egitim" title="Anasayfa" class="tip-bottom current"><i class="icon-home"></i>Eğitim Anasayfa</a>
            <a href="/egitimtipleri"><i class="icon-bullhorn"></i>Eğitim Tipleri</a>
            <a href="/egitimlistesi"><i class="icon-barcode"></i>Eğitim Listesi</a>
            <a href="/egitimcilistesi"><i class="icon-thumbs-up"></i>Eğitimciler</a>
            <a href="/egitimolustur"><i class="icon-asterisk"></i>Eğitim Oluştur</a>
            <h1>Eğitim Anasayfa</h1>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div id="footer" class="span12"> 2021 &copy; Metal İş Sendikası</div>
</div>
<script src="client/js/excanvas.min.js"></script>
<script src="client/js/jquery.min.js"></script>
<script src="client/js/jquery.ui.custom.js"></script>
<script src="client/js/bootstrap.min.js"></script>
<script src="client/js/jquery.flot.min.js"></script>
<script src="client/js/jquery.flot.resize.min.js"></script>
<script src="client/js/jquery.peity.min.js"></script>
<script src="client/js/fullcalendar.min.js"></script>
<script src="client/js/maruti.js"></script>
<script src="client/js/maruti.dashboard.js"></script>
<script src="client/js/maruti.calendar.js"></script>
<script type="text/javascript">




</script>
</body>
</html>