<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
</head>
<body>
{{obj.header}}
<{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/egitim" title="Anasayfa" class="tip-bottom current"><i class="icon-home"></i>Eğitim Anasayfa</a>
            <a href="/egitimtipleri"><i class="icon-bullhorn"></i>Eğitim Tipleri</a>
            <a href="/egitimlistesi"><i class="icon-barcode"></i>Eğitim Listesi</a>
            <a href="/egitimcilistesi"><i class="icon-thumbs-up"></i>Eğitimciler</a>
            <a href="/egitimolustur"><i class="icon-asterisk"></i>Eğitim Oluştur</a>
        </div>
        <h1>Öğretmen Güncelle / Giriş</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <form id="form" action="/egitimcidetay" method="POST" enctype="application/json">
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"> <i class="icon-ok-sign"></i> </span>
                            <h5>Öğretmen</h5>
                            <input type="hidden" id="id" name="id" value="{{obj.id}}">
                        </div>
                        <div class="widget-content">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Tanım</th>
                                    <th>Açıklama</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Öğretmen İsmi</td>
                                    <td><input name="isim" type="text" value="{{obj.isim}}"/></td>
                                </tr>
                                <tr>
                                    <td>Öğretmen Soyadı</td>
                                    <td><input name="soyad" type="text" value="{{obj.soyad}}"/></td>
                                </tr>
                                <tr>
                                    <td>Telefon</td>
                                    <td><input name="telefon" type="text" value="{{obj.telefon}}"/></td>
                                </tr>
                                <tr>
                                    <td>Tc No</td>
                                    <td><input name="tcid" type="text" value="{{obj.tcId}}"/></td>
                                </tr>
                                <tr>
                                    <td>Durum</td>
                                    <td>{{obj.Select.Status}}</td>
                                </tr>
                                <tr>
                                    <td>Tipi</td>
                                    <td>{{obj.Select.EducatorType}}</td>
                                </tr>
                                <tr>
                                    <td>Açıklama</td>
                                    <td><textarea name="description" style="margin: 0px 0px 10px; width: 431px; height: 81px;">{{obj.aciklama}}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="submit" class="btn btn-success" value="Güncelle"/>
                                        <input id="btnDelete" type="button" class="btn btn-danger" value="Sil" style="float: right;"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{obj.footer}}
{{obj.bottomscriptsdetay}}


<script type="text/javascript">
    $(document).ready(function () {
        var Id = $('#id').val();
        if (Id == 0) {
            $('#btnDelete').remove();
        }

        $('#btnDelete').click(function () {
            var isDelete = confirm("Kayıt Siliniyor, Onaylıyormusunuz?");
            if (isDelete) {
                $.ajax({
                    url: '/egitimcisil',
                    type: 'POST',
                    data: 'id=' + document.getElementById('id').value,
                    success: function (result) {
                        if (result.status == "ok") {
                            document.location.href = '/egitimcilistesi';
                        }
                    },
                    error: function () {
                        global.writeErr('Eğitimcilerin güncellenmesi sırasında bir hata oluştu');
                    }

                });
            }
        });
    });


</script>
</body>
</html>
