<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}

</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="/anasayfa" class="visible-phone"><i class="icon icon-th-list"></i>Menu</a>
    <ul>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/egitim" title="Anasayfa" class="tip-bottom current"><i class="icon-home"></i>Eğitim Anasayfa</a>
            <a href="/egitimtipleri"><i class="icon-bullhorn"></i>Eğitim Tipleri</a>
            <a href="/egitimlistesi" class="current"><i class="icon-barcode"></i>Eğitim Listesi</a>
            <a href="/egitimcilistesi" ><i class="icon-thumbs-up"></i>Eğitimciler</a>
            <a href="/egitimolustur"><i class="icon-asterisk"></i>Eğitim Oluştur</a>
        </div>

        <h1>Eğitim Listesi</h1>

        <div class="span4">
            <div class="control-group span4">
                <a href="/egitimdetay?id=0" class="btn btn-success">Yeni Eğitim Girişi</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                    <span class="icon">
                        <i class="icon-align-justify"></i>
                    </span>
                        <h5>Eğitimler</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr class="gradeX">
                                <th>No</th>
                                <th>Eğitim ismi</th>
                                <th>Tipi</th>
                                <th>Durumu</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{obj.}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row-fluid">
    <div id="footer" class="span12"> 2021 &copy; Metal İş Sendikası</div>
</div>
<script src="client/js/excanvas.min.js"></script>
<script src="client/js/jquery.min.js"></script>
<script src="client/js/jquery.ui.custom.js"></script>
<script src="client/js/bootstrap.min.js"></script>

<script src="client/js/jquery.peity.min.js"></script>
<script src="client/js/fullcalendar.min.js"></script>
<script src="client/js/maruti.js"></script>
<script src="client/js/jquery.dataTables.min.js"></script>
<script src="client/js/maruti.dashboard.js"></script>
<script src="client/js/maruti.calendar.js"></script>

<script type="text/javascript">


</script>
</body>
</html>