<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>




<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i>Anasayfa</a>
            <a href="/genelraporlar"><i class="icon-book"></i>Subeler</a>
            <a href="/genelraporlaristatistik"><i class="icon-align-left"></i>İstatistik</a>
            <a href="/genelraporlarisimligiriscikis"><i class="icon-info-sign"></i>İsimli G/Ç</a>
            <a href="/genelraporlargiriscikis" class="current"><i class="icon-info-sign"></i>Giriş / Çıkış</a>
            <a href="/genelraporlarkayitlistesi"><i class="icon-info-sign"></i>Kayıt Listesi</a>
            <a href="/genelraporlarkayitdefteri"><i class="icon-info-sign"></i>Kayıt Defteri</a>
            <a href="/genelraporlarorgbaslangic"><i class="icon-info-sign"></i>Org. Başlangıç</a>
            <a href="/genelraporlaruyeliklistesi"><i class="icon-info-sign"></i>Üyelik Listesi</a>
            <a href="/genelraporlarsonhareketler"><i class="icon-info-sign"></i>Son Hareketler</a>
        </div>
        <h1>Genel Giriş / Çıkış</h1>

        <input type="hidden" value="{{obj.isyeri.isyeriid}}" id="intisyeriid">
        <div class="span4">
            <div class="control-group span4">
                <label class="control-label">Başlangıç Tarihi :</label>
                <div class="controls">
                    <input type="date" id="startDate" />
                </div>
            </div>
            <div class="control-group span4">
                <label class="control-label">Bitiş Tarihi :</label>
                <div class="controls">
                    <input type="date" id="endDate" />
                </div>
            </div>
            <div class="control-group span4">
                <div class="controls">
                    <input type="button" id="btnQuery" value="Listele">
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="span2" style="float: right; display: flex;">
                <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
                <a id="excelid" href="/genelraporlargiriscikisExcel?startdate=&enddate=" style="display: content;">
                    <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
                </a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box" id="printArea">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table" id="tblreport">
                                <thead>
                                <tr>
                                    <th style="width:100px">Yıl</th>
                                    <th>Ay</th>
                                    <th>Şube</th>
                                    <th>Kayıt</th>
                                    <th>İstifa</th>
                                    <th>Madde 17</th>
                                    <th>Madde 25</th>
                                    <th>Emekli</th>
                                    <th>Kalan</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal window -->
    <div class="modal hide" id="modal-add-event" style="width: unset; left: calc(50% + 191px);">

        <div class="modal-body" style="width: 154px;" >
            <div class="loader" style=""></div>
        </div>

    </div>
    <!-- modal window end -->
    {{obj.footer}}
    {{obj.bottomscripts}}
</body>

<script type="text/javascript">

    $(document).ready(function () {

        $('#printIt').click(function () {
            $('#printArea').printThis({
                importCSS: true
            });
        });


        $('#btnQuery').click(function () {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var excelUrl = '/genelraporlargiriscikisExcel?startDate=' + startDate + '&endDate=' + endDate;
            $('#modal-add-event').modal('show');
            $('#excelid').attr('href', excelUrl);
            getData(startDate, endDate, function (result) {
                console.log(result);
                insertTableData(result);
            });
        })
    });

    function getData(startDate, endDate, cb) {
        selectedStartDate = startDate;
        selectedEndDate = endDate;
        $.ajax({
            url: '/genelraporlargiriscikisAjax',
            type: 'GET',
            data: 'startDate=' + startDate + '&endDate=' + endDate,
            success: function (result) {
                if (typeof cb !== "undefined") {
                    cb(result);
                }
            },
            error: function () {
                global.writeErr('isyeri giris çıkış verilerinin sorgulanması sırasında hata oluştu');
            }
        });
    }


    function insertTableData(result) {
        $('.data-table tbody').html('');//this clears data in table

        setTimeout(async function () {
            var html = '';
            html += '<tr class="gradeX"><td>' + selectedStartDate + '</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>' + JSON.parse(result.tillStart[0]).count + '</td></tr>';
            var monthYear = "";
            if (result.interval.length > 0) {
                var item = JSON.parse(result.interval[0]);
                monthYear = item.year + '_' + item.month;
            }
            var month = 0;
            var year = 0;
            var total_kayit = 0;
            var total_istifa = 0;
            var total_madde17 = 0;
            var total_madde25 = 0;
            var total_emekli = 0;
            var monthly_kayit = 0;
            var monthly_istifa = 0;
            var monthly_madde17 = 0;
            var monthly_madde25 = 0;
            var monthly_emekli = 0;

            for (let i = 0; i < result.interval.length; i++) {
                let item = JSON.parse(result.interval[i]);
                month = item.month;
                year = item.year;
                

                if(`${item.year}_${item.month}`!= monthYear ){
                    monthYear = item.year + '_' + item.month;
                    var lastDayDateOfMonth = getDaysInMonth(item.year, item.month - 1);
                    var strMonth = item.month < 10 ? "0"+item.month:item.month;

                    var strLastDayDate =  item.year+"-"+strMonth+"-"+ lastDayDateOfMonth ;
                    let lastdateResult =  await getMonthlyValueAsync(strLastDayDate);
                    html += '<tr class="gradeX">';
                    html += '<td>' + item.year + '</td>';
                    html += '<td>' + item.month + '</td>';
                    html += '<td>---------Aylık Toplam-----------</td>';
                    html += '<td>' + monthly_kayit + '</td>';
                    html += '<td>' + monthly_istifa + '</td>';
                    html += '<td>' + monthly_madde17 + '</td>';
                    html += '<td>' + monthly_madde25 + '</td>';
                    html += '<td>' + monthly_emekli + '</td>';
                    html += '<td>' + JSON.parse(lastdateResult[0]).count + '</td>';
                    html += '</tr>';
                    monthly_kayit = 0;
                    monthly_istifa = 0;
                    monthly_madde17 = 0;
                    monthly_madde25 = 0;
                    monthly_emekli = 0;
                }

                html += '<tr class="gradeX">';
                html += '<td>' + item.year + '</td>';
                html += '<td>' + item.month + '</td>';
                html += '<td>' + item.isim + '</td>';
                html += '<td>' + item.kayit + '</td>';
                html += '<td>' + item.istifa + '</td>';
                html += '<td>' + item.madde17 + '</td>';
                html += '<td>' + item.madde25 + '</td>';
                html += '<td>' + item.emekli + '</td>';
                html += '<td></td>';
                html += '</tr>';
                
                total_kayit += parseInt(item.kayit);
                total_istifa += parseInt(item.istifa);
                total_madde17 += parseInt(item.madde17);
                total_madde25 += parseInt(item.madde25);
                total_emekli += parseInt(item.emekli);
                monthly_kayit += parseInt(item.kayit);
                monthly_istifa += parseInt(item.istifa);
                monthly_madde17 += parseInt(item.madde17);
                monthly_madde25 += parseInt(item.madde25);
                monthly_emekli += parseInt(item.emekli);

            }

            if (item){
                var lastDayDateOfMonth = getDaysInMonth(year, month - 1);
                var strMonth = item.month < 10 ? "0"+item.month:item.month;

                var strLastDayDate =  item.year+"-"+strMonth+"-"+ lastDayDateOfMonth ;
                html += '<tr class="gradeX">';
                html += '   <td>' + selectedEndDate+ '</td><td></td>' +
                    '<td>---- Genel Toplam ----</td>' +
                    '<td>'+total_kayit+'</td>' +
                    '<td>'+total_istifa+'</td>' +
                    '<td>'+total_madde17+'</td>' +
                    '<td>'+total_madde25+'</td>' +
                    '<td>'+total_emekli+'</td>' +
                    '<td>' + JSON.parse(result.tillEnd[0]).count + '</td>';
                html += '</tr>';
               /*
                $.ajax({
                    url: '/genelraporlartilldayCountAjax',
                    type: 'GET',
                    async: false,
                    data: 'startdate=' + strLastDayDate,
                    success: function (lastdateResult) {
                        html += '<tr class="gradeX">';
                        html += '   <td>' + selectedEndDate+ '</td><td></td>' +
                            '<td>---- Genel Toplam ----</td>' +
                            '<td>'+total_kayit+'</td>' +
                            '<td>'+total_istifa+'</td>' +
                            '<td>'+total_madde17+'</td>' +
                            '<td>'+total_madde25+'</td>' +
                            '<td>'+total_emekli+'</td>' +
                            '<td>' + JSON.parse(result.tillEnd[0]).count + '</td>';
                        html += '</tr>';
                    },
                    error: function () {
                        global.writeErr('last day of the month result error');
                    }
                });
                */
            }else {
                html += '<tr class="gradeX">';
                html += '   <td>' + selectedEndDate+ '</td><td></td>' +
                    '<td>---- Genel Toplam ----</td>' +
                    '<td>'+total_kayit+'</td>' +
                    '<td>'+total_istifa+'</td>' +
                    '<td>'+total_madde17+'</td>' +
                    '<td>'+total_madde25+'</td>' +
                    '<td>'+total_emekli+'</td>' +
                    '<td>' + JSON.parse(result.tillEnd[0]).count + '</td>';
                html += '</tr>';
            }

            $('#modal-add-event').modal('hide');
            $('.data-table tbody').html(html);
        }, 200);
    }

    function getMonthlyValue(strLastDayDate ,cb){
            $.ajax({
                url: '/genelraporlartilldayCountAjax',
                type: 'GET',
                async: false,
                data: 'startdate=' + strLastDayDate,
                success: function (lastdateResult) {
                    cb && cb(lastdateResult);
                },
                error: function () {
                    global.writeErr('last day of the month result error');
                }
            });
    }

    function getMonthlyValueAsync(strLastDayDate){
        return new Promise((resolve, reject)=>{
            getMonthlyValue(strLastDayDate, (result)=>{
                resolve(result);
            });
        });
    }


</script>
</html>
