<!DOCTYPE html>
<html lang="tr">
<head>
<title>{{obj.projTitle}}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{obj.headerCss}}
<style type="text/css">
  tr{
    cursor: pointer;
  }
</style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
    {{obj.menuItems}}
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i>Anasayfa</a>
      <a href="/genelraporlar" class="current"><i class="icon-book"></i>Subeler</a>
      <a href="/genelraporlaristatistik"><i class="icon-align-left"></i>İstatistik</a>
      <a href="/genelraporlarisimligiriscikis"><i class="icon-info-sign"></i>İsimli G/Ç</a>
      <a href="/genelraporlargiriscikis"><i class="icon-info-sign"></i>Giriş / Çıkış</a>
      <a href="/genelraporlarkayitlistesi"><i class="icon-info-sign"></i>Kayıt Listesi</a>
      <a href="/genelraporlarkayitdefteri"><i class="icon-info-sign"></i>Kayıt Defteri</a>
      <a href="/genelraporlarorgbaslangic"><i class="icon-info-sign"></i>Org. Başlangıç</a>
      <a href="/genelraporlaruyeliklistesi"><i class="icon-info-sign"></i>Üyelik Listesi</a>
      <a href="/genelraporlarsonhareketler"><i class="icon-info-sign"></i>Son Hareketler</a>
    </div>
    <h1>Şube Listesi</h1>
    <div class="span4">
      <div class="control-group span4">
        <a href="/sube?editsube=0"  class="btn btn-success" target="_blank">Yeni Şube Girişi</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="span2" style="float: right; display: flex;">
      <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
      <a id="excelid" href="/genelraporlarsubeExcel" style="display: content;">
        <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
      </a>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box" id="printArea">
          <div class="widget-title">
             <span class="icon"><i class="icon-th"></i></span> 
            <h5>Şubeler</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Şube İsim</th>
                  <th>Telefon</th>
                  <th>Adres</th>
                </tr>
              </thead>
              <tbody>
                {{obj.subelist}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}
<script type="text/javascript">
$(document).ready(function () {
    $('#printIt').click(function () {
        $('#printArea').printThis({
            importCSS:true
        });
    });
});
</script>
</body>
</html>
