<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style type="text/css">
        tr {
            cursor: pointer;
        }

        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i>Anasayfa</a>
            <a href="/genelraporlar" class="current"><i class="icon-book"></i>Subeler</a>
            <a href="/genelraporlaristatistik"><i class="icon-align-left"></i>İstatistik</a>
            <a href="/genelraporlarisimligiriscikis"><i class="icon-info-sign"></i>İsimli G/Ç</a>
            <a href="/genelraporlargiriscikis"><i class="icon-info-sign"></i>Giriş / Çıkış</a>
            <a href="/genelraporlarkayitlistesi"><i class="icon-info-sign"></i>Kayıt Listesi</a>
            <a href="/genelraporlarkayitdefteri"><i class="icon-info-sign"></i>Kayıt Defteri</a>
            <a href="/genelraporlarorgbaslangic"><i class="icon-info-sign"></i>Org. Başlangıç</a>
            <a href="/genelraporlaruyeliklistesi" class="current"><i class="icon-info-sign"></i>Üyelik Listesi</a>
            <a href="/genelraporlarsonhareketler"><i class="icon-info-sign"></i>Son Hareketler</a>
        </div>
        <h1>Üyelik Listesi</h1>
        <input type="hidden" value="{{obj.isyeri.isyeriid}}" id="intisyeriid">
        <div class="span4">
            <div class="control-group span4">
                <label class="control-label">Tarih İtibariyle :</label>
                <div class="controls">
                    <input type="date" id="endDate"/>
                </div>
            </div>
            <div class="control-group span4">
                <label class="control-label">İşyeri Örgsütlenme Durum :</label>
                <div class="controls">
                    {{obj.select.orgutlenmetype}}
                </div>
            </div>
            <div class="control-group span4">
                <div class="controls">
                    <input type="button" id="btnQuery" value="Listele">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="span2" style="float: right; display: flex;">
                <input id="printIt" class="btn btn-info" value="Yazdır"
                       style="height: 25px; width:60px; margin-top: 15px;">
                <a id="excelid" href="/genekraporlaruyelistesiExcel?endDate=&orgutlenmedurum=" style="display: content;">
                    <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
                </a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box" id="printArea">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5 id="listCount"></h5>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table" id="tblreport">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Ad</th>
                                    <th>Soyad</th>
                                    <th>Telefon</th>
                                    <th>TC Kimlik No</th>
                                    <th>Onay Kodu</th>
                                    <th>Tarih</th>
                                    <th>İşyeri</th>
                                    <th>Şube</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal window -->
    <div class="modal hide" id="modal-add-event" style="width: unset; left: calc(50% + 191px);">

        <div class="modal-body" style="width: 154px;">
            <div class="loader"></div>
        </div>

    </div>
    <!-- modal window end -->
    {{obj.footer}}
    {{obj.bottomscripts}}
</div>
</body>

<script type="text/javascript">

    $(document).ready(function () {

        $('#printIt').click(function () {
            $('#printArea').printThis({
                importCSS: true
            });
        });

        $('#btnQuery').click(function () {
            var endDate = $('#endDate').val();
            var orgutType = $('#orgutlenmeType').val();
            $('#modal-add-event').modal('show');
            var excelUrl = '/genekraporlaruyelistesiExcel?endDate=' + endDate + '&orgutlenmedurum=' + orgutType;
            $('#excelid').attr('href', excelUrl);
            getData(endDate, orgutType, function (result) {
                insertTableData(result);
            });
        })
    });

    function getData(endDate, orgutType, cb) {
        selectedEndDate = endDate;
        $.ajax({
            url: '/genelraporlaruyeliklistesiAjax',
            type: 'GET',
            data: 'endDate=' + endDate + '&orguttype=' + orgutType,
            success: function (result) {
                if (typeof cb !== "undefined") {
                    console.log(result);
                    cb(result);
                }
            },
            error: function () {
                global.writeErr('genel raporlar üyelik listesi verilerinin sorgulanması sırasında hata oluştu');
            }
        });
    }


    function insertTableData(result) {
        $('.data-table tbody').html('');//this clears data in table
        $('#listCount').text('Sayı : ' + result.length);
        setTimeout(function () {
            var html = '';
            var len = result.length;
            for (var i = 0; i < len; i++) {
                var item = JSON.parse(result[i]);
                html += '<tr class="gradeX">';
                html += '<td>' + (i + 1) + '</td>';
                html += '<td>' + item.calisanisim + '</td>';
                html += '<td>' + item.soyisim + '</td>';
                html += '<td>' + item.telefon + '</td>';
                html += '<td>' + item.vatandaslik_no + '</td>';
                html += '<td>' + ((item.dogrulama_kodu == null) ? '' : item.dogrulama_kodu) + '</td>';
                var tarihArr = item.tarih.split('T')[0].split('-');
                var tarih = tarihArr[2] + '.' + tarihArr[1] + '.' + tarihArr[0];
                html += '<td>' + tarih + '</td>';
                html += '<td>' + item.isyeriisim + '</td>';
                html += '<td>' + item.subeisim + '</td>';
                html += '</tr>';
            }

            $('.data-table tbody').html(html);
            $('#modal-add-event').modal('hide');
        }, 200);
    }


</script>
</html>
