<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i>Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
            <a href="/genelraporlar"><i class="icon-book"></i>Subeler</a>
            <a href="/genelraporlaristatistik" class="current"><i class="icon-align-left"></i>İstatistik</a>
            <a href="/genelraporlarisimligiriscikis"><i class="icon-info-sign"></i>İsimli G/Ç</a>
            <a href="/genelraporlargiriscikis"><i class="icon-info-sign"></i>Giriş / Çıkış</a>
            <a href="/genelraporlarkayitlistesi"><i class="icon-info-sign"></i>Kayıt Listesi</a>
            <a href="/genelraporlarkayitdefteri"><i class="icon-info-sign"></i>Kayıt Defteri</a>
            <a href="/genelraporlarorgbaslangic"><i class="icon-info-sign"></i>Org. Başlangıç</a>
            <a href="/genelraporlaruyeliklistesi"><i class="icon-info-sign"></i>Üyelik Listesi</a>
            <a href="/genelraporlarsonhareketler"><i class="icon-info-sign"></i>Son Hareketler</a>
        </div>
        <h1>Genel İstatistik Raporu</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
                Örgütlenme Durumu: {{obj.select.orgutlenme}}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="span2" style="float: right; display: flex;">
            <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
            <a id="excelid" href="/genelraporlaristatistikExcel?durum=1" style="display: content;">
                <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
            </a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box" id="printArea">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>Sayı : <span id="theCount">{{obj.calisan.count}}</span></h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>Şube İsim</th>
                                <th>Üye</th>
                                <th>Erkek</th>
                                <th>Kadın</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{obj.isyeriIstatistikList}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal window -->
<div class="modal hide" id="modal-add-event" style="width: unset; left: calc(50% + 191px);">
    <div class="modal-body" style="width: 154px;" >
        <div class="loader" style=""></div>
    </div>
</div>
<!-- modal window end -->
{{obj.footer}}
{{obj.bottomscripts}}
</body>
<script type="text/javascript">
    $(document).ready(function () {

        $('#printIt').click(function () {
            $('#printArea').printThis({
                importCSS:true
            });
        });


        $('#orgutlenmeType').change(function () {
            var orgutlenmeDurumu = $(this).val();
            var excelUrl = '/genelraporlaristatistikExcel?durum='+orgutlenmeDurumu;
            $('#excelid').attr('href', excelUrl);
            $('#modal-add-event').modal('show');
            //dt.fnFilter(filter, 2, true, false);
            ajaxReq(orgutlenmeDurumu, function (result) {
                regenerateTable(result);
                $('#modal-add-event').modal('hide');
            });
        });

    });

    function regenerateTable(result) {
        $('.data-table tbody').html('');//this clears data in table
        setTimeout(function () {
            var html = '';
            var totalCount = 0;
            for (var i = 0; i < result.length; i++) {
                var item = JSON.parse(result[i]);
                html += '<tr class="gradeX">';
                html += '<td>' + item.isim + '</td>';
                html += '<td>' + item.calisan + '</td>';
                html += '<td>' + item.erkek + '</td>';
                html += '<td>' + item.kadin + '</td>'
                html += '</tr>';
                totalCount += parseInt(item.calisan);
            }

            $('#theCount').text(totalCount);
            $('.data-table tbody').html(html);
        }, 200);
    }

    function ajaxReq(orgutlenmeDurumu, cb) {

        $.ajax({
            url: '/genelraporlarAjaxistatistik',
            type: 'GET',
            data: 'orgutlenmedurumu=' + orgutlenmeDurumu,
            success: function (result) {
                if (typeof cb !== "undefined") {
                    cb(result);
                }
            },
            error: function () {
                global.writeErr('şube örgütdurum değişikliği işlemi sırasında hata oluştu');
            }
        });


    }


</script>
</html>
