<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style type="text/css">
        table.kayitDefteriTable, table.kayitDefteriTable td {
            border: 1px solid black;
            line-height: 12px;
        }
        table.kayitDefteriTable{
            margin-bottom: 20px;
            font-family: Arial, sans-serif;
        }
        #datalist{
            font-size: 11px;
        }

    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i>Anasayfa</a>
            <a href="/genelraporlar"><i class="icon-book"></i>Subeler</a>
            <a href="/genelraporlaristatistik"><i class="icon-align-left"></i>İstatistik</a>
            <a href="/genelraporlarisimligiriscikis"><i class="icon-info-sign"></i>İsimli G/Ç</a>
            <a href="/genelraporlargiriscikis"><i class="icon-info-sign"></i>Giriş / Çıkış</a>
            <a href="/genelraporlarkayitlistesi"><i class="icon-info-sign"></i>Kayıt Listesi</a>
            <a href="/genelraporlarkayitdefteri" class="current"><i class="icon-info-sign"></i>Kayıt Defteri</a>
            <a href="/genelraporlarorgbaslangic"><i class="icon-info-sign"></i>Org. Başlangıç</a>
            <a href="/genelraporlaruyeliklistesi"><i class="icon-info-sign"></i>Üyelik Listesi</a>
            <a href="/genelraporlarsonhareketler"><i class="icon-info-sign"></i>Son Hareketler</a>
        </div>
        <h1>Birleşik Metal İş Üye Kayıt Defteri Listesi</h1>

        <input type="hidden" value="{{obj.isyeri.isyeriid}}" id="intisyeriid">
        <div class="span4">
            <div class="control-group span4">
                <label class="control-label">Başlangıç Tarihi :</label>
                <div class="controls">
                    <input type="date" id="startDate"/>

                </div>
            </div>
            <div class="control-group span4">
                <label class="control-label">Bitiş Tarihi :</label>
                <div class="controls">
                    <input type="date" id="endDate"/>
                </div>
            </div>
            <div class="control-group span4">
                <div class="controls">
                    <input type="button" id="btnQuery" value="Listele">
                </div>
            </div>


        </div>

        <div class="container-fluid">
            <div class="span2" style="float: right; display: flex;">
                <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
            </div>
        </div>


        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box" id="printArea">
                        <style type="text/css">
                            table.kayitDefteriTable, table.kayitDefteriTable td {
                                border: 1px solid black;
                                line-height: 12px;
                            }
                            table.kayitDefteriTable{
                                margin-bottom: 20px;
                                font-family: Arial, sans-serif;
                            }
                            #datalist{
                                font-size: 12px;
                            }

                        </style>
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                        </div>
                        <div id="datalist" class="widget-content nopadding">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{obj.footer}}
    {{obj.bottomscripts}}
    <!-- modal window -->
    <div class="modal hide" id="modal-add-event" style="width: unset; left: calc(50% + 191px);">

        <div class="modal-body" style="width: 154px;" >
            <div class="loader" style=""></div>
        </div>

    </div>
    <!-- modal window end -->
</body>
<script src="client/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#printIt').click(function () {
            $('#printArea').printThis({
                importCSS: true
            });
        });

        var currentDate = new Date();
        $('.datepicker').datepicker("setValue", currentDate);

        $('#btnQuery').click(function () {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            $('#modal-add-event').modal('show');
            getData(startDate, endDate, function (result) {
                //console.log(result);
                insertTableData(result);
                $('#modal-add-event').modal('hide');
            });
        })
    });

    function getData(startDate, endDate, cb) {
        selectedStartDate = startDate;
        selectedEndDate = endDate;
        $.ajax({
            url: '/genelraporlarkayitdefteriAjax',
            type: 'GET',
            data: 'startDate=' + startDate + '&endDate=' + endDate,
            success: function (result) {
                if (typeof cb !== "undefined") {
                    cb(result);
                }
            },
            error: function () {
                global.writeErr('isyeri giris çıkış verilerinin sorgulanması sırasında hata oluştu');
            }
        });
    }


    function insertTableData(result) {
        $('#datalist').html('');//this clears data in table

        setTimeout(function () {
            var html = '';
            for (var i = 0; i < result.length; i++) {
                var item = JSON.parse(result[i]);
                html +=createCard(item);
            }
            $('#datalist').html(html);
        }, 200);
    }


    var createCard = function (data) {
        var tableTemplate = '<table style="width: 200mm" class="kayitDefteriTable">' +
            '<thead>' +
            '<tr>' +
            '<th style="width: 12%"></th>' +
            '<th style="width: 8%"></th>' +
            '<th style="width: 14%"></th>' +
            '<th style="width: 8%"></th>' +
            '<th style="width: 22%"></th>' +
            '<th style="width: 14%"></th>' +
            '<th style="width: 22%"></th>' +
            '</tr>' +
            '</thead>' +
            '<tbody>' +
            '<tr>' +
            '<td colspan="7" style="font-size: 18px; text-align: center; ">BİRLEŞİK METAL İŞ ÜYE KAYIT DEFTERİ</td>' +
            '</tr>' +
            '<tr>' +
            '<td style="font-weight: bold">' + 'Üyenin Sendika Sicil No' + '</td>' +
            '<td colspan="4" style="font-weight: bold">' + 'ÜYENİN BAĞLI BULUNDUGU SOSYAL GÜVENLİK KURULUŞUNUN ADI VE SİCİL NO :' + '</td>' +
            '<td colspan="2">&nbsp;</td>' +
            '</tr>' +
            '<tr>' +
            '<td rowspan="10">&nbsp;</td>' +
            '<td colspan="2" style="font-weight: bold">ADI,SOYADI:</td>' +
            '<td colspan="2">{{data.adsoyad}}</td>' +
            '<td colspan="2" style="font-weight: bold">ÇALIŞTIĞI İŞYERİNİN ÜNVANI:</td>' +
            '</tr>' +
            '<tr>' +
            '<td colspan="2" style="font-weight: bold">BABA ADI  :</td>' +
            '<td colspan="2">{{data.babaadi}}</td>' +
            '<td colspan="2">{{data.isyeriisim}}</td>' +
            '</tr>' +
            '<tr>' +
            '<td colspan="2" style="font-weight: bold">ANA ADI   :</td>' +
            '<td colspan="2">{{data.anaadi}}</td>' +
            '<td colspan="2" style="font-weight: bold">ÇALIŞTIĞI İŞYERİNİN ADRESİ:</td>' +
            '</tr>' +
            '<tr>' +
            '<td colspan="2" style="font-weight: bold">DOĞUM YERİ TARİHİ:</td>\n' +
            '<td colspan="2"> {{data.dogumtarihi}} - {{data.dogumyeri}}' +
            '</td>' +
            '<td colspan="2" rowspan="3">{{data.isyeriadres}}</td>' +
            '</tr>' +
            '<tr>' +
            '<td colspan="4" style="font-weight: bold">NÜFUSA KAYITLI OLDUĞU YER : </td>' +
            '</tr>' +
            '<tr>' +
            '<td style="font-weight: bold">İLİ:</td>' +
            '<td>{{data.ili}}</td>' +
            '<td style="font-weight: bold">İLÇESİ:</td>' +
            '<td>{{data.ilce}}</td>' +
            '</tr>' +
            '<tr>' +
            '<td style="font-weight: bold">KÖY:</td>' +
            '<td>{{data.koyu}}</td>' +
            '<td style="font-weight: bold">MAHALLE:</td>' +
            '<td>{{data.mahalle}}</td>' +
            '<td style="font-weight: bold">İŞE GİRİŞ TARİHİ:</td>' +
            '<td>' + '&nbsp;' + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td rowspan="3"><span style="font-weight: bold">HANE:</span><br>{{data.hane}}</td>' +
            '<td rowspan="3"><span style="font-weight: bold">CİLT:</span><br>{{data.cilt}}</td>' +
            '<td rowspan="3"><span style="font-weight: bold">SAYFA:</span><br>{{data.sayfa}}</td>' +
            '<td rowspan="3">&nbsp;</td>' +
            '</tr>' +
            '<tr>' +
            '<td style="font-weight: bold">ÜYELİĞE KABUL TARİHİ:</td>' +
            '<td>{{data.uyeliktarihi}}</td>' +
            '</tr>' +
            '<tr>' +
            '<td style="font-weight: bold">ÜYELİĞE KABUL NO:</td>' +
            '<td>{{data.kararno}}</td>' +
            '</tr>' +
            '</tbody>' +
            '</table>';

        tableTemplate = tableTemplate.replace(new RegExp('{{data.adsoyad}}', 'g'), data.isim +','+data.soyisim);
        tableTemplate = tableTemplate.replace(new RegExp('{{data.anaadi}}', 'g'), data.anaismi);
        tableTemplate = tableTemplate.replace(new RegExp('{{data.babaadi}}', 'g'), data.babaismi);
        tableTemplate = tableTemplate.replace(new RegExp('{{data.isyeriisim}}', 'g'), data.isyeriisim);
        tableTemplate = tableTemplate.replace(new RegExp('{{data.dogumtarihi}}', 'g'), data.dogumyili);
        tableTemplate = tableTemplate.replace(new RegExp('{{data.dogumyeri}}', 'g'), data.dogumyeri);
        tableTemplate = tableTemplate.replace(new RegExp('{{data.isyeriadres}}', 'g'), data.adres);
        tableTemplate = tableTemplate.replace(new RegExp('{{data.ili}}', 'g'), data.nkil);
        tableTemplate = tableTemplate.replace(new RegExp('{{data.ilce}}', 'g'), data.nkilce);
        tableTemplate = tableTemplate.replace(new RegExp('{{data.koyu}}', 'g'), data.nkkoy);
        tableTemplate = tableTemplate.replace(new RegExp('{{data.mahalle}}', 'g'), data.nkmahalle);
        tableTemplate = tableTemplate.replace(new RegExp('{{data.hane}}', 'g'), data.nkhane);
        tableTemplate = tableTemplate.replace(new RegExp('{{data.cilt}}', 'g'), data.nkcilt);
        tableTemplate = tableTemplate.replace(new RegExp('{{data.sayfa}}', 'g'), data.nksayfa);
        var tarihArr = data.tarih.split('T')[0].split('-');
        var tarih = tarihArr[2]+'.'+tarihArr[1]+'.'+tarihArr[0];
        tableTemplate = tableTemplate.replace(new RegExp('{{data.uyeliktarihi}}', 'g'), tarih);
        tableTemplate = tableTemplate.replace(new RegExp('{{data.kararno}}', 'g'), data.kararno);
        return tableTemplate;

    };


</script>
</html>
