<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i>Anasayfa</a>
            <a href="/genelraporlar"><i class="icon-book"></i>Subeler</a>
            <a href="/genelraporlaristatistik"><i class="icon-align-left"></i>İstatistik</a>
            <a href="/genelraporlarisimligiriscikis"><i class="icon-info-sign"></i>İsimli G/Ç</a>
            <a href="/genelraporlargiriscikis"><i class="icon-info-sign"></i>Giriş / Çıkış</a>
            <a href="/genelraporlarkayitlistesi" class="current"><i class="icon-info-sign"></i>Kayıt Listesi</a>
            <a href="/genelraporlarkayitdefteri"><i class="icon-info-sign"></i>Kayıt Defteri</a>
            <a href="/genelraporlarorgbaslangic"><i class="icon-info-sign"></i>Org. Başlangıç</a>
            <a href="/genelraporlaruyeliklistesi"><i class="icon-info-sign"></i>Üyelik Listesi</a>
            <a href="/genelraporlarsonhareketler" class="current"><i class="icon-info-sign"></i>Son Hareketler</a>
        </div>
        <h1>Kayıt Listesi</h1>

        <input type="hidden" value="{{obj.isyeri.isyeriid}}" id="intisyeriid">
        <div class="span4">

            <div class="control-group span4">
                <label class="control-label">Geçmiş (gün) :</label>
                <div class="controls">
                    <input type="number" id="daysCount" class="span3">
                </div>
            </div>
            <div class="control-group span4">
                <div class="controls">
                    <input type="button" id="btnQuery" value="Listele">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="span2" style="float: right; display: flex;">
                <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
                <a id="excelid" href="/genekraporlarsonhareketlerExcel?gun={{obj.prm.gun}}" style="display: content;">
                    <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
                </a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box" id="printArea">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table" id="tblreport">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Tarih</th>
                                    <th>Ad</th>
                                    <th>Soyad</th>
                                    <th>Vat. No</th>
                                    <th>İşyeri</th>
                                    <th>BÇM No</th>
                                    <th>Şube</th>
                                    <th>Hareket Tipi</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {{obj.data.list}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{obj.footer}}
    {{obj.bottomscripts}}
</div>
</body>
<script src="client/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
var theData = {{obj.data.pure}};
    $(document).ready(function () {

        $('#printIt').click(function () {
            $('#printArea').printThis({
                importCSS: true
            });
        });

        $('#btnQuery').click(function () {
            var days = $('#daysCount').val();
            document.location.href = '/genelraporlarsonhareketler?gun='+days;
        })
    });

</script>
</html>
