<!DOCTYPE html>
<html lang="tr">
<head>
  <title>{{obj.projTitle}}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{obj.headerCss}}
</head>
<body>
{{obj.header}}
<{{pre.userMenu}}
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
    {{obj.menuItems}}
  </ul>
</div>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" ><i class="icon-home"></i> Anasayfa</a>
      <a href="/uyedetay?uyeid={{obj.hareket.uyeid}}" >Üye Sayfasına Geridön<i class="icon-arrow-left"></i></a>
    </div>
    <h1>Üye: {{obj.uye.isim}} {{obj.uye.soyisim}} Hareket <span id="hareketType">Güncelle</span> </h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <form id="subedetayform" action="/hareketdetaypost" method="POST" enctype="application/json">
          <div class="widget-box">
            <div class="widget-title"><span class="icon"> <i class="icon-ok-sign"></i> </span>
              <h5>Hareket</h5>
              <input type="hidden" name="uyeid" value="{{obj.hareket.uyeid}}">
              <input type="hidden" id="hareketid" name="hareketid" value="{{obj.hareket.hareketid}}">
            </div>
            <div class="widget-content">
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Tanım</th>
                  <th>Açıklama</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Hareket Tarihi</td>
                  <td><input name="tarih" type="date" value="{{obj.hareket.tarih}}" /></td>
                </tr>
                <tr>
                  <td>Hareket Tipi</td>
                  <td>{{obj.select.hareket}}</td>
                </tr>
                <tr>
                  <td>Karar No</td>
                  <td> <input name="kararno" type="text" value="{{obj.hareket.kararno}}" />  </td>
                </tr>
                <tr>
                  <td>İşyeri İsimi</td>
                  <td>
                    {{obj.select.isyerleri}}
                  </td>
                </tr>
                <tr>
                  <td>Noter</td>
                  <td><input name="noter" type="text" value="{{obj.hareket.noter}}" style="width: 70%" /></td>
                </tr>
                <tr>
                  <td>Noter Tarih</td>
                  <td><input name="noterTarih" type="date" value="{{obj.hareket.notertarih}}" style="width: 70%" /></td>
                </tr>
                <tr>
                  <td>Noter Yevmiye</td>
                  <td><input name="noterYevmiye" type="text" value="{{obj.hareket.noteryevmiye}}" style="width: 70%" /></td>
                </tr>
                <tr>
                  <td>Kayıt Sıra No</td>
                  <td><input name="kayitSiraNo" type="text" value="{{obj.hareket.kayitsirano}}" style="width: 70%" /></td>
                </tr>
                <tr>
                  <td>Doğrulama Kodu</td>
                  <td><input name="dogrulamaKodu" type="text" value="{{obj.hareket.dogrulama_kodu}}" style="width: 70%" /></td>
                </tr>
                <tr>
                  <td colspan="2"><input id="btnSubmit" type="submit" class="btn btn-primary" value="Güncelle"></input></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{{obj.footer}}
{{obj.bottomscriptsdetay}}
<script type="text/javascript">

  $(document).ready(function () {

      if ($('#hareketid').val() ==="0"){
          $('#btnSubmit').val('Giriş');
          $('#hareketType').html('Gir');
      }else{

      }
  });

</script>
</body>
</html>
