<!DOCTYPE html>
<html lang="tr">

<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="client/css/bootstrap.min.css" />
    <link rel="stylesheet" href="client/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="client/css/fullcalendar.css" />
    <link rel="stylesheet" href="client/css/maruti-style.css" />
    <link rel="stylesheet" href="client/css/maruti-media.css" class="skin-color" />
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="/anasayfa" class="visible-phone"><i class="icon icon-th-list"></i>Menu</a>
    <ul>
        <li class="active"><a href="/anasayfa"><i class="icon icon-home"></i> <span>Anasayfa</span></a> </li>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
            <h1>Anasayfa</h1>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div id="footer" class="span12"> 2020 &copy; Metal İş Sendikası</div>
</div>
<script src="client/js/excanvas.min.js"></script>
<script src="client/js/jquery.min.js"></script>
<script src="client/js/jquery.ui.custom.js"></script>
<script src="client/js/bootstrap.min.js"></script>
<script src="client/js/jquery.flot.min.js"></script>
<script src="client/js/jquery.flot.resize.min.js"></script>
<script src="client/js/jquery.peity.min.js"></script>
<script src="client/js/fullcalendar.min.js"></script>
<script src="client/js/maruti.js"></script>
<script src="client/js/maruti.dashboard.js"></script>
<script src="client/js/maruti.calendar.js"></script>
<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {
    // if url is empty, skip the menu dividers and reset the menu selection to default
    if (newURL != "") {
      // if url is "-", it is this page -- reset the menu:
      if (newURL == "-" ) {
        resetMenu();
      }
      // else, send page to designated URL
      else {
        document.location.href = newURL;
      }
    }
  }
  // resets the menu selection upon entry to this page:
  function resetMenu() {
    document.gomenu.selector.selectedIndex = 2;
  }
</script>
</body>
</html>