<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style type="text/css">
        /*custom style*/
        .dataitem {
            cursor: pointer;
        }
        .dataitem:hover{
            background-color:darkgray
        }
    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
            <a href="/isyeri" class="tip-bottom"><i class="icon-book"></i>İşyeri Listesi</a>
            <a href="/uyelistesi?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-user"></i>Uye Listesi</a>
            <a href="/isyerigiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Giriş/Çıkış</a>
            <a href="/isyeriisimligiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>İsimli G/Ç</a>
            <a href="/isyeriorgut?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Örgüt</a>
            <a href="/isyeritespit?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Tespit</a>
            <a href="/isyeritemsilci?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Temsilci</a>
            <a href="/isyeriisverentemsilcileri?isyeriid={{obj.isyeri.isyeriid}}" class="tip-bottom"><i class="icon-book"></i>İşveren Temsilcileri</a>
        </div>
        <h1 >Uye Listesi</h1>
    </div>
    <div class="container-fluid">
        <div class="span4">

            <div class="control-group span4">
                <label class="control-label">Cinsiyet</label>
                <div class="controls">
                    {{obj.select.gender}}
                </div>
            </div>
            <div class="control-group span4">
                <div class="controls">
                    <input type="button" id="btnQuery" value="Listele">
                </div>
            </div>
        </div>
        <div class="span2" style="float: right; display: flex;">
            <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
            <a href="/isyeriuyeexcel?isyeriid={{obj.isyeri.isyeriid}}" style="display: content;">
                <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
            </a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box" id="printArea">
                    <style type="text/css">
                        .table{
                            font-size: 16px;
                        }
                    </style>
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>{{obj.isyeri.isim}} Üye Listesi</h5>

                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>Sıra</th>
                                <th>İsim</th>
                                <th>Soyisim</th>
                                <th>Vatandaşlık No</th>
                                <th>Cinsiyet</th>
                                <th>Tarih</th>
                                <th>Karar</th>
                                <th>Onay No</th>
                                <th>Telefon</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{obj.uyelist}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}
<script type="text/javascript">
    var excelData = {{obj.data.full}};
    var excelDataLen =excelData.length;

    $(document).ready(function () {

        $('.dataitem').click(function (e) {
            var uyeid = $(this).attr('uyeid');
            var url = '/uyedetay?uyeid=' + uyeid;
            if (e.shiftKey) {
                openInNewTab(url);
            }else   {
                document.location.href = url;
            }
        });


        $('#printExcel').click(function () {

            var thepostdata = {
                'excelData': JSON.stringify(excelData),
                'fileName': 'isyeriuyeler.xlsx',
                'sheetName': 'Sayfa'
            };

            $.ajax({
                type: 'POST',
                url: '/excel',
                data: thepostdata,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var link = document.createElement('a');
                    link.href = data.file;
                    link.target = "_blank";
                    link.click();
                }
            });

        });

        $('#printIt').click(function () {
            $('#printArea').printThis({
                importCSS:true
            });
        });


        $('#btnQuery').click(function (e) {
            var indexCounter = 0;
            var selectedFilterData = $('#selectGender').val();
            $('table td').remove();
            var htmlstr = '';

            for (var i = 0; i< excelDataLen ;i++){

                var uyeItem = excelData[i];
                if (selectedFilterData == 0){

                }else if (selectedFilterData == 1){
                    if (uyeItem.Cinsiyet != 'Erkek'){
                        continue;
                    }
                }else if (selectedFilterData == 2){
                    if (uyeItem.Cinsiyet != 'Kadın'){
                        continue;
                    }
                }
                indexCounter++;
                var str = '<tr class="gradeX dataitem" dataitem="' + uyeItem.isyeriid + '" uyeid="' + uyeItem.uyeid + '">';
                str += '<td class="contextmenu">' + indexCounter + '</td>';
                str += '<td>' + uyeItem.Isim + '</td>';
                str += '<td>' + uyeItem.Soyisim + '</td>';
                str += '<td>' + uyeItem.TC_No + '</td>';
                str += '<td>' + uyeItem.Cinsiyet +'</td>';
                str += '<td>' + uyeItem.Tarih + '</td>';
                str += '<td>' + uyeItem.Karar + '</td>';
                str += '<td>' + (uyeItem.Onay == null ? '' : uyeItem.Onay) + '</td>';
                str += '<td>' + uyeItem.telefon + '</td>';
                str += '</tr>';

                htmlstr += str;
            }
            $('table tbody').html(htmlstr);


        });



    });

</script>
</body>
</html>