<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style type="text/css">
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa"><i class="icon-home"></i> Anasayfa</a>
            <a href="/isyeri" class="tip-bottom"><i class="icon-book"></i>İşyeri Listesi</a>
            <a href="/uyelistesi?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-user"></i>Uye Listesi</a>
            <a href="/isyerigiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Giriş/Çıkış</a>
            <a href="/isyeriisimligiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>İsimli G/Ç</a>
            <a href="/isyeriorgut?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Örgüt</a>
            <a href="/isyeritespit?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Tespit</a>
            <a href="/isyeritemsilci?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Temsilci</a>
            <a href="/isyeriisverentemsilcileri?isyeriid={{obj.isyeri.isyeriid}}" class="tip-bottom"><i
                    class="icon-book"></i>İşveren Temsilcileri</a>
        </div>
        <h1>{{obj.isyeri.isim}} İşyeri Giriş / Çıkış Raporu</h1>

        <input type="hidden" value="{{obj.isyeri.isyeriid}}" id="intisyeriid">
        <div class="span4">
            <div class="control-group span4">
                <label class="control-label">Başlangıç Tarihi :</label>
                <div class="controls">
                    <input id="startDate" type="date">
                </div>
            </div>
            <div class="control-group span4">
                <label class="control-label">Bitiş Tarihi :</label>
                <div class="controls">
                    <input id="endDate" type="date">
                </div>
            </div>
            <div class="control-group span4">
                <label class="control-label">Hareket Tipi</label>
                <div class="controls">
                    {{obj.select.hareketipi}}
                </div>
            </div>
            <div class="control-group span4">
                <div class="controls">
                    <input type="button" id="btnQuery" value="Listele">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="span2" style="float: right; display: flex;">
                <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
                <a id="excelid" href="/isyerigiriscikis" id="printExcel" style="display: content;">
                    <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
                </a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box" id="printArea">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span><span id="resultCounter"
                                                                                   style="margin-top: 7px"
                                                                                   class="span3"></span>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table" id="tblreport">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Tarih</th>
                                    <th>Ad</th>
                                    <th>Soyad</th>
                                    <th>Vatandaşlık No</th>
                                    <th>Durum</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal window -->
    <div class="modal hide" id="modal-add-event" style="width: unset; left: calc(50% + 191px);">

        <div class="modal-body" style="width: 154px;" >
            <div class="loader" style=""></div>
        </div>

    </div>
    <!-- modal window end -->
    {{obj.footer}}
    {{obj.bottomscripts}}
</body>

<script type="text/javascript">

    $(document).ready(function () {


        $('#btnQuery').click(function () {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var isyeriid = $('#intisyeriid').val();
            var hareketType = $('#hareketType').val();
            $('#modal-add-event').modal('show');
            var excelUrl = '/isyerigiriscikisisimliexcel?isyeriid=' + isyeriid + '&startDate=' + startDate + '&endDate=' + endDate + '&harekettipi=' + hareketType;
            $('#excelid').attr('href', excelUrl);
            getData(startDate, endDate, isyeriid, hareketType, function (result) {
                insertTableData(result);
                $('#modal-add-event').modal('hide');
            });
        });
        $('#printIt').click(function () {
            $('#printArea').printThis({
                importCSS:true
            });
        });
    });

    function getData(startDate, endDate, isyeriid, hareketType, cb) {
        selectedStartDate = startDate;
        selectedEndDate = endDate;
        hareketType
        $.ajax({
            url: '/isyeriAjaxgirisCikisIsimli',
            type: 'GET',
            data: 'startDate=' + startDate + '&endDate=' + endDate + '&isyeriid=' + isyeriid + '&harekettipi=' + hareketType,
            success: function (result) {
                if (typeof cb !== "undefined") {
                    cb(result);
                }
            },
            error: function () {
                global.writeErr('işyeri giris çıkış isimli verilerinin sorgulanması sırasında hata oluştu');
            }
        });
    }

    function insertTableData(result) {
        $('.data-table tbody').html('');//this clears data in table

        setTimeout(function () {
            $('#resultCounter').html('Sayı :' + result.length);
            var html = '';
            for (var i = 0; i < result.length; i++) {
                var item = JSON.parse(result[i]);
                var tarihArr = item.tarih.split('T')[0].split('-');
                var tarihFormatText = tarihArr[2] + '/' + tarihArr[1] + '/' + tarihArr[0];
                html += '<tr class="gradeX">';
                html += '<td>' + (i + 1) + '</td>';
                html += '<td>' + tarihFormatText + '</td>';
                html += '<td>' + item.uyeisim + '</td>';
                html += '<td>' + item.soyisim + '</td>';
                html += '<td>' + item.vatandaslik_no + '</td>';
                html += '<td>' + Sendika.Enums.hareketCinsi[item.hareketcinsi] + '</td>';
                html += '</tr>';
            }
            $('.data-table tbody').html(html);
        }, 200);
    }

</script>
</html>
