<!DOCTYPE html>
<html lang="tr">
<head>
  <title>Metal İş Sendika Otomasyonu</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{obj.headerCss}}
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
    {{obj.menuItems}}
  </ul>
</div>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
      <a href="/isyeri" class="tip-bottom"><i class="icon-book"></i>İşyeri Listesi</a>
      <a href="/uyelistesi?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-user"></i>Uye Listesi</a>
      <a href="/isyerigiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Giriş/Çıkış</a>
      <a href="/isyeriisimligiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>İsimli G/Ç</a>
      <a href="/isyeriorgut?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Örgüt</a>
      <a href="/isyeritespit?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Tespit</a>
      <a href="/isyeritemsilci?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Temsilci</a>
      <a href="/isyeriisverentemsilcileri?isyeriid={{obj.isyeri.isyeriid}}" class="tip-bottom"><i class="icon-book"></i>İşveren Temsilcileri</a>

    </div>
    <h1>{{obj.isyeri.isim}} İşyeri Temsilcileri</h1>
  </div>

  <div class="container-fluid">
    <div class="span2" style="float: right; display: flex;">
      <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
      <a id="excelid" href="/isyeriisverentemsilcileriexcel?isyeriid={{obj.isyeri.isyeriid}}" id="printExcel" style="display: content;">
        <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
      </a>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <form id="isyeriEditForm" action="/isyeriisverentemsilcileri" method="POST" enctype="application/json">
          <div class="widget-box" id="printArea">
              <div class="widget-title"><span class="icon"> <i class="icon-ok-sign"></i> </span>
                  <h5>Detaylar</h5>
            <input type="hidden" name="isyeriid" id="isyeriid" value="{{obj.isyeri.isyeriid}}">
          </div>
          <div class="widget-content">
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Tanım</th>
                <th>Açıklama</th>
              </tr>
              </thead>
              <tbody>

              <tr>
                <td><strong>Temsilci 1 :</strong></td>
                <td><input name="dkisverentems1" class="span11" value="{{obj.isyeri.dkisverentems1}}" /></td>
              </tr>
              <tr>
                <td><strong>Temsilci 2 :</strong></td>
                <td><input name="dkisverentems2" class="span11" value="{{obj.isyeri.dkisverentems2}}" /></td>
              </tr>
              <tr>
                <td><strong>Yedek 1 :</strong></td>
                <td><input name="dkisverentemsydk1" class="span11" value="{{obj.isyeri.dkisverentemsydk1}}" /></td>
              </tr>
              <tr>
                <td><strong>Yedek 2 :</strong></td>
                <td><input name="dkisverentemsydk2" class="span11" value="{{obj.isyeri.dkisverentemsydk2}}" /></td>
              </tr>

              <tr>
                <td colspan="2"><input id="btnSubmit" type="submit" class="btn btn-success" value="Güncelle"></input></td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}
<script type="application/javascript">
  $(document).ready(function () {
      $('#printIt').click(function () {
          $('#printArea').printThis({
              importCSS:true
          });
      });
  });
</script>
</body>
</html>
