<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Metal İş Sendika Otomasyonu</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style type="text/css">
        #showTblTis{
            a {
                text-decoration: underline !important;
            }
        }
    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
            <a href="/isyeri" class="tip-bottom"><i class="icon-book"></i>İşyeri Listesi</a>
            <a href="/uyelistesi?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-user"></i>Uye Listesi</a>
            <a href="/isyerigiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Giriş/Çıkış</a>
            <a href="/isyeriisimligiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>İsimli G/Ç</a>
            <a href="/isyeriorgut?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Örgüt</a>
            <a href="/isyeritespit?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Tespit</a>
            <a href="/isyeritemsilci?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Temsilci</a>
            <a href="/isyeriisverentemsilcileri?isyeriid={{obj.isyeri.isyeriid}}" class="tip-bottom"><i class="icon-book"></i>İşveren Temsilcileri</a>

        </div>
        <h1>{{obj.isyeri.isim}} İşyeri Detay</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-ok-sign"></i> </span>
                        <h5>Detaylar</h5>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="span3">Tanım</th>
                                <th>Açıklama</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><strong>İşyeri İsmi</strong></td>
                                <td>{{obj.isyeri.isim}}</td>
                            </tr>
                            <tr>
                                <td><strong>Adres</strong></td>
                                <td>{{obj.isyeri.adres}}</td>
                            </tr>
                            <tr>
                                <td><strong>Kamu</strong></td>
                                <td>{{obj.isyeri.kamuozel}}</td>
                            </tr>
                            <tr>
                                <td><strong>Şube</strong></td>
                                <td>{{obj.isyeri.subeid}}</td>
                            </tr>
                            <tr>
                                <td><strong>SGK No</strong></td>
                                <td>{{obj.isyeri.bcmdosyano}}</td>
                            </tr>
                            <tr>
                                <td><strong>TİS Sezonu</strong></td>
                                <td><a id="showTblTis" href="#"><span >Tis Detay</span></a></td>
                            </tr>
                            <tr>
                                <td><strong>Telefon No</strong></td>
                                <td>{{obj.isyeri.telefonno}}</td>
                            </tr>
                            <tr>
                                <td><strong>Fax No</strong></td>
                                <td>{{obj.isyeri.faxno}}</td>
                            </tr>
                            <tr>
                                <td><strong>İşveren Sendikası</strong></td>
                                <td>{{obj.isyeri.isverensendikasi}}</td>
                            </tr>
                            <tr>
                                <td><strong>Üst Kuruluş</strong></td>
                                <td>{{obj.isyeri.ustkurulus}}</td>
                            </tr>
                            <tr>
                                <td><strong>Gruba Dahil</strong></td>
                                <td>{{obj.isyeri.grpdahilmi}}</td>
                            </tr>
                            <tr>
                                <td><strong>Üretim Konusu</strong></td>
                                <td>{{obj.isyeri.uretimkonusu}}</td>
                            </tr>
                            <tr>
                                <td><strong>Örgütlenme Durum</strong></td>
                                <td>{{obj.isyeri.orgutlenmedurum}}</td>
                            </tr>
                            <tr>
                                <td><strong>Taşeron var mı?</strong></td>
                                <td>{{obj.isyeri.tasaronvar}}</td>
                            </tr>
                            <tr>
                                <td><strong>Çalışan Sayısı</strong></td>
                                <td>{{obj.isyeri.calisansayisi}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-ok-sign"></i> </span>
                        <h5>İstatistik</h5>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Tanım</th>
                                <th>Açıklama</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><strong>Üye Sayısı</strong></td>
                                <td>{{obj.istatistik.uyesayisi}}</td>
                            </tr>
                            <tr>
                                <td><strong>Kadın</strong></td>
                                <td>{{obj.istatistik.kadin}}</td>
                            </tr>
                            <tr>
                                <td><strong>Erkek</strong></td>
                                <td>{{obj.istatistik.erkek}}</td>
                            </tr>
                            <tr>
                                <td><strong>16 Yaşından Küçük</strong></td>
                                <td>0</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-list-alt"></i></span>
                        <h5>Çalışanlar</h5>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Sıra</th>
                                <th>Ad Soyad</th>
                                <th>TC No</th>
                                <th>Cinsiyet</th>
                                <th>Tarih</th>
                                <th>Karar</th>
                                <th>Onay No</th>
                                <th>Telefon</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{obj.uye.list}}
                            </tbody>
                        </table>
                    </div>
                </div>


                <!-- modal window -->
                <div class="modal hide" id="modal-add-event" style="width: 94%;left: unset !important; margin-left: unset !important; height: 530px !important; max-height: 1000px !important;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>TİS Bilgileri</h3>
                    </div>
                    <div class="modal-body" style="height: 510px !important; max-height: 1000px !important;">
                        <table id="tblTisdata" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Tis Bilgisi</th>
                                <th>Sezon</th>
                                <th>Başlangıç/Bitiş Tarihi</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{obj.data.tisDataList}}
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- modal window end -->



            </div>
        </div>
    </div>
</div>
{{obj.footer}}
{{obj.bottomscriptsdetay}}

<script type="text/javascript">


$(document).ready(function () {
    $('#showTblTis').click(function (e) {
        e.preventDefault();
        $('#modal-add-event').modal('show');
    });
});


</script>
</body>
</html>
