<!DOCTYPE html>
<html lang="tr">
<head>
<title>{{obj.projTitle}}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{obj.headerCss}}
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
    {{obj.menuItems}}
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" ><i class="icon-home"></i> Anasayfa</a>
      <a href="/isyeri" class="tip-bottom"><i class="icon-book"></i>İşyeri Listesi</a>
      <a href="/uyelistesi?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-user"></i>Uye Listesi</a>
      <a href="/isyerigiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Giriş/Çıkış</a>
      <a href="/isyeriisimligiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>İsimli G/Ç</a>
      <a href="/isyeriorgut?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Örgüt</a>
      <a href="/isyeritespit?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Tespit</a>
      <a href="/isyeritemsilci?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Temsilci</a>
      <a href="/isyeriisverentemsilcileri?isyeriid={{obj.isyeri.isyeriid}}" class="tip-bottom"><i class="icon-book"></i>İşveren Temsilcileri</a>
    </div>
    <h1>{{obj.isyeri.isim}} İşyeri Bazlı Tespit Raporu</h1>

    <input type="hidden" value="{{obj.isyeri.isyeriid}}" id="intisyeriid">
  <div class="span4">
    <div class="control-group span4">
      <label class="control-label">İlk Tarih :</label>
      <div class="controls">
        <input type="date" id="startDate" value="" >
      </div>
    </div>
    <div class="control-group span4">
      <label class="control-label">Son Tarih :</label>
      <div class="controls">
        <input type="date" id="endDate" value="" >
      </div>
    </div>
    <div class="control-group span4">
      <div class="controls">
        <input type="button" id="btnQuery" value="Listele">
      </div>
    </div>
  </div>

    <div class="container-fluid">
      <div class="span2" style="float: right; display: flex;">
        <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
        <a id="excelid" href="/isyeritespitexcel?isyeriid={{obj.isyeri.isyeriid}}" id="printExcel" style="display: content;">
          <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
        </a>
      </div>
    </div>


  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box" id="printArea">
          <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span><span id="resultCounter" style="margin-top: 7px" class="span3"></span>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table" id="tblreport">
              <thead>
                <tr>
                  <th></th>
                  <th>İşyeri</th>
                  <th>Sendika</th>
                  <th>Tespit Tarih</th>
                  <th>Başvuru Tarihi</th>
                  <th>Çalışan Sayısı</th>
                  <th>Üye Sayısı</th>
                  <th>Evrak No</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}
</body>

<script type="text/javascript">
var isyeriisim = '{{obj.isyeri.isim}}';
var cDate = new Date();
var formattedDay = cDate.getDate()<10 ? "0" + cDate.getDate():cDate.getDate().toString();
var cMonth =cDate.getMonth()+1;
var formattedMonth = cMonth<10?"0"+cMonth.toString(): cMonth.toString();
var formattedYear = cDate.getFullYear().toString();

document.getElementById('startDate').value =formattedYear+"-"+formattedMonth+"-"+formattedDay;
document.getElementById('endDate').value =formattedYear+"-"+formattedMonth+"-"+formattedDay;

  $(document).ready(function () {

    $('#btnQuery').click(function () {
      var startDate = $('#startDate').val();
      var endDate = $('#endDate').val();
      var isyeriid = $('#intisyeriid').val();
      getData(startDate, endDate, isyeriid ,function (result) {
          console.log(result);//todo delete that row.
          insertTableData(result);
      });
    });

      $('#printIt').click(function () {
          $('#printArea').printThis({
              importCSS:true
          });
      });

  });

  function getData(startDate, endDate, isyeriid, cb) {
    selectedStartDate = startDate;
    selectedEndDate = endDate;

    var excelUrl = '/isyeritespitexcel?startDate=' + startDate + '&endDate=' + endDate + '&isyeriid=' + isyeriid;
    $('#excelid').attr('href', excelUrl);

    $.ajax({
      url:'/isyeriAjaxtespit',
      type:'GET',
      data: 'startDate=' + startDate + '&endDate=' + endDate + '&isyeriid=' + isyeriid,
      success: function (result) {
        if (typeof cb !== "undefined") {
          cb(result);
        }
      },
      error: function() {
        global.writeErr('şube giris çıkış isimli verilerinin sorgulanması sırasında hata oluştu');
      }
    });
  }

  function insertTableData(result) {
    $('.data-table tbody').html('');//this clears data in table

    setTimeout(function () {
      $('#resultCounter').html('Sayı :' + result.length);
      var html ='';
      for (var i = 0 ;i < result.length ; i++){
        var item = JSON.parse(result[i]);
        html +='<tr class="gradeX">';
        html += '<td>' + (i+1)+ '</td>';
        html += '<td>' + isyeriisim + '</td>';
        html += '<td>' + item.isim + '</td>';
        var tarihArr = item.tarih.split('T')[0].split('-');
        var tarih =tarihArr[2]+'.'+tarihArr[1]+'.'+tarihArr[0];
        html += '<td>' + tarih + '</td>';
        var basvuruTarihiArr = item.basvurutarihi.split('T')[0].split('-');
        var basvuruTarihi =basvuruTarihiArr[2]+'.'+basvuruTarihiArr[1]+'.'+basvuruTarihiArr[0];
        html += '<td>' + basvuruTarihi + '</td>';
        html += '<td>' + item.iscisayisi + '</td>';
        html += '<td>' + item.uyesayisi + '</td>';
        html += '<td>' + ((typeof item.evraksayi === 'undefined')? '': item.evraksayi) + '</td>';
        html +='</tr>';
      }
      $('.data-table tbody').html(html);
    },200);
  }
  
</script>
</html>
