<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Metal İş Sendika Otomasyonu</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}

    <style type="text/css">
        #tblIsyeriCalisanList tbody tr{
            cursor: pointer;
        }
        #tblIsyeriCalisanList tbody tr:hover{
            background-color: #49afcd;
        }
        input[aria-controls="tblIsyeriCalisanList"]{
            width: 175px !important;
        }
    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
            <a href="/isyeri" class="tip-bottom"><i class="icon-book"></i>İşyeri Listesi</a>
            <a href="#" class="current"><i class="icon-edit"></i>İşyeri Temsilci Güncelle</a>
        </div>
        <h1>İşyeri Temsilci Giriş/Güncelle</h1>

    </div>
    <div class="container-fluid">
        <label class="lead">{{obj.isyeri.isim}}</label>
            <div class="row-fluid">
            <div class="span12">
                <form class="form-horizontal" id="isyeriEditForm" action="/isyeritemsilciEklePost" method="POST" enctype="application/json">
                    <input type="hidden" name="temsilciid" id="temsilciid" value="{{obj.temsilci.temsilciid}}">
                    <input type="hidden" name="isyeriid" id="isyeriid" value="{{obj.isyeri.isyeriid}}">
                    <input type="hidden" name="uyeid" id="uyeid" value="{{obj.isyeri.uyeid}}">

                        <div class="control-group">
                            <label class="control-label">İşyeri Çalışanları</label>
                            <div class="controls" style="display: flex;">
                                <label id="calisanisim" style="margin-top: 6px; margin-right: 10px;"></label><input type="button" id="btnCalisanSec" value="+">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Vazife</label>
                            <div class="controls">
                                {{obj.select.vazifeler}}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Sira</label>
                            <div class="controls">
                                <input type="number" id="temsilciSira" name="temsilciSira" value="{{obj.temsilci.sira}}">
                            </div>
                        </div>
                    <!--
                                            <div class="control-group">
                                                <label class="control-label">Sira</label>
                                                <div class="controls">
                                                    <input type="date" id="secimTarihi" name="secimTarihi" value="{{obj.temsilci.secimTarihi}}">
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">Sira</label>
                                                <div class="controls">
                                                    <input type="date" id="atamaTarihi" name="atamaTarihi" value="{{obj.temsilci.atamaTarihi}}">
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label">Sira</label>
                                                <div class="controls">
                                                    {{obj.select.temsilciStatusu}}
                                                </div>
                                            </div>
                                            -->

                        <input type="submit" class="btn btn-primary" value="Güncelle"/>
                </form>

                <!-- modal window -->
                <div class="modal hide" id="modal-add-event">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>İsyeri Çalışanlar</h3>
                    </div>
                    <div class="modal-body" style="height: 450px !important; max-height: 500px !important;">
                        <table id="tblIsyeriCalisanList" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    Soyisim<br/>
                                <input type="text" id="txtSoyisim">
                                </th>
                                <th>
                                    İsim<br/>
                                    <input type="text" id="txtIsim">
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {{obj.data.isyericalisanList}}
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- modal window end -->

            </div>
        </div>
    </div>
</div>
{{obj.footer}}
{{obj.bottomscriptsdetay}}

<script type="text/javascript">
    var temsilciData= {{obj.temsilci.data}};
    var fullData ={{obj.calisanlar.data}};
    $(document).ready(function () {

        if (temsilciData.uyeid){
            $('#calisanisim').text(temsilciData.isim +' ' + temsilciData.soyisim);
        }else {
            $('#calisanisim').text('Çalışan Seç');
        }

        $('#btnCalisanSec').click(function () {
            $('#modal-add-event').modal('show');
        });


        $(document).on('click', '#tblIsyeriCalisanList tbody tr', function () {
            var thisser =$(this);
            var temsiliId = thisser.attr('data-id');
            $('#uyeid').val(temsiliId);
            $('#calisanisim').text(thisser.find('td:eq(0)').text() + ' ' + thisser.find('td:eq(1)').text());
            $('#modal-add-event').modal('hide');
        });


        $('#txtIsim, #txtSoyisim').keyup(function (e) {
           search();
        });


        function search() {
            var strhtml= '';
            $('#tblIsyeriCalisanList tbody').html('');
            var isim=$('#txtIsim').val();
            var soyisim = $('#txtSoyisim').val();
            var result =[];
            for (var i = 0; i < fullData.length;i++) {
                if (isim != '' && soyisim == '') {
                    if (fullData[i].isim.startsWith(isim)) {
                        result.push(fullData[i]);
                    }
                } else if (isim == '' && soyisim != '') {
                    if (fullData[i].soyisim.startsWith(soyisim)) {
                        result.push(fullData[i]);
                    }
                } else if (isim != '' && soyisim != '') {
                    if (fullData[i].isim.startsWith(isim) && fullData[i].soyisim.startsWith(soyisim) ) {
                        result.push(fullData[i]);
                    }
                } else {
                    result.push(fullData[i]);
                }
            }

            for (var i = 0; i < result.length; i++) {
                strhtml += '<tr class="gradeX selectRow" data-id="'+result[i].uyeid+'">'+
                '<td>'+result[i].soyisim+'</td>'+
                '<td>'+result[i].isim+'</td>'+
                '</tr>';
            }
            $('#tblIsyeriCalisanList tbody').html(strhtml);
        }



    });
</script>
</body>
</html>