<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Metal İş Sendika Otomasyonu</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style type="text/css">
        tr {
            cursor: pointer;
        }

        #prevPage, #nextPage {
            cursor: pointer;
        }

        #prevPage:hover, #nextPage:hover {
            cursor: pointer;
            font-size: 14px;

        }
    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
            <a href="/isyeri" class="current"><i class="icon-book"></i>İşyerleri </a>
        </div>
        <h1>İşyerleri Listesi</h1>
        <div class="span4">
            <div class="control-group span4">
                <a href="/isyeriedit?isyeriid=0" class="btn btn-primary">Yeni İşyeri Girişi</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5 id="totalCount">İşyeri sayısı : {{obj.isyeri.count}}</h5>
                        <h5 id="prevPage"><<</h5> <h5>||</h5> <h5 id="nextPage">>></h5><h5 id="pagingCountText">Sayfa
                        sayısı: <span id="pagingCount"></span></h5> <h5>Sayfaya git</h5><input id="Pageno" type="text"
                                                                                               value="1"
                                                                                               style="margin-top: 3px;width: 35px;">
                        <input id="isSearch" type="hidden" value="0">
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>İşyeri</th>
                                <th>Örgüt Durum</th>
                                <th>Taşeron</th>
                                <th>Şube</th>
                                <th>İşlemler</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeX">
                                <td><input id="txtIsyeri" style="width: 100%;text-transform:uppercase"></td>
                                <td>{{obj.select.OrgutDurum}}</td>
                                <td>{{obj.select.Taseron}}</td>
                                <td>{{obj.select.Subeler}}</td>
                                <td><!--<input id="btnAra" type="button" class="btn btn-big" value="Ara">--></td>
                            </tr>
                            {{obj.isyeriList}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}
<script type="text/javascript">
    var allSubeData = {{obj.allSubeData}};
    var pagingItemCount = {{obj.pagingItemCount}};

    $(document).ready(function () {
        var isyeri_arama_isim = Sendika.cookies.get('isyeri_arama_isim');
        if (isyeri_arama_isim != null) {
            document.getElementById('txtIsyeri').value = isyeri_arama_isim;
            makeSearch(Sendika.Enums.paging.NoPaging);
        }
        var qParam = getParameterByName('isyeriid');
        if (qParam != null) {
            $.ajax({
                url: '/isyeriByIdAjax',
                type: 'GET',
                data: 'isyeriid=' + qParam,
                success: function (result) {
                    $('#txtIsyeri').val(JSON.parse(result).isim);
                    makeSearch(Sendika.Enums.paging.NoPaging);
                },
                error: function () {
                    global.writeErr('işyerleri için arama sorgusu sırasında hata oluştu');
                }
            });
        }

        /* getTotalCount(function (result) {
             $('#totalCount').html('Toplam '+ result +' işyeri');
         });*/

        getTotalPagingCount(function (result) {
            $('#pagingCount').html(result);
        });

        var $searchDoms = $('#txtIsyeri, #selectOrgutlenmeTipi, #selectTaseron, #selectSubeler');
        var $txtIsyeri = $('#txtIsyeri');

        $('#btnAra').click(function () {
            makeSearch(Sendika.Enums.paging.NoPaging);
        });

        $txtIsyeri.on('change paste', function () {
            $('#Pageno').val("1");
        });

        $('#selectOrgutlenmeTipi, #selectTaseron, #selectSubeler').change(function () {
            makeSearch(Sendika.Enums.paging.NoPaging);
        });

        $txtIsyeri.keyup(function (e) {
            if ($txtIsyeri.val().length == 0) {
                makeSearch(Sendika.Enums.paging.NoPaging);
                $('#isSearch').val("1");
            } else {
                makeSearch(Sendika.Enums.paging.NoPaging);
                $('#isSearch').val("1");
            }
        });

        $('#Pageno').keyup(function (e) {
            if (e.keyCode === 13) {
                makeSearch(Sendika.Enums.paging.NoPaging)
            }
        });

        $('#prevPage').click(function () {
            var currentPage = parseInt($('#Pageno').val());
            if (currentPage == 1) {
                return;
            } else {
                makeSearch(Sendika.Enums.paging.Previous);
            }
        });

        $('#nextPage').click(function () {
            var currentPage = parseInt($('#Pageno').val());
            var maxPageCount = $('#pagingCount').text();
            if (currentPage >= maxPageCount) {
                return;
            }
            makeSearch(Sendika.Enums.paging.Next);
        });

        $(document).on({
            mouseenter: function () {
                $(this).parent().find('.select-hover').css({'background-color': '#d6edfc'});
            },
            mouseleave: function () {
                $(this).parent().find('.select-hover').css({'background-color': ''});
            }
        }, ".select-hover");

        $(document).on({
            click: function () {
                var clickPath = $(this).parent().find('[href^="/isyeriedit"]').attr('href');
                document.location.href = clickPath;
            }
        }, '.select-hover');

        $(document).on('click', '.btndeleteisyeri', function (e) {
            e.preventDefault();
            var deleteConfirmation = confirm('Şirket silinicektir onaylıyor musunuz?');
            var btnSil = $(this);
            var tmpIsyeriId = $(this).attr('data');
            if (deleteConfirmation) {
                $.ajax({
                    url: '/isyeriAjaxDelete?isyeriid=' + tmpIsyeriId,
                    type: 'GET',
                    success: function (result) {
                        if (result == true) {
                            btnSil.parent().parent().remove();
                        }
                    },
                    error: function () {
                        global.writeErr('işyerleri için arama sorgusu sırasında hata oluştu');
                    }
                });
            }
        });
    });


    function getTotalPagingCount(cb) {
        $.ajax({
            url: '/isyeriAjaxTotalPagingCount',
            type: 'GET',
            success: function (result) {
                cb && cb(JSON.parse(result).result);
            },
            error: function () {
                global.writeErr('işyerleri için arama sorgusu sırasında hata oluştu');
            }
        });
    }


    function search(isim, orgutlenmeDurum, tasaron, subeid, pageno, cb) {
        $.ajax({
            url: '/isyeriAjaxlist',
            type: 'GET',
            data: 'isim=' + isim + '&orgut=' + orgutlenmeDurum + '&tasaron=' + tasaron + '&subeid=' + subeid + '&page=' + pageno,
            success: function (result) {
                cb && cb(result);
            },
            error: function () {
                global.writeErr('işyerleri için arama sorgusu sırasında hata oluştu');
            }
        });
    }

    function searchCount(isim, orgutlenmeDurum, tasaron, subeid, cb) {
        $.ajax({
            url: '/isyeriAjaxListCount',
            type: 'GET',
            data: 'isim=' + isim + '&orgut=' + orgutlenmeDurum + '&tasaron=' + tasaron + '&subeid=' + subeid,
            success: function (result) {
                cb && cb(result);
            },
            error: function () {
                global.writeErr('işyerleri için arama sorgusu sırasında hata oluştu');
            }
        });
    }

    var makeSearch = function (side) {
        var isim = $('#txtIsyeri').val().toUpperCase();
        var orgutlenmeDurum = $('#selectOrgutlenmeTipi').val();
        var tasaron = $('#selectTaseron').val();
        var subeid = $('#selectSubeler').val();
        var pageNo = parseInt($('#Pageno').val());
        if (side === Sendika.Enums.paging.Previous) {
            pageNo -= 1;
        } else if (side === Sendika.Enums.paging.Next) {
            pageNo += 1;
        }

        Sendika.cookies.set('isyeri_arama_isim', isim);
        Sendika.cookies.set('isyeri_arama_orgutlenmeDurum', orgutlenmeDurum);
        Sendika.cookies.set('isyeri_arama_tasaron', tasaron);
        Sendika.cookies.set('isyeri_arama_sube')

        search(isim, orgutlenmeDurum, tasaron, subeid, pageNo, function (result) {
            fillData(result);
            searchCount(isim, orgutlenmeDurum, tasaron, subeid, function (countResult) {
                var searchedItemCount = JSON.parse(countResult).count;
                var searchedPagingCount = searchedItemCount / pagingItemCount;
                $('#totalCount').html('Toplam ' + searchedItemCount + ' işyeri');
                var pageCount = (searchedItemCount % pagingItemCount == 0) ? parseInt(searchedPagingCount) : (parseInt(searchedPagingCount) + 1);
                $('#pagingCount').html(pageCount);
            });
            $('#Pageno').val(pageNo);
        });
    };

    var fillData = function (data, cb) {
        $('.dataitem').remove();
        var html = '';
        for (var i = 0; i < data.length; i++) {
            var item = JSON.parse(data[i]);
            html += '<tr class="gradeX dataitem" dataitem="' + item.uyeid + '">';
            html += '<td class="clicker select-hover">' + item.isim + '</td>';
            html += '<td class="clicker select-hover">' + Sendika.Enums.orgutDurum[item.orgutlenmedurum] + '</td>';
            html += '<td class="clicker select-hover">' + (item.tasaronvar !== null ? Sendika.Enums.tasaron[item.tasaronvar] : '') + '</td>';
            html += '<td class="clicker select-hover">' + allSubeData[item.subeid] + '</td>';
            html += '<td class="clicker"><a href="/isyeriedit?isyeriid=' + item.isyeriid + '" class="btn btn-primary btn-mini" style="margin-bottom: 5px;">Düzenle</a>' +
                '&nbsp;<a href="" data="' + item.isyeriid + '" class="btndeleteisyeri btn btn-danger btn-mini" style="margin-bottom: 5px;">Sil</a>' +
                '&nbsp;<a href="/isyeridetay?isyeriid=' + item.isyeriid + '" class="btn btn-info btn-mini" style="margin-bottom: 5px;">Detay</a></td>';
            html += '<tr>';
        }

        $('.gradeX').after(html);
        cb && cb();
    };

</script>
</body>
</html>