<!DOCTYPE html>
<html lang="tr">
<head>
<title>{{obj.projTitle}}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{obj.headerCss}}
  <style type="text/css">
    #countWrapper{
      padding: 9px 2px 0 4px;
      display: inline-block;
    }
  </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
    {{obj.menuItems}}
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" ><i class="icon-home"></i> Anasayfa</a>
      <a href="/isyeri" class="tip-bottom"><i class="icon-book"></i>İşyeri Listesi</a>
      <a href="/uyelistesi?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-user"></i>Uye Listesi</a>
      <a href="/isyerigiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Giriş/Çıkış</a>
      <a href="/isyeriisimligiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>İsimli G/Ç</a>
      <a href="/isyeriorgut?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Örgüt</a>
      <a href="/isyeritespit?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Tespit</a>
      <a href="/isyeritemsilci?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Temsilci</a>
      <a href="/isyeriisverentemsilcileri?isyeriid={{obj.isyeri.isyeriid}}" class="tip-bottom"><i class="icon-book"></i>İşveren Temsilcileri</a>
    </div>
    <h1>{{obj.isyeri.isim}} İşyeri Örgüt Raporu</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
      <div class="control-group">
        <label class="control-label">İşyeri Temsilcileri:</label>
      </div>
    </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="span2" style="float: right; display: flex;">
      <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
      <a id="excelid" href="/isyeritemsilciexcel?isyeriid={{obj.isyeri.isyeriid}}" id="printExcel" style="display: content;">
        <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
      </a>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <input name="btnAdd" id="btnAdd" type="button" class="btn btn-primary" value="Ekle" />
        <div class="widget-box" id="printArea">
          <div class="widget-title">
             <span class="icon"><i class="icon-th"></i></span>
            <span id="countWrapper" >Sayı: </span><span id="theCount"></span>
          </div>
          <div class="widget-content nopadding">
            <table id="tblTemsilci" class="table table-bordered data-table">
              <thead>
                <tr>
                    <th>İşyeri</th>
                    <th>Vazife</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Tc Kimlik No</th>
                    <th>Durum</th>
                    <th>İşlemler</th>
                    <th>Sıra</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}
</body>
<script type="text/javascript">
    var isyeriid = Sendika.getQSbyName('isyeriid');
  var data = {{obj.data}};

  $(document).ready(function () {
      $('#printIt').click(function () {
          $('#printArea').printThis({
              importCSS:true
          });
      });

    function getData(){
        var filterData = [1,2,3,4,5,6,7,8,9,10,11,12,13,14];
        console.log(filterData);
        regenerateTable(filterData);
    }

    setTimeout(function () {
        getData();
    },200);

    $('#btnAdd').click(function (e) {
      document.location.href = '/isyeritemsilciedit?isyeriid='+isyeriid+'&temsilciid=0';
    });

    $(document).on('click','.btnDelete',function () {
        var goDelete = confirm('Silmek için oynaylıyor musunuz?');
        if (goDelete) {
            var temsilciid = $(this).attr('dataid');
            var deletedItem = $(this);
            ajaxDelete(temsilciid, function () {
                $(deletedItem).parent().parent().remove();
            });
        }

    });

  });

  function regenerateTable(result) {


      $('#tblTemsilci tbody tr').remove();
      setTimeout(function () {
          var html = '';
          var count = 0;
          for (var i = 0; i < data.length; i++) {
              var item = JSON.parse(data[i]);
              if(result.indexOf(item.vazife) != -1){
                  count++;
                  html += '<tr>';
                  html +='<td>' + item.isyeriisim + '</td>';
                  html +='<td>' + ((typeof Sendika.Enums.vazifeTemsilciler[item.vazife] === "undefined") ? '': Sendika.Enums.vazifeTemsilciler[item.vazife])  + '</td>';
                  html +='<td>' + item.isim + '</td>';
                  html +='<td>' + item.soyisim + '</td>';
                  html +='<td>' + item.vatandaslik_no + '</td>';
                  html +='<td>' + ((typeof Sendika.Enums.hareketCinsi[item.cins] === "undefined") ? '' : Sendika.Enums.hareketCinsi[item.cins]) + '</td>';
                  html +='<td><a class="btn btn-primary" href="/isyeritemsilciedit?isyeriid='+isyeriid+'&temsilciId='+item.temsilciid+'">Güncelle</a>&nbsp;&nbsp; <button dataid="'+item.temsilciid+'" class="btn btn-primary btnDelete">SİL</button> </td>';
                  html +='<td>' + item.sira + '</td>';
                  html += '</tr>';
              }
          }
          $('#tblTemsilci tbody').html(html);
          $('#theCount').text(count);
      },200);

  }

  function ajaxDelete(temsilciid, cb) {
      $.ajax({
          url: '/isyeritemsilcisil',
          data: {'temsilciid': temsilciid},
          type: 'post',
          success: function (result) {
            console.log(result);
            cb && cb(result);
          }

      });
  }

</script>
</html>