<!DOCTYPE html>
<html lang="tr">
<head>
<title>{{obj.projTitle}}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{obj.headerCss}}
  <style type="text/css">
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
    {{obj.menuItems}}
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
      <a href="/isyeri" class="tip-bottom"><i class="icon-book"></i>İşyeri Listesi</a>
      <a href="/uyelistesi?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-user"></i>Uye Listesi</a>
      <a href="/isyerigiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Giriş/Çıkış</a>
      <a href="/isyeriisimligiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>İsimli G/Ç</a>
      <a href="/isyeriorgut?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Örgüt</a>
      <a href="/isyeritespit?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Tespit</a>
      <a href="/isyeritemsilci?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Temsilci</a>
      <a href="/isyeriisverentemsilcileri?isyeriid={{obj.isyeri.isyeriid}}" class="tip-bottom"><i class="icon-book"></i>İşveren Temsilcileri</a>
    </div>
    <h1>{{obj.isyeri.isim}} Giriş / Çıkış</h1>

    <input type="hidden" value="{{obj.isyeri.isyeriid}}" id="intisyeriid">
  <div class="span4">
    <div class="control-group span4">
      <label class="control-label">Başlangıç Tarihi :</label>
      <div class="controls">
        <input id="startDate" type="date">

      </div>
    </div>
    <div class="control-group span4">
      <label class="control-label">Bitiş Tarihi :</label>
      <div class="controls">
        <input id="endDate" type="date">

      </div>
    </div>
    <div class="control-group span4">
      <div class="controls">
        <input type="button" id="btnQuery" value="Listele">
      </div>
    </div>


  </div>

    <div class="container-fluid">
      <div class="span2" style="float: right; display: flex;">
        <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
        <a id="excelid" href="/isyerigiriscikis" id="printExcel" style="display: content;">
          <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
        </a>
      </div>
    </div>


  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box" id="printArea">
          <div class="widget-title">
             <span class="icon"><i class="icon-th"></i></span>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table" id="tblreport">
              <thead>
                <tr>
                  <th style="width:100px">Yıl</th>
                  <th>Ay</th>
                  <th>İşyeri</th>
                  <th>Kayıt</th>
                  <th>İstifa</th>
                  <th>Madde 17</th>
                  <th>Madde 25</th>
                  <th>Emekli</th>
                  <th>Kalan</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- modal window -->
  <div class="modal hide" id="modal-add-event" style="width: unset; left: calc(50% + 191px);">

    <div class="modal-body" style="width: 154px;" >
      <div class="loader" style=""></div>
    </div>

  </div>
  <!-- modal window end -->
{{obj.footer}}
{{obj.bottomscripts}}
</body>
<script src="client/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
var isyeriName = '{{obj.isyeri.isim}}';
  $(document).ready(function () {

    var currentDate = new Date();
    $('.datepicker').datepicker("setValue", currentDate);

    $('#btnQuery').click(function () {
      var startDate = $('#startDate').val();
      var endDate = $('#endDate').val();
      var isyeriid = $('#intisyeriid').val();
        $('#modal-add-event').modal('show');
      var excelUrl = '/isyerigiriscikisexcel?isyeriid='+isyeriid+'&startDate='+startDate+'&endDate='+endDate;
      $('#excelid').attr('href', excelUrl);
      getData(startDate, endDate, isyeriid ,function (result) {
          console.log(result);
          insertTableData(result);
          $('#modal-add-event').modal('hide');
      });
    });

      $('#printIt').click(function () {
          $('#printArea').printThis({
              importCSS:true
          });
      });
  });

  function getData(startDate, endDate, isyeriid, cb) {
    selectedStartDate = startDate;
    selectedEndDate = endDate;

    $.ajax({
      url:'/isyeriAjaxisyerigiriscikis',
      type:'GET',
      data: 'startDate=' + startDate + '&endDate=' + endDate + '&isyeriid=' + isyeriid,
      success: function (result) {
        if (typeof cb !== "undefined") {
          cb(result);
        }
      },
      error: function() {
        global.writeErr('isyeri giris çıkış verilerinin sorgulanması sırasında hata oluştu');
      }
    });
  }

  function insertTableData(result) {
    $('.data-table tbody').html('');//this clears data in table

    setTimeout(function () {
      var html = '';
      html+='<tr class="gradeX"><td>'+selectedStartDate+'</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>'+JSON.parse(result.tillStart[0]).count + '</td></tr>';
      var total_kayit = 0;
      var total_istifa = 0;
      var total_madde17 = 0;
      var total_madde25 = 0;
      var total_emekli = 0;

      for (var i = 0; i < result.interval.length; i++) {
        var item = JSON.parse(result.interval[i]);
        html += '<tr class="gradeX">';
        html += '<td>' + item.year+ '</td>';
        html += '<td>' + item.month + '</td>';
        html += '<td>' + isyeriName + '</td>';
        html += '<td>' + item.kayit + '</td>';
        html += '<td>' + item.istifa + '</td>';
        html += '<td>' + item.madde17 + '</td>';
        html += '<td>' + item.madde25 + '</td>';
        html += '<td>' + item.emekli + '</td>';
        html += '<td>' + item.kalan+ '</td>';
        html += '</tr>';
        total_kayit += parseInt(item.kayit);
        total_istifa += parseInt(item.istifa);
        total_madde17 += parseInt(item.madde17);
        total_madde25 += parseInt(item.madde25);
        total_emekli += parseInt(item.emekli);
      }
      html +='<tr class="gradeX"><td>'+selectedEndDate+'</td><td></td><td>---- Genel Toplam ----</td><td>'+total_kayit+'</td><td>'+total_istifa+'</td><td>'+total_madde17+'</td>' +
          '<td>'+total_madde25+'</td><td>'+total_emekli+'</td><td>'+JSON.parse(result.tillEnd[0]).count+'</td></tr>';
      $('.data-table tbody').html(html);
    }, 200);
  }





</script>
</html>
