<!DOCTYPE html>
<html lang="tr">
<head>
  <title>Metal İş Sendika Otomasyonu</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{obj.headerCss}}
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<style type="text/css">

#showTblTis{
  pointer:cursor;
}

</style>
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
    {{obj.menuItems}}
  </ul>
</div>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
      <a href="/isyeri" class="tip-bottom"><i class="icon-book"></i>İşyeri Listesi</a>
      <a href="/uyelistesi?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-user"></i>Uye Listesi</a>
      <a href="/isyerigiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Giriş/Çıkış</a>
      <a href="/isyeriisimligiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>İsimli G/Ç</a>
      <a href="/isyeritemsilci?isyeriid={{obj.isyeri.isyeriid}}" class="tip-bottom"><i class="icon-book"></i>Temsilciler</a>
      <a href="/isyeriorgut?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Örgüt</a>
      <a href="/isyeritespit?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Tespit</a>
      <a href="/isyeriisverentemsilcileri?isyeriid={{obj.isyeri.isyeriid}}" class="tip-bottom"><i class="icon-book"></i>İşveren Temsilcileri</a>





    </div>
    <h1>İşyeri <span class="insupt">Güncelle</span></h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <form id="isyeriEditForm" action="/isyeridetay" method="POST" enctype="application/json">
          <div class="widget-box">
              <div class="widget-title"><span class="icon"> <i class="icon-ok-sign"></i> </span>
                  <h5>Detaylar</h5>
            <input type="hidden" name="isyeriid" id="isyeriid" value="{{obj.isyeri.isyeriid}}">
          </div>
          <div class="widget-content">
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th class="span3">Tanım</th>
                <th class="span9">Açıklama</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><strong>İşyeri Ünvanı</strong></td>
                <td>
                  <div class="controls">
                    <input id="isim" name="isim" class="span5" oninput="Sendika.makeUpper(event)" value="{{obj.isyeri.isim}}" placeholder="işyeri ismi" required/>
                  </div>
                </td>
              </tr>
              <tr>
                <td><strong>Adres</strong></td>
                <td><textarea id="adres" name="adres"  style="margin: 0px 0px 10px; width: 431px; height: 81px;" placeholder="Adres" required>{{obj.isyeri.adres}}</textarea></td>
              </tr>
              <tr>
                <td><strong>Şube</strong></td>
                <td>{{obj.sube.selectSube}}</td>
              </tr>
              <tr>
                <td><strong>SGK Dosya No <!--BÇM Dosya No--></strong></td>
                <td><input id="bcmdosyano" name="bcmdosyano" class="span5" value="{{obj.isyeri.bcmdosyano}}" placeholder="dosya no" required/>
                  <br><span id="bcmdosyanoResult" style="display: none;" ></span>
                </td>
              </tr>
              <!--<tr>
                <td><strong>SSK Sicil No</strong></td>
                <td><input name="sskno" class="span5" value="{{obj.isyeri.sskno}}" placeholder="ssk numarası"/></td>
                <br><span id="ssknoResult" style="display: none;" ></span>
              </tr>-->
              <tr>
                <td><strong>E-mail</strong></td>
                <td><input type="email" name="email" value="{{obj.isyeri.email}}"></td>
              </tr>
              <tr>
                <td><strong>Sendika</strong></td>
                <td>{{obj.select.sendika}}</td>
              </tr>
              <tr>
                <td><strong>TİS Sezonu</strong></td>
                <td><span id="showTblTis">Tis Detay</span></td>
              </tr>
              <tr>
                <td><strong>Telefon</strong></td>
                <td><input name="telefonno" class="span5" value="{{obj.isyeri.telefonno}}" placeholder="telefon no"/></td>
              </tr>
              <tr>
                <td><strong>Fax No</strong></td>
                <td><input name="faxno" class="span5" value="{{obj.isyeri.faxno}}" placeholder="fax no"/></td>
              </tr>
              <tr>
                <td><strong>Kamu / Özel</strong></td>
                <td>{{obj.select.selectKamu}}</td>
              </tr>

              <tr>
                <td><strong>İşveren Sendikası</strong></td>
                <td>{{obj.select.isverensendikasi}}</td>
              </tr>

              <tr>
                <td><strong>Üst Kuruluş</strong></td>
                <td><input name="ustkurulus" class="span5" value="{{obj.isyeri.ustkurulus}}" placeholder="üst kuruluş ismi"/></td>
              </tr>
              <tr>
                <td><strong>Gruba Dahil</strong></td>
                <td>{{obj.select.selectGrpDahilmi}}</td>
              </tr>

              <tr>
                <td><strong>Üretim Konusu</strong></td>
                <td><input name="uretimkonusu" class="span5" value="{{obj.isyeri.uretimkonusu}}" placeholder="üretim konusu"/></td>
              </tr>

              <tr>
                <td><strong>Örgütlenme Durum</strong></td>
                <td>{{obj.select.orgutlenmedurum}}</td>
              </tr>
              <tr>
                <td><strong>Taşeron var mı?</strong></td>
                <td>{{obj.select.taseron}}</td>
              </tr>

              <tr>
                  <td><strong>Çalışan Sayısı</strong></td>
                  <td><input type="number" name="calisansayisi" class="span5" value="{{obj.isyeri.calisansayisi}}" placeholder=""/></td>
              </tr>
              <tr>
                <td colspan="2"><input id="btnSubmit" type="button" class="btn btn-success" value="Güncelle"/></td>
              </tr>
              </tbody>
            </table>


            <!-- modal window -->
            <div class="modal hide" id="modal-add-event" style="width: 94%;left: unset !important; margin-left: unset !important; height: 530px !important; max-height: 1000px !important;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>TİS Bilgileri</h3>
              </div>
              <div class="modal-body" style="height: 510px !important; max-height: 1000px !important;">
                <table id="tblTisdata" class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Tis Bilgisi</th>
                    <th>Sezon</th>
                    <th>Başlangıç/Bitiş Tarihi</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{obj.data.tisDataList}}
                  </tbody>
                </table>
              </div>

            </div>
            <!-- modal window end -->

          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{obj.footer}}
{{obj.bottomscriptsdetay}}
<script type="application/javascript">



  $(document).ready(function () {

      $('#showTblTis').click(function () {
          $('#modal-add-event').modal('show');
      });

      if($('#isyeriid').val() =="0"){
          $('.insupt').html('Girişi');
          $('#btnSubmit').val('Giriş')
      }else{
          $('.insupt').html('Güncelle');
      }

      $('#bcmdosyano').focusout(function () {
          var sgkNo = $(this).val();
          console.log(sgkNo);
          checksgkNo(sgkNo, function (result) {
            if (result.length ==0){
                console.log('sgk no ok');
                $('#bcmdosyanoResult').css({'display':'none'});
            }else {
                console.log(result);
                var resultHtml ='';
                for (var i = 0 ; i<result.length ; i++){
                    var item = JSON.parse(result[0]);
                    var resultHtml =item.isim + ' firması ile sgk numaraları çakışıyor';
                }
                $('#bcmdosyanoResult').css({'display': 'block', 'color': 'red'}).html(resultHtml);
            }
          });
      });

      $('#btnSubmit').click(function (e) {
          console.log('clicked');
          e.preventDefault();
          $('#isyeriEditForm').submit();
      });

      $('#isyeriEditForm').submit(function () {

          if ($('#isim').val()==""){
            alert('lütfen işyeri ünvanı giriniz');
            return false;
          }

          if ($('#adres').val()==""){
              alert('lütfen adres alanını doldurunuz');
              return false;
          }

          if ($('#selectSube').val() =="0"){
              alert('lütfen Şube seçiniz');
              return false;
          }

          if ($('#bcmdosyano').val() ==""){
              alert('lütfen SGK No alanını doldurunuz');
              return false;
          }


      });

  });

  function checksgkNo(sgkno, cb) {
      $.ajax({
          url: '/checksgkforisyeri',
          type: 'GET',
          data: 'bcmdosyano=' + sgkno,
          success: function (result) {
              if (typeof cb !== "undefined") {
                  cb(result);
              }
          },
          error: function () {
              global.writeErr('vatno kontrol sorgusu sırasında hata oluştu');
          }
      });
  }

</script>
</body>
</html>
