<!DOCTYPE html>
<html lang="tr">
<head>
<title>{{obj.projTitle}}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{obj.headerCss}}
  <style type="text/css">
    #countWrapper{
      padding: 9px 2px 0 4px;
      display: inline-block;
    }
  </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
    {{obj.menuItems}}
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" ><i class="icon-home"></i> Anasayfa</a>
      <a href="/isyeri" class="tip-bottom"><i class="icon-book"></i>İşyeri Listesi</a>
      <a href="/uyelistesi?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-user"></i>Uye Listesi</a>
      <a href="/isyerigiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Giriş/Çıkış</a>
      <a href="/isyeriisimligiriscikis?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>İsimli G/Ç</a>
      <a href="/isyeriorgut?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Örgüt</a>
      <a href="/isyeritespit?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Tespit</a>
      <a href="/isyeritemsilci?isyeriid={{obj.isyeri.isyeriid}}"><i class="icon-info-sign"></i>Temsilci</a>
      <a href="/isyeriisverentemsilcileri?isyeriid={{obj.isyeri.isyeriid}}" class="tip-bottom"><i class="icon-book"></i>İşveren Temsilcileri</a>
    </div>
    <h1>{{obj.isyeri.isim}} İşyeri Örgüt Raporu</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
      <div class="control-group">
        <label class="control-label">Örgütlenme Durumu:</label>
        <div class="controls">
          <label><input id="cbBasTemsilci"  type="checkbox" checked="checked">BaşTemsilci</label>
          <label><input id="cbTemsilci"     type="checkbox" checked="checked">Temsilci</label>
          <label><input id="cbDisiplin"     type="checkbox" checked="checked">Disiplin</label>
          <label><input id="cbISG"          type="checkbox" checked="checked">ISG_Kurulu</label>
          <label><input id="cbIzin"         type="checkbox" checked="checked">Izin_Kurulu</label>
          <label><input id="btnComply"      type="button" value="Uygula"></label>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="span2" style="float: right; display: flex;">
      <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
      <a id="excelid" href="/isyeriorgutexcel?isyeriid={{obj.isyeri.isyeriid}}" id="printExcel" style="display: content;">
        <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
      </a>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box" id="printArea">
          <div class="widget-title">
             <span class="icon"><i class="icon-th"></i></span>
            <span id="countWrapper" >Sayı: </span><span id="theCount"></span>
          </div>
          <div class="widget-content nopadding">
            <table id="tblTemsilci" class="table table-bordered data-table">
              <thead>
                <tr>
                    <th>No</th>
                    <th>İşyeri</th>
                    <th>Vazife</th>
                    <th>Ad Soyad</th>
                    <th>Tc Kimlik No</th>
                    <th>Durum</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}
</body>
<script type="text/javascript">
  var data = {{obj.data}};

  $(document).ready(function () {

    $('#btnComply').click(function() {
        var filterData = [];
        var isyeriid = Sendika.getQSbyName('isyeriid');
        var orgutlenmeDurumu = $(this).val();
        var basTemsilciCheked = $('#cbBasTemsilci').attr('checked');
        var cbTemsilciCheked = $('#cbTemsilci').attr('checked');
        var cbDisiplinCheked = $('#cbDisiplin').attr('checked');
        var cbISGCheked = $('#cbISG').attr('checked');
        var cbIzinCheked = $('#cbIzin').attr('checked');

        if (basTemsilciCheked) {
            filterData.push(1);
        }
        if (cbTemsilciCheked) {
            filterData.push(2);
        }
        if (cbDisiplinCheked) {
            filterData.push(3,4,5,6);
        }
        if (cbISGCheked) {
            filterData.push(8,12,13,14);
        }
        if (cbIzinCheked) {
            filterData.push(7,9,10,11);
        }

        console.log(filterData);
        regenerateTable(filterData);

        $('#printIt').click(function () {
            $('#printArea').printThis({
                importCSS:true
            });
        });

    });

    setTimeout(function () {
        $('#btnComply').click();
    },100);
  });

  function regenerateTable(result) {
      $('#tblTemsilci tbody tr').remove();
      setTimeout(function () {
          var html = '';
          var count = 0;
          for (var i = 0; i < data.length; i++) {
              var item = JSON.parse(data[i]);
              if(result.indexOf(item.vazife) != -1){
                  count++;
                  html += '<tr>';
                  html +='<td>' + (i+1) + '</td>';
                  html +='<td>' + item.isyeriisim + '</td>';
                  html +='<td>' + ((typeof Sendika.Enums.vazifeTemsilciler[item.vazife] === "undefined") ? '': Sendika.Enums.vazifeTemsilciler[item.vazife])  + '</td>';
                  html +='<td>' + item.isim + ' ' + item.soyisim + '</td>';
                  html +='<td>' + item.vatandaslik_no + '</td>';
                  html +='<td>' + ((typeof Sendika.Enums.hareketCinsi[item.cins] === "undefined") ? '' : Sendika.Enums.hareketCinsi[item.cins]) + '</td>';
                  html += '</tr>';
              }
          }
          $('#tblTemsilci tbody').html(html);
          $('#theCount').text(count);
      },200);

  }

  function ajaxReq(subeid, orgutlenmeDurumu, cb){

    $.ajax({
      url:'/subeAjaxIstatistik',
      type:'GET',
      data: 'subeid='+subeid+'&orgutlenmedurumu='+orgutlenmeDurumu,
      success: function (result) {
        if (typeof cb !== "undefined") {
          cb(result);
        }
      },
      error: function() {
        global.writeErr('şube örgütdurum değişikliği işlemi sırasında hata oluştu');
      }
    });


  }


  
</script>
</html>
