<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{obj.projTitle}}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="client/css/bootstrap.min.css" />
		<link rel="stylesheet" href="client/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="client/css/maruti-login.css" />
    </head>
    <body>
        <div id="loginbox">            
            <form id="loginform" class="form-vertical" action="/login" method="POST" enctype="application/x-www-form-urlencoded">
				 <div class="control-group normal_text">
                     <h3><img src="client/img/logo.png" alt="Logo" /></h3>
                 </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on">
                                <i class="icon-user"></i>
                            </span>
                            <input type="text" name="email" placeholder="e-Posta" value="" />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on">
                                <i class="icon-lock"></i>
                            </span>
                            <input type="password" name="password" placeholder="Şifre" value=""/>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <span class="pull-left">
                        <a href="#" class="flip-link btn btn-inverse" id="to-recover">Şifremi unuttum?</a>
                    </span>
                    <span class="pull-right">
                        <input type="submit" class="btn btn-success" value="Giriş" />
                    </span>
                </div>
            </form>
            <form id="recoverform" action="/login" class="form-vertical" method="POST" enctype="application/x-www-form-urlencoded" >
				<p class="normal_text">E-postana şifreni geri gönderimi.</p>
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on">
                            <i class="icon-envelope"></i>
                        </span>
                        <input type="text" id="recoveryEmail" name="email" placeholder="E-posta" />
                    </div>
                </div>
               
                <div class="form-actions">
                    <span class="pull-left">
                        <a href="#" class="flip-link btn btn-inverse" id="to-login">&laquo; Login Ekranı</a>
                    </span>
                    <span class="pull-right">
                        <input type="button" id="sendRecovery" class="btn btn-info" value="Gönder" />
                    </span>
                </div>
            </form>
        </div>
        
        <script src="client/js/jquery.min.js"></script>
        <script src="client/js/maruti.login.js"></script>
        <script src="client/js/custom/Util.js"></script>

    </body>
<script type="text/javascript" >

    $(document).ready(function () {


      makeInfoForLoginScreen();

        $('#sendRecovery').click(function () {
          var recEmail =  $('#recoveryEmail').val();
          if(recEmail === ''){
            console.log('Email giriniz');
            makeInfoWarnForRecovery('Email giriniz');
          }else{
            $.ajax({
              url:'/recoverUser',
              type:'GET',
              data: 'email='+recEmail,
              success: function (result) {
                if(result === "1"){
                  makeInfoWarnForRecovery("İşlem başarılı e-posta adresinizi kontrol ediniz");
                }else if(result === "0"){
                  makeInfoWarnForRecovery("İlgili e-posta adresi bulunamadı.");
                }
              },
              error: function() {
                global.writeErr('pass recover işlemi sırasında hata oluştu');
                makeInfoWarnForRecovery('Hata oluştu');
              }
            });
          }
        });
    });
    function makeInfoWarnForRecovery(infoText) {
      if($('#recoverform .controls').length === 1){
        $('#recoverform .controls').after("<div class='controls'><div class='main_input_box'><span style='color: red'>" + infoText + "</span></div></div>");
      }else if($('#recoverform .controls').length === 2){
        $('#recoverform .controls:eq(1)').html("<div class='main_input_box'><span style='color: red'>" + infoText + "</span></div>");
      }
    }

    function makeInfoForLoginScreen() {
      var errParam = Sendika.getQSbyName('error');

      if(errParam === "1") {
        console.log('kullanıcı adı veya şifre hatalı');
        if($('#loginform .control-group').length === 3){
          $('#loginform .form-actions').before("<div class='control-group'><div class='control'><div class='main_input_box'><span style='color: red'>Kullanıcı ePosta veya Şifre hatalı</span></div></div></div>");
        }else if($('#loginform .control-group').length === 4){
          $('#loginform .control-group:eq(3)').html("<div class='control'><div class='main_input_box'><span style='color: red'>Kullanıcı ePosta veya Şifre hatalı</span></div></div>");
        }

      }else if(errParam === "2"){
        if($('#loginform .control-group').length === 3){
          $('#loginform .form-actions').before("<div class='control-group'><div class='control'><div class='main_input_box'><span style='color: red'>Kullanıcı pasif durumda</span></div></div></div>");
        }else if($('#loginform .control-group').length === 4){
          $('#loginform .control-group:eq(3)').html("<div class='control'><div class='main_input_box'><span style='color: red'>Kullanıcı pasif durumda</span></div></div>");
        }
      }
    }

</script>
</html>
