<!DOCTYPE html>
<html lang="tr">
<head>
<title>Metal İş Sendika Otomasyonu</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{obj.headerCss}}
  <style type="text/css">

  </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
    {{obj.menuItems}}
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
      <a href="/sendika" class="current"><i class="icon-book"></i>Sendikalar </a>
      <a href="/sendikatespit" title="Tespit"><i class="icon-flag"></i>Tespitler</a>
    </div>
    <h1>Sendika Listesi</h1>
    <div class="span4">
      <div class="control-group span4">
        <a href="/sendikadetay?sendikaid=0"  class="btn btn-primary" >Yeni Sendika Girişi</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title">
             <span class="icon"><i class="icon-th"></i></span>
            <h5 id="totalCount">Sendika sayısı : {{obj.sendika.count}}</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Sendika</th>
                  <th>Dosya No</th>
                  <th>Adres</th>
                  <th>Telefon</th>
                  <th>İşlemler</th>
                </tr>
              </thead>
              <tbody>
                {{obj.sendikaList}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}
</body>
</html>