<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Metal İş Sendika Otomasyonu</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style type="text/css">
        tr {
            cursor: pointer;
        }

        #prevPage, #nextPage {
            cursor: pointer;
        }

        #prevPage:hover, #nextPage:hover {
            cursor: pointer;
            font-size: 14px;

        }

        .bgcolored:hover {
            background-color: #d6edfc
        }

    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
            <a href="/sendika"><i class="icon-book"></i>Sendikalar </a>
            <a href="/sendikatespit" title="Anasayfa" class="current"><i class="icon-flag"></i>Tespitler</a>
        </div>
        <h1>Tespit Listesi</h1>
    </div>
    <div class="span4">
        <div class="control-group span4">
            <label class="control-label">Başlangıç Tarihi :</label>
            <div class="controls">
                <input type="text" id="startDate" data-date="01-01-2019" data-date-format="dd.mm.yyyy"
                       value="01.01.2019" class="datepicker span3">
            </div>
        </div>
        <div class="control-group span4">
            <label class="control-label">Bitiş Tarihi :</label>
            <div class="controls">
                <input type="text" id="endDate" data-date="01-01-2019" data-date-format="dd.mm.yyyy" value="01.01.2019"
                       class="datepicker span3">
            </div>
        </div>

        <div class="control-group span4">
            <label class="control-label">Sendikalar</label>
            {{obj.select.sendikaSelect}}
        </div>

        <div class="control-group span4">
            <div class="controls">
                <input type="button" id="btnQuery" value="Listele">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="span2" style="float: right; display: flex;">
            <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
            <a id="excelid" href="/sendikatespitExcel?startDate=&endDate=&sendikaid=" style="display: content;">
                <img style="right: 0px; width: 60px !important; height: 60px;"
                     src="/client/img/icons/16/excel-icon.jpg"/>
            </a>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box" id="printArea">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>Sendika</th>
                                <th>İşyeri İsim</th>
                                <th>Başvuru Tarihi</th>
                                <th>Çalışan</th>
                                <th>Üye</th>
                                <th>Tespit Tarihi</th>
                                <th>Evrak</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}
<script src="client/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    var sendikaLister = {{obj.data.sendika}};
    var sendikaData = {};
    $(document).ready(function () {


        var currentDate = new Date();
        $('.datepicker').datepicker("setValue", currentDate);
        $('#printIt').click(function () {
            $('#printArea').printThis({
                importCSS: true
            });
        });

        for (var i = 0; i < sendikaLister.length; i++) {
            var tmpItem = JSON.parse(sendikaLister[i])
            sendikaData[tmpItem["sendikaid"]] = tmpItem;
        }

        $('#btnQuery').click(function () {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var intSendikaid = $('#sendikaid').val();
            var excelUrl = '/sendikatespitExcel?startDate=' + startDate + '&endDate=' + endDate + '&sendikaid=' + intSendikaid;
            $('#excelid').attr('href', excelUrl);
            $.ajax({
                url: '/sendikatespitajax',
                type: 'GET',
                data: 'sendikaid=' + intSendikaid + '&startdate=' + startDate + '&enddate=' + endDate,
                success: function (result) {
                    fillData(result);
                },
                error: function () {
                    global.writeErr('genelraporlar giris çıkış isimli verilerinin sorgulanması sırasında hata oluştu');
                }
            });
        });
    });


    var fillData = function (data, cb) {
        $('.dataitem').remove();
        var totalWorkers = 0;
        var totalMember = 0;
        var html = '';
        var items = JSON.parse(data);
        for (var i = 0; i < items.length; i++) {
            var item = JSON.parse(items[i]);
            var bTarihArr = item.basvurutarihi.split('T')[0].split('-');
            var bTarih = bTarihArr[2] + '.' + bTarihArr[1] + '.' + bTarihArr[0];
            var tarihArr = item.tarih.split('T')[0].split('-');
            var tarih = tarihArr[2] + '.' + tarihArr[1] + '.' + tarihArr[0];

            totalWorkers += item.iscisayisi;
            totalMember += item.uyesayisi;

            html += '<tr class="gradeX bgcolored dataitem" dataitem="' + item.tespitcevapid + '">' +
                '<td class="clicker select-hover">' + sendikaData[item.sendikaid].isim + '</td>' +
                '<td class="clicker select-hover">' + item.isyeriisim + '</td>' +
                '<td class="clicker select-hover">' + bTarih + '</td>' +
                '<td class="clicker select-hover">' + item.iscisayisi + '</td>' +
                '<td class="clicker select-hover">' + item.uyesayisi + '</td>' +
                '<td class="clicker select-hover">' + tarih + '</td>' +
                '<td class="clicker select-hover">' + item.evraksayi + '</td>' +
                '<tr>';
        }

        html += '<tr class="gradeX bgcolored dataitem" dataitem="' + item.tespitcevapid + '">' +
            '<td class="clicker select-hover"></td>' +
            '<td class="clicker select-hover"></td>' +
            '<td class="clicker select-hover"></td>' +
            '<td class="clicker select-hover">Toplam Çalışan : ' + totalWorkers + '</td>' +
            '<td class="clicker select-hover">Toplam Üye : ' + totalMember + '</td>' +
            '<td class="clicker select-hover"></td>' +
            '<td class="clicker select-hover"></td>' +
            '<tr>';


        $('.table tbody').html(html);
        cb && cb();
    };

</script>
</body>
</html>