<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Metal İş Sendika Otomasyonu</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
            <a href="/sendika" class="current"><i class="icon-book"></i>Sendikalar </a>
            <a href="/sendikatespit?sendikaid={{obj.sendika.sendikaid}}"><i class="icon-eye-open"></i>Tespitler</a>
        </div>
        <h1>Sendika <span class="insupt">Güncelle</span></h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <form id="sendikaEditForm" action="/sendikadetay" method="POST" enctype="application/json">
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"> <i class="icon-ok-sign"></i> </span>
                            <h5>Detaylar</h5>
                            <input type="hidden" name="sendikaid" id="sendikaid" value="{{obj.sendika.sendikaid}}">
                        </div>
                        <div class="widget-content">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Tanım</th>
                                    <th>Açıklama</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><strong>Sendika ismi</strong></td>
                                    <td>
                                        <div class="controls">
                                            <input id="isim" name="isim" class="span5" value="{{obj.sendika.isim}}"
                                                   required/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Adres</strong></td>
                                    <td><textarea id="adres" name="adres"
                                                  style="margin: 0px 0px 10px; width: 431px; height: 81px;" required>{{obj.sendika.adres}}</textarea>
                                    </td>
                                </tr>

                                <tr>
                                    <td><strong>Dosya No</strong></td>
                                    <td><input id="dosyano" name="dosyano" class="span5" value="{{obj.sendika.dosyano}}"
                                               maxlength="8" required/></td>
                                </tr>

                                <tr>
                                    <td><strong>Telefon No</strong></td>
                                    <td><input id="telefonno" name="telefonno" class="span5"
                                               value="{{obj.sendika.telefonno}}" maxlength="58" required/></td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <input id="btnSubmit" type="submit" class="btn btn-success" value="Güncelle"/>
                                        <input id="btndelete" type="button" class="btn btn-danger" value="Sil"
                                               disabled/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{obj.footer}}
{{obj.bottomscriptsdetay}}
<script type="text/javascript">
    $(document).ready(function () {

        function checkCount(cb) {
            var sendikaid = $('#sendikaid').val();
            $.ajax({
                url: '/sendikaisyeriCountAjax',
                type: 'GET',
                data: 'sendikaid=' + sendikaid,
                success: function (result) {
                    if (typeof cb !== "undefined") {
                        cb(result);
                    }
                }
            });
        }

        checkCount(function (result) {
            var count = JSON.parse(result);
            if (count.count != 0) {
                $('#btndelete').text('Silinemez');
            } else if (count.count == 0) {
                $('#btndelete').text('Sil');
                $('#btndelete').removeAttr('disabled');
            }
        });

        $('#btndelete').click(function () {
            var sendikaid = $('#sendikaid').val();
            $.ajax({
                url: '/sendikaDeleteAjax',
                type: 'GET',
                data: 'sendikaid=' + sendikaid,
                success: function (result) {
                    window.location.href = '/sendika';
                }
            });
        });

    });
</script>
</body>
</html>
