<!DOCTYPE html>
<html lang="tr">
<head>
  <title>{{obj.projTitle}}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{obj.headerCss}}
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
    {{obj.menuItems}}
  </ul>
</div>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" ><i class="icon-home"></i> Anasayfa</a>
      <a href="/sube" ><i class="icon-book"></i>Şube Listesi</a>
      <a href="/sube?isyerleri={{obj.sube.subeid}}" ><i class="icon-book"></i>İşyerleri</a>
      <a href="/subeistatistik?subeid={{obj.sube.subeid}}" ><i class="icon-pencil"></i>İstatistik</a>
      <a href="/subeyonetim?subeid={{obj.sube.subeid}}" ><i class="icon-briefcase"></i>Yönetim</a>
      <a href="/subegiriscikis?subeid={{obj.sube.subeid}}" ><i class="icon-refresh"></i>Giriş / Çıkış</a>
      <a href="/subegiriscikisisimli?subeid={{obj.sube.subeid}}" ><i class="icon-retweet"></i>İsimli G/Ç</a>
      <a href="/subetespit?subeid={{obj.sube.subeid}}" ><i class="icon-eye-open"></i>Tespit</a>
      <a href="/subesendika?subeid={{obj.sube.subeid}}" ><i class="icon-tasks"></i>Sendikalar</a>
      <a href="/subetemsilciler?subeid={{obj.sube.subeid}}" ><i class="icon-certificate"></i>Temsilciler</a>
      <a href="/subeuyelistesi?subeid={{obj.sube.subeid}}" ><i class="icon-tags"></i>Şube Üye Listesi</a>
    </div>
    <h1>{{obj.sube.isim}} Detay</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">

        <div class="widget-box">
          <div class="widget-title"><span class="icon"> <i class="icon-ok-sign"></i> </span>
            <h5>Şubeler</h5>
          </div>
          <div class="widget-content">
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Tanım</th>
                <th>Açıklama</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Şube İsmi</td>
                <td>{{obj.sube.isim}}</td>
              </tr>
              <tr>
                <td>Telefon</td>
                <td>{{obj.sube.telefonno}}</td>
              </tr>
              <tr>
                <td>Adres</td>
                <td>{{obj.sube.adres}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title">
            <span class="icon">
                <i class="icon-book"></i>
            </span>
            <h5>Açıklama</h5>
          </div>
          <div class="widget-content">
            {{obj.sube.aciklama}}
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Yönetim</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>İsim</th>
                <th>Vazife</th>
                <th>İşyeri</th>
                <th>Durum</th>
                <th>Sıra </th>
              </tr>
              </thead>
              <tbody>
              {{obj.yonetimlist}}
              </tbody>
            </table>
          </div>
        </div>
      </div>

  </div>
</div>
</div>
{{obj.footer}}
{{obj.bottomscriptsdetay}}
</body>
</html>
