<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa"><i class="icon-home"></i> Anasayfa</a>
            <a href="/sube"><i class="icon-book"></i>Şube Listesi</a>
            <a href="/sube?isyerleri={{obj.sube.subeid}}"><i class="icon-book"></i>İşyeri Listesi</a>
            <a href="/subeistatistik?subeid={{obj.sube.subeid}}"><i class="icon-pencil"></i>İstatistik</a>
            <a href="/subeyonetim?subeid={{obj.sube.subeid}}"><i class="icon-briefcase"></i>Yönetim</a>
            <a href="/subegiriscikis?subeid={{obj.sube.subeid}}" class="current"><i class="icon-refresh"></i>Giriş /
                Çıkış</a>
            <a href="/subegiriscikisisimli?subeid={{obj.sube.subeid}}"><i class="icon-retweet"></i>İsimli G/Ç</a>
            <a href="/subetespit?subeid={{obj.sube.subeid}}"><i class="icon-eye-open"></i>Tespit</a>
            <a href="/subesendika?subeid={{obj.sube.subeid}}"><i class="icon-tasks"></i>Sendikalar</a>
            <a href="/subetemsilciler?subeid={{obj.sube.subeid}}"><i class="icon-certificate"></i>Temsilciler</a>
            <a href="/subeuyelistesi?subeid={{obj.sube.subeid}}"><i class="icon-tags"></i>Şube Üye Listesi</a>
        </div>
        <h1>{{obj.sube.isim}} Şube Giriş Çıkış Listesi</h1>

        <input type="hidden" value="{{obj.sube.subeid}}" id="intsubeid">
        <div class="span4">
            <div class="control-group span4">
                <label class="control-label">Başlangıç Tarihi :</label>
                <div class="controls">
                    <input type="date" id="startDate">
                </div>
            </div>
            <div class="control-group span4">
                <label class="control-label">Bitiş Tarihi :</label>
                <div class="controls">
                    <input type="date" id="endDate">
                </div>
            </div>
            <div class="control-group span4">
                <div class="controls">
                    <input type="button" id="btnQuery" value="Listele">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="span2" style="float: right; display: flex;">
                <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
                <a id="excelid" href="/subegiriscikisexcel?subeid={{obj.sube.subeid}}" id="printExcel" style="display: content;">
                    <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
                </a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box" id="printArea">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table" id="tblreport">
                                <thead>
                                <tr>
                                    <th style="width:100px">Yıl</th>
                                    <th>Ay</th>
                                    <th>İşyeri</th>
                                    <th>Kayıt</th>
                                    <th>İstifa</th>
                                    <th>Madde 17</th>
                                    <th>Madde 25</th>
                                    <th>Emekli</th>
                                    <th>Kalan</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal window -->
    <div class="modal hide" id="modal-add-event" style="width: unset; left: calc(50% + 191px);">

        <div class="modal-body" style="width: 154px;" >
            <div class="loader" style=""></div>
        </div>

    </div>
    <!-- modal window end -->
    {{obj.footer}}
    {{obj.bottomscripts}}
</body>
<script src="client/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#printIt').click(function () {
            $('#printArea').printThis({
                importCSS: true
            });
        });


        var currentDate = new Date();
        $('.datepicker').datepicker("setValue", currentDate);

        $('#btnQuery').click(function () {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var subeid = $('#intsubeid').val();
            $('#modal-add-event').modal('show');
            var excelUrl = '/subegiriscikisexcel?subeid='+subeid+'&startDate='+startDate+'&endDate='+endDate;
            $('#excelid').attr('href', excelUrl);
            getData(startDate, endDate, subeid, function (result) {
                insertTableData(result);
                $('#modal-add-event').modal('hide');
            });
        })
    });

    function getData(startDate, endDate, subeid, cb) {
        selectedStartDate = startDate;
        selectedEndDate = endDate;
        $.ajax({
            url: '/subeAjaxSubegiriscikis',
            type: 'GET',
            data: 'startDate=' + startDate + '&endDate=' + endDate + '&subeid=' + subeid,
            success: function (result) {
                if (typeof cb !== "undefined") {
                    cb(result);
                }
            },
            error: function () {
                global.writeErr('şube giris çıkış verilerinin sorgulanması sırasında hata oluştu');
            }
        });
    }


    function insertTableData(result) {
        $('.data-table tbody').html('');//this clears data in table

        setTimeout(function () {
            var html = '';
            var currentMonth =(result.interval.length>0)?JSON.parse(result.interval[0]).month:1;
            var totalMonth_kayit=0;
            var totalMonth_istifa= 0;
            var totalMonth_madde17=0;
            var totalMonth_madde25=0;
            var totalMonth_emekli=0;
            html += '<tr class="gradeX"><td>' + selectedStartDate + '</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>' + JSON.parse(result.tillStart[0]).sayi + '</td></tr>';
            for (var i = 0; i < result.interval.length; i++) {
                var item = JSON.parse(result.interval[i]);
                html += '<tr class="gradeX">';
                html += '<td>' + item.year + '</td>';
                html += '<td>' + item.month + '</td>';
                html += '<td>' + item.isyeri + '</td>';
                html += '<td>' + item.kayit + '</td>';
                html += '<td>' + item.istifa + '</td>';
                html += '<td>' + item.madde17 + '</td>';
                html += '<td>' + item.madde25 + '</td>';
                html += '<td>' + item.emekli + '</td>';
                html += '<td></td>';
                html += '</tr>';
                if (currentMonth == item.month) {
                    totalMonth_kayit+=parseInt(item.kayit);
                    totalMonth_istifa= parseInt(item.istifa);
                    totalMonth_madde17=parseInt(item.madde17);
                    totalMonth_madde25=parseInt(item.madde25);
                    totalMonth_emekli=parseInt(item.emekli);
                }else{
                    html += '<tr class="gradeX">';
                    html += '<td>' + item.year + '</td>';
                    html += '<td>' + item.month + '</td>';
                    html += '<td>--------- Aylık Toplam -----------</td>';
                    html += '<td>' + totalMonth_kayit + '</td>';
                    html += '<td>' + totalMonth_istifa + '</td>';
                    html += '<td>' + totalMonth_madde17 + '</td>';
                    html += '<td>' + totalMonth_madde25 + '</td>';
                    html += '<td>' + totalMonth_emekli + '</td>';
                    html += '<td>'+item.kalan+'</td>';
                    html += '</tr>';
                    currentMonth=item.month;
                    totalMonth_kayit=0;
                    totalMonth_istifa= 0;
                    totalMonth_madde17=0;
                    totalMonth_madde25=0;
                    totalMonth_emekli=0;
                }
            }
            html += '<tr class="gradeX"><td>' + selectedEndDate + '</td><td></td><td>---- Genel Toplam ----</td><td></td><td></td><td></td><td></td><td></td><td>' + JSON.parse(result.tillEnd[0]).sayi + '</td></tr>';
            $('.data-table tbody').html(html);
        }, 200);
    }


</script>
</html>
