<!DOCTYPE html>
<html lang="tr">
<head>
  <title>{{obj.projTitle}}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{obj.headerCss}}
</head>
<body>
{{obj.header}}
<{{pre.userMenu}}
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
    {{obj.menuItems}}
  </ul>
</div>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" ><i class="icon-home"></i> Anasayfa</a>
      <a href="/sube" class="current"><i class="icon-book"></i>Şube Listesi</a>
      <a href="/sube?isyerleri={{obj.sube.subeid}}" ><i class="icon-book"></i>İşyerleri</a>
      <a href="/subeistatistik?subeid={{obj.sube.subeid}}" ><i class="icon-pen"></i>İstatistik</a>
      <a href="/subeyonetim?subeid={{obj.sube.subeid}}" ><i class="icon-briefcase"></i>Yönetim</a>
      <a href="/subegiriscikis?subeid={{obj.sube.subeid}}" ><i class="icon-refresh"></i>Giriş / Çıkış</a>
      <a href="/subegiriscikisisimli?subeid={{obj.sube.subeid}}" ><i class="icon-retweet"></i>İsimli G/Ç</a>
      <a href="/subetespit?subeid={{obj.sube.subeid}}" ><i class="icon-eye-open"></i>Tespit</a>
      <a href="/subesendika?subeid={{obj.sube.subeid}}" ><i class="icon-tasks"></i>Sendikalar</a>
      <a href="/subetemsilciler?subeid={{obj.sube.subeid}}" ><i class="icon-certificate"></i>Temsilciler</a>
      <a href="/subeuyelistesi?subeid={{obj.sube.subeid}}" ><i class="icon-tags"></i>Şube Üye Listesi</a>
    </div>
    <h1>Şube Güncelle</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <form id="subedetayform" action="/subedetay" method="POST" enctype="application/json">
          <div class="widget-box">
            <div class="widget-title"><span class="icon"> <i class="icon-ok-sign"></i> </span>
              <h5>Şube</h5>
              <input type="hidden" id="subeid" name="subeid" value="{{obj.sube.subeid}}">
            </div>
            <div class="widget-content">
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Tanım</th>
                  <th>Açıklama</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Şube İsmi</td>
                  <td><input name="isim" type="text"  value="{{obj.sube.isim}}"/></td>
                </tr>
                <tr>
                  <td>Telefon</td>
                  <td><input name="telefonno" type="text" value="{{obj.sube.telefonno}}" /></td>
                </tr>
                <tr>
                  <td>Adres</td>
                  <td><textarea name="adres" style="margin: 0px 0px 10px; width: 431px; height: 81px;">{{obj.sube.adres}}</textarea></td>
                </tr>
                <tr>
                  <td>Açıklama</td>
                  <td> <textarea name="description" style="margin: 0px 0px 10px; width: 431px; height: 81px;" >{{obj.sube.aciklama}}</textarea></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <input type="submit" class="btn btn-success" value="Güncelle" />
                    <input id="btnDelete" type="button" class="btn btn-danger" value="Sil" style="float: right;" />

                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{obj.footer}}
{{obj.bottomscriptsdetay}}


<script type="text/javascript">
  $(document).ready(function () {

    $('#btnDelete').click(function (e) {
        e.preventDefault();
        var boolDelete = confirm('Şube silicek. \nOnaylıyor musunuz?');
        if (boolDelete) {
          deleteSube(function () {

          });
        }
    });


  });

  function deleteSube(cb){
var sid = $('#subeid').val();
      $.ajax({
          type: 'GET',
          url: '/ajaxdeletesube?subeid=' + sid,
          success: function (data) {
              if (data === true) {
                document.location.href= '/sube';
              }
          }
      });

  }


</script>
</body>
</html>
