<!DOCTYPE html>
<html lang="tr">
<head>
<title>{{obj.projTitle}}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{obj.headerCss}}
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
    {{obj.menuItems}}
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" ><i class="icon-home"></i> Anasayfa</a>
      <a href="/sube" class="current"><i class="icon-book"></i>Şube Listesi</a>
      <a href="/sube?isyerleri={{obj.sube.subeid}}" ><i class="icon-book"></i>İşyerleri</a>
      <a href="/subeistatistik?subeid={{obj.sube.subeid}}" ><i class="icon-pencil"></i>İstatistik</a>
      <a href="/subeyonetim?subeid={{obj.sube.subeid}}" ><i class="icon-briefcase"></i>Yönetim</a>
      <a href="/subegiriscikis?subeid={{obj.sube.subeid}}" ><i class="icon-refresh"></i>Giriş / Çıkış</a>
      <a href="/subegiriscikisisimli?subeid={{obj.sube.subeid}}" ><i class="icon-retweet"></i>İsimli G/Ç</a>
      <a href="/subetespit?subeid={{obj.sube.subeid}}" ><i class="icon-eye-open"></i>Tespit</a>
      <a href="/subesendika?subeid={{obj.sube.subeid}}" ><i class="icon-tasks"></i>Sendikalar</a>
      <a href="/subetemsilciler?subeid={{obj.sube.subeid}}" ><i class="icon-certificate"></i>Temsilciler</a>
      <a href="/subeuyelistesi?subeid={{obj.sube.subeid}}" ><i class="icon-tags"></i>Şube Üye Listesi</a>
    </div>
    <h1>{{obj.sube.isim}} Şube Üye Listesi</h1>
    <input id="subeid" type="hidden" value="{{obj.sube.subeid}}">
  </div>

  <div class="container-fluid">
    <div class="span2" style="float: right; display: flex;">
      <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
      <a id="excelid" href="/subeuyeexcel?subeid={{obj.sube.subeid}}" id="printExcel" style="display: content;">
        <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
      </a>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box" id="printArea">
          <div class="widget-title">
             <span class="icon"><i class="icon-th"></i></span>
          </div>
          <div class="widget-content nopadding">
            <table id="resultTable" class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Sıra</th>
                  <th>Ad</th>
                  <th>Soyad</th>
                  <th>Vatandaşlık No</th>
                  <th>Cinsiyet</th>
                  <th>Tarih</th>
                  <th>Karar</th>
                  <th>Onay No</th>
                  <th>İşyeri</th>
                  <th>İşyeri Durumu</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}
</body>
<script type="text/javascript">
  var data;

  $(document).ready(function () {

      $('#printIt').click(function () {
          $('#printArea').printThis({
              importCSS: true
          });
      });

      getData(function (resultData) {
          data = resultData;
          fillData(data);
      });

  });

  function fillData(dataList) {
    //console.log(dataList);
    var strHtml ='';
    for (var i = 0 ; i<dataList.length; i++){
        var item = JSON.parse(dataList[i]);
        strHtml+='<tr>';
        strHtml+='<td>'+(i+1)+'</td>';
        strHtml+='<td>'+item.isim + '</td>';
        strHtml+='<td>'+item.soyisim+'</td>';
        strHtml+='<td>'+item.vatandaslik_no +'</td>';
        strHtml+='<td>'+((item.kadinerkek==1)?'Erkek':'Kadın') +'</td>';
        var tarihArr = item.tarih.split('T')[0].split('-');
        var tarih = tarihArr[2]+'.'+tarihArr[1]+'.'+tarihArr[0];
        strHtml+='<td>'+tarih +'</td>';
        strHtml+='<td>'+item.kararno +'</td>';
        strHtml+='<td>'+item.dogrulama_kodu +'</td>';
        strHtml+='<td>'+item.isyeriisim +'</td>';
        strHtml+='<td>'+Sendika.Enums.orgutDurum[item.orgutlenmedurum] +'</td>';
        strHtml+='</tr>';
    }
    $('#resultTable tbody').html(strHtml);
  }

  function getData(cb) {
      var subeid = $('#subeid').val();
      $.ajax({
          url: '/ajaxsubeuyelistesi',
          type: 'GET',
          data: 'subeid=' + subeid,
          success: function (result) {
              if (typeof cb !== "undefined") {
                  cb(result);
              }
          },
          error: function () {
              global.writeErr('şube üye listesi çekilirken hata oluştu.');
          }
      });
  }

</script>
</html>
