<!DOCTYPE html>
<html lang="tr">
<head>
<title>{{obj.projTitle}}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{obj.headerCss}}
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
    {{obj.menuItems}}
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" ><i class="icon-home"></i> Anasayfa</a>
      <a href="/sube" ><i class="icon-book"></i>Şube Listesi</a>
      <a href="/sube?isyerleri={{obj.sube.subeid}}" ><i class="icon-book"></i>İşyerleri</a>
      <a href="/subeistatistik?subeid={{obj.sube.subeid}}" ><i class="icon-pencil"></i>İstatistik</a>
      <a href="/subeyonetim?subeid={{obj.sube.subeid}}" ><i class="icon-briefcase"></i>Yönetim</a>
      <a href="/subegiriscikis?subeid={{obj.sube.subeid}}" ><i class="icon-refresh"></i> Giriş / Çıkış</a>
      <a href="/subegiriscikisisimli?subeid={{obj.sube.subeid}}" ><i class="icon-retweet"></i>İsimli G/Ç</a>
      <a href="/subetespit?subeid={{obj.sube.subeid}}" ><i class="icon-eye-open"></i>Tespit</a>
      <a href="/subesendika?subeid={{obj.sube.subeid}}" class="current"><i class="icon-tasks"></i>Sendikalar</a>
      <a href="/subetemsilciler?subeid={{obj.sube.subeid}}" ><i class="icon-certificate"></i>Temsilciler</a>
      <a href="/subeuyelistesi?subeid={{obj.sube.subeid}}" ><i class="icon-tags"></i>Şube Üye Listesi</a>
    </div>
    <h1>{{obj.sube.isim}} Sendika Raporu</h1>
    <input type="hidden" value="{{obj.sube.subeid}}" id="intsubeid">
  </div>


  <div class="container-fluid">
    <div class="span2" style="float: right; display: flex;">
      <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
      <a id="excelid" href="/subesendikaexcel?subeid={{obj.sube.subeid}}" id="printExcel" style="display: content;">
        <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
      </a>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box" id="printArea">
          <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Sayı : <span id="theCount">{{obj.count}}</span></h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table" id="tblreport">
              <thead>
                <tr>
                  <th></th>
                  <th>İşyeri</th>
                  <th>Sendika</th>
                  <th>Tespit Tarihi</th>
                  <th>Üye</th>
                  <th>Çalışan Sayısı</th>
                </tr>
              </thead>
              <tbody>
                {{obj.sendikalist}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}
</body>
<script src="client/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">

  $(document).ready(function () {

      $('#printIt').click(function () {
          $('#printArea').printThis({
              importCSS: true
          });
      });


    var currentDate = new Date();
    $('.datepicker').datepicker("setValue", currentDate);

    $('#btnQuery').click(function () {
      var startDate = $('#startDate').val();
      var endDate = $('#endDate').val();
      var subeid = $('#intsubeid').val();
      getData(startDate, endDate, subeid ,function (result) {
          console.log(result);//todo delete that row.
          insertTableData(result);
      });
    })
  });

  function getData(startDate, endDate, subeid, cb) {
    selectedStartDate = startDate;
    selectedEndDate = endDate;

    $.ajax({
      url:'/subeAjaxtespit',
      type:'GET',
      data: 'startDate=' + startDate + '&endDate=' + endDate + '&subeid=' + subeid,
      success: function (result) {
        if (typeof cb !== "undefined") {
          cb(result);
        }
      },
      error: function() {
        global.writeErr('şube giris çıkış isimli verilerinin sorgulanması sırasında hata oluştu');
      }
    });
  }

  function insertTableData(result) {
    dt.fnClearTable();
    for (var i = 0 ;i < result.length ; i++){
      var item = JSON.parse(result[i]);
      dt.fnAddData([(i+1), item.isyeriisim, item.sendikaisim, item.tarih, item.basvurutarihi,
        item.iscisayisi, item.uyesayisi, item.evraksayi]);
    }
    if(typeof result.length !=="undefined"){
      $('#resultCounter').html('Sayı :' + result.length);
    }

  }
  
</script>
</html>
