<!DOCTYPE html>
<html lang="tr">
<head>
<title>{{obj.projTitle}}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{obj.headerCss}}
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
    {{obj.menuItems}}
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" ><i class="icon-home"></i> Anasayfa</a>
      <a href="/sube" class="current"><i class="icon-book"></i>Şube Listesi</a>
      <a href="/sube?isyerleri={{obj.sube.subeid}}" ><i class="icon-book"></i>İşyerleri</a>
      <a href="/subeistatistik?subeid={{obj.sube.subeid}}" ><i class="icon-pencil"></i>İstatistik</a>
      <a href="/subeyonetim?subeid={{obj.sube.subeid}}" ><i class="icon-briefcase"></i>Yönetim</a>
      <a href="/subegiriscikis?subeid={{obj.sube.subeid}}" ><i class="icon-refresh"></i>Giriş / Çıkış</a>
      <a href="/subegiriscikisisimli?subeid={{obj.sube.subeid}}" ><i class="icon-retweet"></i>İsimli G/Ç</a>
      <a href="/subetespit?subeid={{obj.sube.subeid}}" ><i class="icon-eye-open"></i>Tespit</a>
      <a href="/subesendika?subeid={{obj.sube.subeid}}" ><i class="icon-tasks"></i>Sendikalar</a>
      <a href="/subetemsilciler?subeid={{obj.sube.subeid}}" ><i class="icon-certificate"></i>Temsilciler</a>
      <a href="/subeuyelistesi?subeid={{obj.sube.subeid}}" ><i class="icon-tags"></i>Şube Üye Listesi</a>
    </div>
    <h1>{{obj.sube.isim}} Şube İşyeri Listesi</h1>
  </div>

  <div class="container-fluid">
    <div class="span2" style="float: right; display: flex;">
      <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
      <a id="excelid" href="/subeisyerleriexcel?subeid={{obj.sube.subeid}}" id="printExcel" style="display: content;">
        <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
      </a>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box" id="printArea">
          <div class="widget-title">
             <span class="icon"><i class="icon-th"></i></span> 
            <h5 id="CountInfo">Sayı : {{obj.isyeri.count}}</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                    <th style="width: 35%;">İşyeri İsim</th>
                    <th style="width: 35%;">Adres</th>
                    <th style="width: 12%;">Örgütlenme Tipi </br>{{obj.select.orgutlenme}}</th>
                    <th style="width: 10%;">Taşeron Durumu</br>{{obj.select.taseronvar}}</th>
                    <th style="width: 8%;">Çalişan</th>
                </tr>
              </thead>
              <tbody>
                {{obj.isyeriList}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}
</body>
<script type="text/javascript">
  var allData=[];
  var filteredData = [];
  var filterTaseron='';
  var filterOrgut = '';
  $(document).ready(function () {

      $('#printIt').click(function () {
          $('#printArea').printThis({
              importCSS: true
          });
      });

    getallData(function (data) {
      allData = data;
    });


    $('#orgutlenmeType').change(function() {
      choseAndFillData();

    });

    $('#taseronType').change(function(){
      choseAndFillData();
    });
  });

  function choseAndFillData(){
    var $tasType =$('#taseronType');
    var $oType=  $('#orgutlenmeType');
    filterTaseron = $tasType.val() !== "0" ? $tasType.find('option[value='+$tasType.val()+']').text() : '';
    filterOrgut = $oType.val() !== "0" ? $oType.find('option[value=' + $oType.val() + ']').text() : '';
    if(filterOrgut ==='' && filterTaseron ===''){
      refillData(allData);
    }else {
      var resultData = [];
      for (var i = 0 ; i < allData.length; i++){
        var item = allData[i];
        if (filterOrgut !== '' && filterTaseron !== ''){
          if (item.oType === filterOrgut && item.tasType === filterTaseron){
            resultData.push(item);
          }
        }else if(filterOrgut !== '' && filterTaseron ===''){
          if (item.oType === filterOrgut ){
            resultData.push(item);
          }
        }else if(filterTaseron !=='' && filterOrgut ===''){
          if(item.tasType === filterTaseron)
          {
            resultData.push(item);
          }
        }
      }

      refillData(resultData);
    }
  }

  function refillData(data) {
    $('.data-table tbody').html('');//this clears data in table
    setTimeout(function () {
      var html ='';
      $('#CountInfo').html('Sayı : ' + data.length);
      for (var i = 0; i< data.length; i++){
        html += '<tr class="gradeX">';
        html += '<td>'+data[i].isim+'</td>';
        html += '<td>'+data[i].adres+'</td>';
        html += '<td>'+data[i].oType+'</td>';
        html += '<td>'+data[i].tasType+'</td>';
        html += '<td>'+data[i].sayi+'</td>';
        html += '</tr>';
      }
      $('.data-table tbody').html(html);
    },200);
  }

  function getallData(cb) {
      var trs = $('.gradeX');
      var resultObj =[];
      for (var i = 0; i< trs.length ; i++){
          var innerDatas = trs[i].getElementsByTagName('td');
          var tmpItem = {
              'isim': innerDatas[0].innerHTML,
              'adres':innerDatas[1].innerHTML,
              'oType':innerDatas[2].innerHTML,
              'tasType':innerDatas[3].innerHTML,
              'sayi':innerDatas[4].innerHTML
          };
          resultObj.push(tmpItem);
      }
      if(typeof cb !== 'undefined' && cb){
          cb(resultObj);
      }
  }

</script>
</html>
