<!DOCTYPE html>
<html lang="tr">
<head>
<title>{{obj.projTitle}}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{obj.headerCss}}
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
  <ul>
    <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a> </li>
    {{obj.menuItems}}
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/anasayfa" title="Anasayfa" ><i class="icon-home"></i> Anasayfa</a>
      <a href="/sube" ><i class="icon-book"></i>Şube Listesi</a>
      <a href="/sube?isyerleri={{obj.sube.subeid}}" ><i class="icon-book"></i>İşyerleri</a>
      <a href="/subeistatistik?subeid={{obj.sube.subeid}}" class="current"><i class="icon-pencil"></i>İstatistik</a>
      <a href="/subeyonetim?subeid={{obj.sube.subeid}}" ><i class="icon-briefcase"></i>Yönetim</a>
      <a href="/subegiriscikis?subeid={{obj.sube.subeid}}" ><i class="icon-refresh"></i>Giriş / Çıkış</a>
      <a href="/subegiriscikisisimli?subeid={{obj.sube.subeid}}" ><i class="icon-retweet"></i>İsimli G/Ç</a>
      <a href="/subetespit?subeid={{obj.sube.subeid}}" ><i class="icon-eye-open"></i>Tespit</a>
      <a href="/subesendika?subeid={{obj.sube.subeid}}" ><i class="icon-tasks"></i>Sendikalar</a>
      <a href="/subetemsilciler?subeid={{obj.sube.subeid}}" ><i class="icon-certificate"></i>Temsilciler</a>
      <a href="/subeuyelistesi?subeid={{obj.sube.subeid}}" ><i class="icon-tags"></i>Şube Üye Listesi</a>
    </div>
    <h1>{{obj.sube.isim}} Şubesi İstatistik Raporu</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6">
        Örgütlenme Durumu: {{obj.select.orgutlenme}}
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="span2" style="float: right; display: flex;">
      <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
      <a id="excelid" href="/subeistatistikexcel?subeid={{obj.sube.subeid}}&orgutlenmedurumu=1" id="printExcel" style="display: content;">
        <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
      </a>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box" id="printArea">
          <div class="widget-title">
             <span class="icon"><i class="icon-th"></i></span> 
            <h5>Sayı : <span id="theCount">{{obj.isyeri.count}}</span></h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>No</th>
                    <th>İşyeri İsim</th>
                    <th>Üye</th>
                    <th>Erkek</th>
                    <th>Kadın</th>
                </tr>
              </thead>
              <tbody>
                {{obj.isyeriIstatistikList}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}
</body>
<script type="text/javascript">
  $(document).ready(function () {

      $('#printIt').click(function () {
          $('#printArea').printThis({
              importCSS: true
          });
      });


    $('#orgutlenmeType').change(function(){
      var subeid= getParameterByName('subeid');
      var orgutlenmeDurumu = $(this).val();

      var excelUrl ="/subeistatistikexcel?subeid="+subeid+"&orgutlenmedurumu="+orgutlenmeDurumu;
      $('#excelid').attr('href', excelUrl);

      ajaxReq(subeid, orgutlenmeDurumu, function (result) {
        regenerateTable (result);
      });
    });

  });

  function regenerateTable(result) {
    $('.data-table tbody').html('');//this clears data in table
    $('#theCount').text(result.length);
    setTimeout(function () {
      var html = '';
      var total = 0;
      var totalMale = 0;
      var totalFemale = 0;
      for (var i = 0; i < result.length; i++) {
        html += '<tr class="gradeX">';
        html += '<td>'+(i+1)+'</td>';
        html += '<td>' + result[i].isyeriisim + '</td>';
        html += '<td>' + result[i].sayi + '</td>';
        total+= parseInt(result[i].sayi);
        html += '<td>' + result[i].erkek + '</td>';
        totalMale += parseInt(result[i].erkek);
        html += '<td>' + result[i].kadin + '</td>'
        totalFemale += parseInt(result[i].kadin);
        html += '</tr>';
      }
      html += '<tr><td></td><td></td><td>'+total+'</td><td>'+totalMale+'</td><td>'+totalFemale+'</td></tr>';
      $('.data-table tbody').html(html);
    }, 200);
  }

  function ajaxReq(subeid, orgutlenmeDurumu, cb){

    $.ajax({
      url:'/subeAjaxIstatistik',
      type:'GET',
      data: 'subeid='+subeid+'&orgutlenmedurumu='+orgutlenmeDurumu,
      success: function (result) {
        if (typeof cb !== "undefined") {
          cb(result);
        }
      },
      error: function() {
        global.writeErr('şube örgütdurum değişikliği işlemi sırasında hata oluştu');
      }
    });


  }

  
</script>
</html>
