<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Metal İş Sendika Otomasyonu</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}

    <style type="text/css">
        #tblIsyeriCalisanList tbody tr{
            cursor: pointer;
        }
        #tblIsyeriCalisanList tbody tr:hover{
            background-color: #49afcd;
        }
        input[aria-controls="tblIsyeriCalisanList"]{
            width: 175px !important;
        }
    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
            <a href="#" class="current"><i class="icon-edit"></i>İşyeri Temsilci Güncelle</a>
        </div>
        <h1>Şube Yönetim Giriş/Güncelle</h1>
        <div class="span4">

            <div class="control-group span4">
                <label class="control-label">Cinsiyet</label>
                <div class="controls">
                    {{obj.select.gender}}
                </div>
            </div>
            <div class="control-group span4">
                <div class="controls">
                    <input type="button" id="btnQuery" value="Listele">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <label class="lead">{{obj.sube.isim}}</label>
            <div class="row-fluid">
            <div class="span12">
                <form class="form-horizontal" id="isyeriEditForm" action="/subeyonetimedit" method="POST" enctype="application/json">
                    <input type="hidden" name="subeteskilatid" id="subeteskilatid" value="{{obj.subeteskilati.subeteskilatiid}}">
                    <input type="hidden" name="subeid" id="subeid" value="{{obj.sube.subeid}}">
                    <input type="hidden" name="uyeid" id="uyeid" value="{{obj.uye.uyeid}}">

                        <div class="control-group">
                            <label class="control-label">Şube Üyeler</label>
                            <div class="controls" style="display: flex;">
                                <label id="uyeisim" style="margin-top: 6px; margin-right: 10px;"></label><input type="button" id="btnUyeSec" value="+">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Vazife</label>
                            <div class="controls">
                                {{obj.select.vazifeler}}
                            </div>
                        </div>

                        <input type="submit" class="btn btn-primary" value="Güncelle"/>
                </form>

                <!-- modal window -->
                <div class="modal hide" id="modal-add-event" style="width: 750px">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>Şube Üyeleri</h3>
                    </div>
                    <div class="modal-body" style="  height: 550px !important; max-height: 500px !important;">
                        <table id="tblIsyeriCalisanList" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    İsim<br/>
                                <input type="text" id="txtIsim" oninput="Sendika.makeUpper(event)">
                                </th>
                                <th>
                                    Soyisim<br/>
                                    <input type="text" id="txtSoyisim" oninput="Sendika.makeUpper(event)">
                                </th>
                                <th>
                                    İşyeri<br/>
                                    <input type="text" id="txtIsyeri" oninput="Sendika.makeUpper(event)">
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- modal window end -->

            </div>
        </div>
    </div>
</div>
{{obj.footer}}
{{obj.bottomscriptsdetay}}

<script type="text/javascript">
    var tmpFullData ={{obj.data}};
    var tmpFullDataLen = tmpFullData.length;
    var fullData=[];
    var tmpYoneticiData ={{obj.yonetim.data}};
    var yoneticidata = tmpYoneticiData;
    var yonetici_info= undefined;

    for (var i = 0 ;i< tmpFullDataLen; i++){
        var tmpItem =JSON.parse(tmpFullData[i]);
        fullData.push(JSON.parse(tmpFullData[i]));
        if (yoneticidata){
            if(tmpItem.uyeid ==yoneticidata.uyeid){
                yonetici_info =tmpItem;
            }
        }
    }

    function search() {
        var strhtml= '';
        $('#tblIsyeriCalisanList tbody').html('');
        var isim=$('#txtIsim').val();
        var soyisim = $('#txtSoyisim').val();
        var isyeri_isim = $('#txtIsyeri').val();

        $.ajax({
            url: '/searchinuye?name=' + isim + '&surname='+soyisim+'&isyeriisim='+isyeri_isim,
            type: 'GET',
            success: function (data) {
                if (data.length){
                    var retDataLen =data.length;
                    for (var i = 0; i < retDataLen; i++) {
                        var result = JSON.parse(data[i]);
                        strhtml += '<tr class="gradeX selectRow" data-id="'+result.uyeid+'">'+
                            '<td>'+result.isim+'</td>'+
                            '<td>'+result.soyisim+'</td>'+
                            '<td>'+result.isyeriisim+'</td>'+
                            '</tr>';
                    }
                    $('#tblIsyeriCalisanList tbody').html(strhtml);
                }
            },
            error: function () {
                console.log('tüm çalışanların toplam sayısı verisinin sorgulanması sırasında hata oluştu');
            }
        });

       /* for (var i = 0; i < fullData.length;i++) {
            var item = fullData[i];
            if (isim != '' && soyisim =='' && isyeri_isim ==''){//isim var ,soyisim yok, isyeri yok,
                if (item.isim.startsWith(isim)) {
                    result.push(item);
                }
            }else if(isim == '' && soyisim !='' && isyeri_isim ==''){//isim yok ,soyisim var, isyeri yok,
                if (item.soyisim.startsWith(soyisim)) {
                    result.push(item);
                }
            }else if(isim == '' && soyisim =='' && isyeri_isim !=''){//isim yok ,soyisim yok, isyeri var,
                if (item.isyeriisim.startsWith(isyeri_isim)) {
                    result.push(item);
                }
            }else if (isim != '' && soyisim !='' && isyeri_isim ==''){ // isim var , soyisim var , isyeri yok
                if (item.isim.startsWith(isim) && item.soyisim.startsWith(soyisim) ) {
                    result.push(item);
                }
            }else if(isim == '' && soyisim !='' && isyeri_isim !='') { // isim yok , soyisim var , isyeri var
                if(item.soyisim.startsWith(soyisim) && item.isyeriisim.startsWith(isyeri_isim) ){
                    result.push(item);
                }
            }else if(isim != '' && soyisim =='' && isyeri_isim !=''){ // isim var, soyisim yok , isyeri var
                if(item.isim.startsWith(isim) && item.isyeriisim.startsWith(isyeri_isim) ){
                    result.push(item);
                }
            }else if (isim != '' && soyisim !='' && isyeri_isim !=''){ //isim var , soyisim var , isyeri var
                if(item.isim.startsWith(isim) && item.isyeriisim.startsWith(isyeri_isim) && item.soyisim.startsWith(soyisim) ){
                    result.push(item);
                }
            }else {
                result.push(item);
            }
        }

        for (var i = 0; i < result.length; i++) {
            strhtml += '<tr class="gradeX selectRow" data-id="'+result[i].uyeid+'">'+
                '<td>'+result[i].isim+'</td>'+
                '<td>'+result[i].soyisim+'</td>'+
                '<td>'+result[i].isyeriisim+'</td>'+
                '</tr>';
        }
        $('#tblIsyeriCalisanList tbody').html(strhtml);*/
    }

    $(document).ready(function () {

        if (!Array.isArray(yoneticidata)){
            if (yonetici_info){
                $('#uyeisim').text(yonetici_info.isim +' ' + yonetici_info.soyisim);
            }else{
                $('#uyeisim').text('Çalışan Seç');
            }
        }else {
            $('#uyeisim').text('Çalışan Seç');
        }

        $('#btnUyeSec').click(function () {
            $('#modal-add-event').modal('show');
        });


        $(document).on('click', '#tblIsyeriCalisanList tbody tr', function () {
            var thisser =$(this);
            var temsiliId = thisser.attr('data-id');
            $('#uyeid').val(temsiliId);
            $('#uyeisim').text(thisser.find('td:eq(0)').text() + ' ' + thisser.find('td:eq(1)').text());
            $('#modal-add-event').modal('hide');
        });


        $('#txtIsim, #txtSoyisim, #txtIsyeri').keyup(function (e) {
           search();
        });

        search();

    });
</script>
</body>
</html>