<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa"><i class="icon-home"></i> Anasayfa</a>
            <a href="/sube"><i class="icon-book"></i>Şube Listesi</a>
            <a href="/sube?isyerleri={{obj.sube.subeid}}"><i class="icon-book"></i>İşyerleri</a>
            <a href="/subeistatistik?subeid={{obj.sube.subeid}}"><i class="icon-pencil"></i>İstatistik</a>
            <a href="/subeyonetim?subeid={{obj.sube.subeid}}"><i class="icon-briefcase"></i>Yönetim</a>
            <a href="/subegiriscikis?subeid={{obj.sube.subeid}}"><i class="icon-refresh"></i> Giriş / Çıkış</a>
            <a href="/subegiriscikisisimli?subeid={{obj.sube.subeid}}"><i class="icon-retweet"></i>İsimli G/Ç</a>
            <a href="/subetespit?subeid={{obj.sube.subeid}}" class="current"><i class="icon-eye-open"></i>Tespit</a>
            <a href="/subesendika?subeid={{obj.sube.subeid}}"><i class="icon-tasks"></i>Sendikalar</a>
            <a href="/subetemsilciler?subeid={{obj.sube.subeid}}"><i class="icon-certificate"></i>Temsilciler</a>
            <a href="/subeuyelistesi?subeid={{obj.sube.subeid}}"><i class="icon-tags"></i>Şube Üye Listesi</a>
        </div>
        <h1>{{obj.sube.isim}} Şube Bazlı Tespit Raporu</h1>

        <input type="hidden" value="{{obj.sube.subeid}}" id="intsubeid">
        <div class="span4">
            <div class="control-group span4">
                <label class="control-label">İlk Tarih :</label>
                <div class="controls">
                    <input type="date" id="startDate" />
                </div>
            </div>
            <div class="control-group span4">
                <label class="control-label">Son Tarih :</label>
                <div class="controls">
                    <input type="date" id="endDate"/>
                </div>
            </div>
            <div class="control-group span4">
                <div class="controls">
                    <input type="button" id="btnQuery" value="Listele">
                </div>
            </div>

        </div>

        <div class="container-fluid">
            <div class="span2" style="float: right; display: flex;">
                <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
                <a id="excelid" href="/subetespitexcel?subeid={{obj.sube.subeid}}" id="printExcel" style="display: content;">
                    <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
                </a>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box" id="printArea">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span><span id="resultCounter"
                                                                                   style="margin-top: 7px"
                                                                                   class="span3"></span>
                        </div>
                        <div class="widget-content nopadding">
                            <table class="table table-bordered data-table" id="tblreport">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>İşyeri</th>
                                    <th>Sendika</th>
                                    <th>Tespit Tarih</th>
                                    <th>Başvuru Tarihi</th>
                                    <th>Çalışan Sayısı</th>
                                    <th>Üye Sayısı</th>
                                    <th>Evrak No</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{obj.footer}}
    {{obj.bottomscripts}}
</body>
<script src="client/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#printIt').click(function () {
            $('#printArea').printThis({
                importCSS: true
            });
        });


        var currentDate = new Date();
        $('.datepicker').datepicker("setValue", currentDate);

        $('#btnQuery').click(function () {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var subeid = $('#intsubeid').val();
            var excelUrl = '/subetespitexcel?subeid='+subeid+'&startDate='+startDate+'&endDate='+endDate;
            $('#excelid').attr('href', excelUrl);
            getData(startDate, endDate, subeid, function (result) {
                console.log(result);//todo delete that row.
                insertTableData(result);
            });
        })
    });

    function getData(startDate, endDate, subeid, cb) {
        selectedStartDate = startDate;
        selectedEndDate = endDate;

        $.ajax({
            url: '/subeAjaxtespit',
            type: 'GET',
            data: 'startDate=' + startDate + '&endDate=' + endDate + '&subeid=' + subeid,
            success: function (result) {
                if (typeof cb !== "undefined") {
                    cb(result);
                }
            },
            error: function () {
                console.log('şube giris çıkış isimli verilerinin sorgulanması sırasında hata oluştu');
            }
        });
    }

    function insertTableData(result) {
        $('.data-table tbody').html('');//this clears data in table

        setTimeout(function () {
            $('#resultCounter').html('Sayı :' + result.length);
            var html = '';
            for (var i = 0; i < result.length; i++) {
                var item = JSON.parse(result[i]);
                var TarihiArr = item.tarih.split('T');
                var TarihiDateArr = TarihiArr[0].split('-');
                var Tarihi = TarihiDateArr[2] + '.' + TarihiDateArr[1] + '.' + TarihiDateArr[0];

                var BasvuruTarihiArr = item.basvurutarihi.split('T');
                var BasvuruTarihiDateArr =BasvuruTarihiArr[0].split('-');
                var BasTarihi =BasvuruTarihiDateArr[2] + '.' + BasvuruTarihiDateArr[1] + '.' + BasvuruTarihiDateArr[0];

                html += '<tr class="gradeX">';
                html += '<td>' + (i + 1) + '</td>';
                html += '<td>' + item.isyeriisim + '</td>';
                html += '<td>' + item.sendikaisim + '</td>';
                html += '<td>' + Tarihi + '</td>';
                html += '<td>' + BasTarihi + '</td>';
                html += '<td>' + item.iscisayisi + '</td>';
                html += '<td>' + item.uyesayisi + '</td>';
                html += '<td>' + item.evraksayi + '</td>';
                html += '</tr>';
            }
            $('.data-table tbody').html(html);
        }, 200);
    }

</script>
</html>
