<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Metal İş Sendika Otomasyonu</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style type="text/css">
        tr {
            cursor: pointer;
        }

        #prevPage, #nextPage {
            cursor: pointer;
        }

        #prevPage:hover, #nextPage:hover {
            cursor: pointer;
            font-size: 14px;

        }
        .bgcolored:hover{
            background-color: #d6edfc
        }

    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
        </div>
        <h1>Tespit Listesi</h1>
    </div>


    <div class="span4">
        <div class="control-group span4">
            <a href="/tespitdetay?tespitid=0"  class="btn btn-success" >Yeni Tespit</a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="span2" style="float: right; display: flex;">
            <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px; width:60px; margin-top: 15px;">
            <a id="excelid" href="/tespitExel?sendikaid=0&isyeritxt=" style="display: content;">
                <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg"/>
            </a>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box" id="printArea">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5 id="totalCount">Tespit sayısı : {{obj.tespit.count}}</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>Sendika İsim</th>
                                <th>İşyeri İsim</th>
                                <th>Başvuru Tarihi</th>
                                <th>Çalışan</th>
                                <th>Üye</th>
                                <th>Tespit Tarihi</th>
                                <th>Evrak</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeX">
                                <td>{{obj.select.Subeler}}</td>
                                <td><input id="txtIsyeri" oninput="Sendika.makeUpper(event)" style="width: 100%;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {{obj.tblTespitler}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}

<script type="text/javascript">
    var allTespitData = {{obj.allTespitData}};
    var allData = [];

    var allSendikaData = {{obj.allSendikaData}};
    var sendikaData = {};
    $(document).ready(function () {
        $('#printIt').click(function () {
            $('#printArea').printThis({
                importCSS:true
            });
        });



        for (var i = 0; i < allTespitData.length; i++) {
            allData.push(JSON.parse(allTespitData[i]));
        }

        for (var i = 0; i < allSendikaData.length; i++) {
            var sendikaItem = JSON.parse(allSendikaData[i]);
            sendikaData[sendikaItem.sendikaid] = sendikaItem.isim;
        }

        $('#txtIsyeri').keyup(function (e) {
            search(function (resultData) {
                $('#totalCount').html('Tespit sayısı :' + resultData.length);
                fillData(resultData);
            });
        });

        $('#selectSubeler').change(function () {
            search(function (resultData) {
                $('#totalCount').html('Tespit sayısı :' + resultData.length);
                fillData(resultData);
            });
        });

        $(document).on('click', '.select-hover',function () {
            var dataId = $(this).parent().attr('dataitem');
            document.location.href = '/tespitdetay?tespitid='+dataId;
        });
    });

    //filter data
    function search(cb) {
        var resultData = [];
        var txtIsım = document.getElementById('txtIsyeri').value;
        var index = document.getElementById('selectSubeler').value;

        var excelUrl = '/tespitExel?sendikaid=' + index + '&isyeritxt=' + txtIsım;
        $('#excelid').attr('href',excelUrl);

        for (var i = 0; i < allData.length; i++) {
            var item = allData[i];
            if (txtIsım.trim() !== '') {
                if (item.isim.startsWith(txtIsım)) {
                    if (index != 0) {
                        if (index == item.sendikaid) {
                            resultData.push(item);
                        }
                    } else {
                        resultData.push(item);
                    }
                }
            } else { // text was empty
                if (index != 0) {
                    if (index == item.sendikaid) {
                        resultData.push(item);
                    }
                } else { //text was empty and index was empty too
                    resultData.push(item);
                }
            }
        }
        cb && cb(resultData);
    }

    var fillData = function (data, cb) {
        console.log(data);
        $('.dataitem').remove();
        var html = '';
        for (var i = 0; i < data.length; i++) {
            var item = data[i];
            var bTarihArr = item.basvurutarihi.split('T')[0].split('-');
            var bTarih = bTarihArr[2] + '.' + bTarihArr[1] + '.' + bTarihArr[0];
            var tarihArr = item.tarih.split('T')[0].split('-');
            var tarih = tarihArr[2] + '.' + tarihArr[1] + '.' + tarihArr[0];
            html += '<tr class="gradeX bgcolored dataitem" dataitem="' + item.tespitcevapid + '">'+
             '<td class="clicker select-hover">' + sendikaData[item.sendikaid] + '</td>'+
             '<td class="clicker select-hover">' + item.isim + '</td>'+
             '<td class="clicker select-hover">' + bTarih + '</td>'+
             '<td class="clicker select-hover">' + item.iscisayisi + '</td>'+
             '<td class="clicker select-hover">' + item.uyesayisi + '</td>'+
             '<td class="clicker select-hover">' + tarih + '</td>'+
             '<td class="clicker select-hover">' + item.evraksayi + '</td>'+
            '<tr>';
        }
        $('.gradeX').after(html);
        cb && cb();
    };

</script>
</body>
</html>