<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Metal İş Sendika Otomasyonu</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style type="text/css">
        #s2id_sendikaselect{
            width: 220px;
        }
        #tblIsyeriList tbody tr{
            cursor: pointer;
        }
        #tblIsyeriList tbody tr:hover{
            background-color: #49afcd;
        }
        #tblIsyeriList_length{
            display: none;
        }
    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
            <a href="/isyeri" class="tip-bottom"><i class="icon-book"></i>İşyeri Listesi</a>
            <a href="#" class="current"><i class="icon-edit"></i>İşyeri Temsilci Güncelle</a>
        </div>
        <h1>Tespit Giriş/Güncelle</h1>

    </div>
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">
                <form class="form-horizontal" id="isyeriEditForm" action="/tespitdetay" method="POST" enctype="application/json">
                    <input type="hidden" id="isyeriid" name="isyeriid" value="{{obj.isyeri.isyeriid}}">
                    <input type="hidden" id="tespitid" name="tespitid" value="{{obj.tespit.tespitid}}">

                    <div class="control-group">
                        <label class="control-label">Sendika</label>
                        <div class="controls">
                            {{obj.select.SendikaSelect}}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">işyeri</label>
                        <div class="controls">
                           <input type="text" class="span8" id="isyeridata" name="isyeridata" value="{{obj.tespit.isyeriisim}}" dataid="{{obj.tespit.isyeriid}}" >
                            <input type="button" class="btn btn-primary" value="+" id="btnSelectIsyeri" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Başvuru Tarihi</label>
                        <div class="controls">
                            <input type="date" id="basvuruTarihi" name="basvuruTarihi" value="{{obj.tespit.basvuruTarihi}}">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Çalışan Sayısı</label>
                        <div class="controls">
                            <input type="text" id="calisansayisi" name="calisansayisi" value="{{obj.tespit.calisansayisi}}">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Üye Sayısı</label>
                        <div class="controls">
                            <input type="text" id="uyesayisi" name="uyesayisi" value="{{obj.tespit.uyesayisi}}">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Evrak Tarihi</label>
                        <div class="controls">
                            <input type="date" id="evraktarihi" name="evraktarihi" value="{{obj.tespit.evraktarihi}}">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Evrak Sayısı</label>
                        <div class="controls">
                            <input type="text" id="evraksayisi" name="evraksayisi" value="{{obj.tespit.evraksayisi}}">
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Güncelle"/>

                    <input id="deleteItem" type="button" class="btn btn-danger" value="Sil"/>

                </form>

                <!-- modal window -->
                <div class="modal hide" id="modal-add-event" style="width: 94%;left: unset !important; margin-left: unset !important; height: 530px !important; max-height: 1000px !important;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>İşyeri Seçim</h3>
                    </div>
                    <div class="modal-body" style="height: 510px !important; max-height: 1000px !important;">
                        <table id="tblIsyeriList" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>İsyeri</th>
                                <th>Örg. Durum</th>
                                <th>Şube</th>
                                <th>Çalışan Sayısı</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{obj.data.isyeriList}}
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- modal window end -->

            </div>
        </div>
    </div>
</div>
{{obj.footer}}
{{obj.bottomscriptsdetay}}
<script type="text/javascript">

    $(document).ready(function () {

        $.fn.dataTableExt.afnFiltering.push(
            function(oSetting, aData,iDataIndex){
               var searchTerm = document.querySelector("[type='search']").value;
               return  aData[0].startsWith(searchTerm);
            });

        $('#btnSelectIsyeri').click(function () {
            $('#modal-add-event').modal('show');
            $('#tblIsyeriList').dataTable();
        });

        $('#tblIsyeriList tbody tr').click(function () {
            var $isyeri0 = $('#isyeridata');
            var trThis = $(this);
            $isyeri0.val(trThis.find('td:eq(0)').text());
            $isyeri0.attr('dataid',trThis.attr('data-id'));
            $('#isyeriid').val(trThis.attr('data-id'));
            $('#modal-add-event').modal('hide');
        });

        $('#deleteItem').click(function () {
            var delItem = confirm('Tespit silinicektir onaylıyor musunuz?');
            if (delItem) {
                deleteTespit(function () {
                    document.location.href = '/tespit';
                });
            }
        });
        function deleteTespit(cb){
            var tespitId = $('#tespitid').val();
            var thepostdata = {tespitid: tespitId};
            $.ajax({
                type: 'POST',
                url: '/deleteptespit',
                data:thepostdata ,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    if (data.status=='ok'){
                        cb && cb();
                    }

                }
            });
        }

    });

</script>
</body>
</html>