<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style type="text/css">
        .select2-drop-active {
            z-index: 999999 !important;
        }

        #tblIsyeriList tbody tr {
            cursor: pointer;
        }

        #tblIsyeriList tbody tr:hover {
            background-color: #49afcd;
        }

        #tblIsyeriList_length {
            display: none;
        }

        .modal-backdrop {
            opacity: .2 !important;
        }

        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

    </style>
</head>
<body>
{{obj.header}}
<{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>

<div id="content">
    <div id="content-header">
        <h1>Üye Detay</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <form id="uyedetayform" action="/uyedetaypost" method="POST" enctype="application/json">
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"> <i class="icon-ok-sign"></i> </span>
                            <h5>Üye</h5>
                            <input type="hidden" id="uyeid" name="uyeid" value="{{obj.uye.uyeid}}">
                            <input type="hidden" name="sonhareketipi" value="{{obj.uye.sonhareketipi}}">
                            <input type="hidden" name="sonhareket" value="{{obj.uye.sonhareket}}">
                        </div>
                        <div class="widget-content">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="span3">Tanım</th>
                                    <th>Açıklama</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><label class="control-label">Tc Kimlik No :</label></td>
                                    <td><input id="a" name="vatNo" class="span5" type="text" maxlength="11" value="{{obj.uye.vatandaslik_no}}" autocomplete="off"/>
                                        <br><span id="vatNoResult" style="display: none;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>İsim :</td>
                                    <td><input name="isim" class="span5" type="text" value="{{obj.uye.isim}}" autocomplete="off"/></td>
                                </tr>
                                <tr>
                                    <td>Soyisim :</td>
                                    <td><input name="soyisim" class="span5" type="text" value="{{obj.uye.soyisim}}" autocomplete="off"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>email :</td>
                                    <td><input name="email" class="span5" type="text" value="{{obj.uye.email}}" autocomplete="off"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Telefon :</td>
                                    <td><input name="telefon" class="span5" type="text" value="{{obj.uye.telefon}}"
                                               placeholder="Telefon numarası"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cinsiyet :</td>
                                    <td>{{obj.select.sex}}</td><!--//sexSelect-->
                                </tr>
                                <tr>
                                    <td>Açıklama :</td>
                                    <td><textarea name="aciklama" class="span5">{{obj.uye.aciklama}}</textarea></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <button id="showInfo" value="Detay Göster" onclick="showFullDetail()">Detay
                                            Göster
                                        </button>
                                        <button id="deleteUye" class="btn btn-danger">Sil</button>
                                        <input id="allUpdate" type="button" class="btn btn-success" value="Güncelle" style="float: right"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                            <table id="fullInfo" class="table table-bordered table-striped" style="display:none">
                                <thead>
                                <tr>
                                    <th>Tanım</th>
                                    <th>Açıklama</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Ana Adı :</td>
                                    <td><input name="anaisimi" class="span5" type="text" value="{{obj.uye.anaismi}}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Baba Adı :</td>
                                    <td><input name="babaisim" class="span5" type="text" value="{{obj.uye.babaismi}}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Doğum Yeri :</td>
                                    <td><input name="dogumyeri" class="span5" type="text"
                                               value="{{obj.uye.dogumyeri}}"/></td>
                                </tr>
                                <tr>
                                    <td>Doğum Tarihi :</td>
                                    <td><input id="dogumyili" name="dogumyili" class="span5" type="date"
                                               data-date-format="dd.mm.yyyy" value="{{obj.uye.dogumyili}}"/></td>
                                </tr>
                                <!--<tr>
                                    <td>E-Posta :</td>
                                    <td><input id="email" name="email" type="email" class="span3" value="{{obj.uye.email}}"></td>
                                </tr>-->
                                <tr>
                                    <td>Eğitim Durumu :</td>
                                    <td>{{obj.select.egitim}}</td><!--//eduSelect-->
                                </tr>
                                <tr>
                                    <td>Kan Grubu :</td>
                                    <td>{{obj.select.kangrubu}}</td><!--//bloodSelect-->
                                </tr>
                                <!--<tr>
                                    <td>SSK No :</td>
                                    <td><input id="sskno" name="sskno" class="span5" type="text" value="{{obj.uye.sskno}}"/>
                                        <br><span id="sskNoCheckResult" style="display: none;"></span>
                                    </td>
                                </tr>-->
                                <tr>
                                    <td>İl :</td>
                                    <td><input name="nkil" class="span5" type="text" value="{{obj.uye.nkil}}"/></td>
                                </tr>
                                <tr>
                                    <td>İlçe :</td>
                                    <td><input name="nkilce" class="span5" type="text" value="{{obj.uye.nkilce}}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Köy :</td>
                                    <td><input name="nkkoy" class="span5" type="text" value="{{obj.uye.nkkoy}}"/></td>
                                </tr>
                                <tr>
                                    <td>Mahalle :</td>
                                    <td><input name="nkmahalle" class="span5" type="text"
                                               value="{{obj.uye.nkmahalle}}"/></td>
                                </tr>
                                <tr>
                                    <td>Cilt :</td>
                                    <td><input name="nkcilt" class="span5" type="text" value="{{obj.uye.nkcilt}}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aile :</td>
                                    <td><input name="nkhane" class="span5" type="text" value="{{obj.uye.nkhane}}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sıra :</td>
                                    <td><input name="nksayfa" class="span5" type="text" value="{{obj.uye.nksayfa}}"/>
                                    </td>
                                </tr>


                                <tr>
                                    <td colspan="2"></td>
                                </tr>
                                </tbody>
                            </table>


                            <table class="table table-bordered table-striped">
                                <thead></thead>
                                <tbody>
                                <tr>
                                    <td colspan="2">
                                        <table id="hareketTbl" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Tarih</th>
                                                <th>Saat</th>
                                                <th>Hareket Tipi</th>
                                                <th>Karar No</th>
                                                <th>İşyeri</th>
                                                <th>Hareket Açıklaması</th>
                                                <th style="display: none;">Noter</th>
                                                <th style="display: none;">Noter T.</th>
                                                <th>Doğrulama Kodu</th>
                                                <th><a id="btnModal" data-toggle="modal" href=""
                                                       class="btn btn-success btn-large">+</a></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                        <!-- modal window -->
                        <div class="modal hide" id="modal-add-event" style="width: 94%;left: unset !important; margin-left: unset !important; height: 450px !important; max-height: 500px !important;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h3>İşyeri Seçim</h3>
                            </div>
                            <div class="modal-body" style="height: 450px !important; max-height: 500px !important;">
                                <table id="tblIsyeriList" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>İsyeri</th>
                                        <th>Örg. Durum</th>
                                        <th>Şube</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{obj.data.isyeriList}}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!-- modal window end -->

                        <!-- info modal window -->
                        <div class="modal hide" id="modal-info" >
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h3>Bilgilendirme</h3>
                            </div>
                            <div class="modal-body">
                                <span id="clevel-info">işleminiz gerçek leştirildi, Devam butonuna basabilirsiniz.</span>
                                <br />
                                <span id="clevel-info-last"></span>
                                <br />
                            </div>
                            <div class="modal-footer">
                                <button id="gotoMembersPage" type="button" class="btn" value="Devam">Devam</button>
                            </div>
                        </div>
                        <!-- info modal window end -->

                        <!-- info modal window -->
                        <div class="modal hide" id="modal-loader" style="width: unset; left: calc(50% + 191px);">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h3>Hareketler İşleniyor</h3>
                            </div>
                            <div class="modal-body">
                                <div class="loader"></div>
                            </div>
                        </div>
                        <!-- info modal window end -->

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{obj.footer}}
{{obj.bottomscriptsdetay}}
<script type="text/javascript">
    var dtable;
    var currentRow = 0;
    var selectedRow;
    Date.prototype.addHours = function (h) {
        this.setTime(this.getTime() + (h * 60 * 60 * 1000));
        return this;
    };
    var moveData = {{obj.data}};
    var isyeriItems = {{obj.isyeriList}};
    var subeItems = {{obj.subeList}};


    function checkSSkNo(sskNo, cb) {
        var uyeid = $('#uyeid').val();
        $.ajax({
            url: '/CheckVatNo',
            type: 'GET',
            data: 'vatno=' + sskNo + '&uyeid=' + uyeid,
            success: function (result) {
                if (typeof cb !== "undefined") {
                    cb(result);
                }
            },
            error: function () {
                global.writeErr('sskno kontrol sorgusu sırasında hata oluştu');
            }
        });
    }

    function checkVatNo(vatNo, cb) {
        var uyeid = $('#uyeid').val();
        $.ajax({
            url: '/getUyeCheckVatNo',
            type: 'GET',
            data: 'vatno=' + vatNo + '&uyeid=' + uyeid,
            success: function (result) {
                if (typeof cb !== "undefined") {
                    cb(result);
                }
            },
            error: function () {
                global.writeErr('vatno kontrol sorgusu sırasında hata oluştu');
            }
        });
    }

    function GererateData() {
        for (var i = 0; i < moveData.length; i++) {
            var strHtml = '';
            var item = moveData[i];
            //var theCorrectDate = new Date(item.tarih).addHours(3);
            //var timeObj = theCorrectDate.toJSON();
            var timeObj = item.tarih;// theCorrectDate.toJSON();
            var date = timeObj.split('T')[0].split('-');
            var time = timeObj.split('T')[1].substr(0, 5);
            var tarih = date[0] + '-' + date[1] + '-' + date[2];
            var drtTarih = '';
            if (item.notertarih != undefined) {
                var arrDrtTarih = item.notertarih.split('T')[0].split(('-'));
                drtTarih = arrDrtTarih[2] + '.' + arrDrtTarih[1] + '.' + arrDrtTarih[0];
            }

            var generatedHtmlForHareketSelect = GenerateSelectByName(Sendika.Enums.hareketCinsi, 'hareketSelect' + currentRow, item.cins);
            strHtml += '<tr>';
            strHtml += '<td><input type="date" id="idTarih' + currentRow + '" style="width: 125px; !important;" value="' + tarih + '" /></td>';
            strHtml += '<td><input type="time" id="idSaat' + currentRow + '" style="width: 70px !important;" value="' + time + '" /></td>';
            strHtml += '<td>' + generatedHtmlForHareketSelect + '</td>';
            strHtml += '<td><input type="text" id="kararno' + currentRow + '" style="width: 50px !important;" value="' + item.kararno + '"  /></td>';
            strHtml += '<td>' +
                '<span id="isyeri' + currentRow + '" selectedid="' + item.isyeriid + '">' + item.isim + '</span>' +
                '<input class="btn btn-info isyeriSelector" selectedrow="' + currentRow + '" style="width: 45px; margin-top: 0px; right: 0px; float: right; margin-left: 60px;" type="button" id="selectIsyeri' + currentRow + '" value="+">' +
                '</td>';
            strHtml += '<td><input type="text" id="aciklama' + currentRow + '" style="width: 150px !important;" value="' + ((item.aciklama)?item.aciklama: '')+ '"  /></td>';
            strHtml += '<td style="display: none;" ><input type="text" id="noter' + currentRow + '"  style="width: 70px !important;" value="' + item.noter + '" /></td>';
            strHtml += '<td style="display: none;"><input type="text" id="notertarih' + currentRow + '" style="width: 70px !important;" value="' + drtTarih + '" /></td>';
            strHtml += '<td><input type="text" id="dogrulamakodu' + currentRow + '" style="width: 100px !important;" value="' + ((item.dogrulama_kodu == null) ? '' : item.dogrulama_kodu) + '" />  </td>';
            strHtml += '<td><input type="button" class="btndelete btn btn-danger btn-small" href="" data="' + item.hareketid + '" value="Sil"></td>';
            strHtml += '</tr>';
            if ($('#hareketTbl tbody tr').length == 0) {
                $('#hareketTbl tbody').html(strHtml);
            } else {
                $('#hareketTbl tbody tr:last').after(strHtml);
            }

            if (currentRow > 0) {
                $('#hareketSelect' + currentRow).change(function () {
                    var changedValue = $(this).val();
                    var prevValue = $(this).parent().parent().prev().find('[id^=hareketSelect]').val();
                    /*if (prevValue==2 || prevValue==3 || prevValue ==4){
                        if (changedValue == 2 || changedValue == 3 || changedValue == 4) {
                            alert('hareket uyuşmazlığı var');
                            $(this).val($(this).attr('prevVal'));
                        }
                    }*/
                });
            }
            currentRow++;
        }
    }

    function createHareketRow() {
    //debugger;
        var generatedHtmlForHareketSelect = GenerateSelectByName(Sendika.Enums.hareketCinsi, 'hareketSelect' + currentRow);
        var tarihSimdi = new Date();
        var strDay = tarihSimdi.getDate() < 10 ? '0' + tarihSimdi.getDate() : tarihSimdi.getDate();
        var strMonth = ((tarihSimdi.getMonth() + 1) < 10) ? ('0' + (tarihSimdi.getMonth() + 1)) : (tarihSimdi.getMonth() + 1);
        var strYear = tarihSimdi.getFullYear();
        var strTarih = strYear + '-' + strMonth + '-' + strDay;
        var strHour = tarihSimdi.getHours() < 10 ? '0' + tarihSimdi.getHours() : tarihSimdi.getHours();
        var strMiniute = tarihSimdi.getMinutes() < 10 ? '0' + tarihSimdi.getMinutes() : tarihSimdi.getMinutes();
        var strTime = strHour + ':' + strMiniute;
        var tbody = $('#hareketTbl tbody');
        if (tbody.length === 0) {
            tbody.after('<tbody></tbody>');
        }

        var strHtml = '<tr>' +
            '<td><input type="date" id="idTarih' + currentRow + '" style="width: 125px; !important;" value="' + strTarih + '" /></td>' +
            '<td><input type="time" id="idSaat' + currentRow + '" style="width: 70px !important;" value="' + strTime + '" /></td>' +
            '<td>' + generatedHtmlForHareketSelect + '</td>' +
            '<td><input type="text" id="kararno' + currentRow + '" style="width: 50px !important;" /></td>' +
            '<td style="display: flex;">' +
            '<span id="isyeri' + currentRow + '" style="width: 77%" />' +
            '<input class="btn btn-info isyeriSelector" selectedrow="' + currentRow + '" style="width: 45px; margin-top: 0px; right: 0px; float: right; margin-left: 60px;" type="button" id="selectIsyeri' + currentRow + '" value="+">' +
            '</td>' +
            '<td><input type="text" id="aciklama' + currentRow + '" style="width: 150px !important;" value=""  /></td>'+
            '<td style="display: none;"><input type="text" id="noter' + currentRow + '"  style="width: 70px !important;" /></td>' +
            '<td style="display: none;"><input type="text" id="notertarih' + currentRow + '" style="width: 70px !important;" /></td>' +
            '<td><input type="text" id="dogrulamakodu' + currentRow + '" style="width: 100px !important;" /></td>' +
            '<td><input type="button" class="btndelete btn btn-danger btn-small" href="" data="0" value="Sil"></td>' +
            '</tr>';
        if ($('#hareketTbl tbody tr').length == 0) {
            $('#hareketTbl tbody').html(strHtml);
        } else {
            $('#hareketTbl tbody tr:last').after(strHtml);
        }

        if (currentRow > 0) {
            $('#hareketSelect' + currentRow).change(function (e) {
                var changedValue = $(this).val();
                var prevValue = $(this).parent().parent().prev().find('[id^=hareketSelect]').val();
                /*if (prevValue==2 || prevValue==3 || prevValue ==4){
                    if (changedValue == 2 || changedValue == 3 || changedValue == 4) {
                        alert('hareket uyuşmazlığı var');
                        $(this).val($(this).attr('prevVal'));
                    }
                }*/
            });
        }
        console.log('row created');
        currentRow++;
    }

    function getSubeName(subeid) {
        var result = '';
        for (var i = 0; i < subeItems.length; i++) {
            var item = JSON.parse(subeItems[i]);

            if (item.subeid == subeid) {
                result = item.isim;
                break;
            }
        }
        return result;
    }

    function getIsyeriItemName(isyeriid) {
        var result = '';
        for (var i = 0; i < isyeriItems.length; i++) {
            if (isyeriItems[i].isyeriid === isyeriid) {
                result = isyeriItems[i].isyeriisim;
                break;
            }
        }
        return result;
    }

    function checkforClevel2(uyeid, cb){
        $.ajax({
            type: 'GET',
            url: '/checkforclevel?uyeid=' + uyeid,
            async: false,
            success: function (data) {
                if (data.length != 0) {
                    var alertText = '';
                    var items = JSON.parse(data);
                    for (var i = 0; i < items.length; i++) {
                        var detailItem = JSON.parse(items[i]);
                        var isyeriisim = getIsyeriItemName(detailItem.isyeriid);
                        alertText += isyeriisim + ' isyerinde ' + Sendika.Enums.vazifeTemsilciler[detailItem.vazife] + ' görevinde \n\r';
                    }
                    if (alertText.length != 0) {
                        $('#clevel-info-last').text(alertText);
                    }
                }
                cb && cb();
            }
        });
    }

    function checkforClevel(uyeid) {
        var showModal = false;
        $.ajax({
            type: 'GET',
            url: '/checkforclevelsube?uyeid=' + uyeid,
            async: false,
            success: function (data) {
                if (data.length != 0) {
                    var items = JSON.parse(data);
                    var alertText = '';
                    for (var i = 0; i < items.length; i++) {
                        var detailItem = JSON.parse(items[i]);
                        var isyeriisim = getSubeName(detailItem.subeid);
                        alertText += isyeriisim + ' Şubesinde ' + Sendika.Enums.vazife[detailItem.vazife] + ' görevinde \n\r';
                    }
                    if (alertText.length != 0) {
                        showModal = true;
                        $('#clevel-info').text(alertText);
                    }
                    checkforClevel2(uyeid, function () {
                        if (showModal){
                            $('#modal-info').modal('show');
                        }else {
                            $('#uyedetayform').submit();
                        }
                    });
                }
            }
        });
    }

    function deleteMovement(hareketid) {
        if (hareketid === "0") {
            $('[data=' + hareketid + ']').parent().parent().remove();
        } else {
            $.ajax({
                type: 'GET',
                url: '/deletemovementhareketid?hareketid=' + hareketid,
                success: function (data) {
                    console.log(data);
                    if (data === "true") {
                        $('[data=' + hareketid + ']').parent().parent().remove();
                    }
                }
            });
        }
    }

    function updateLastMoveForDb(uyeid, cb){
        $.ajax({
            type:'GET',
            url:'updateLastMove?uyeid='+uyeid,
            success: function(){
                cb && cb();
            }
        });
    }

    $(document).ready(function () {
        var defaultDateValue = '1930-01-01';
        if ($('#dogumyili').val() == '') {
            $('#dogumyili').val(defaultDateValue);
        }

        $.fn.dataTableExt.afnFiltering.push(function (oSetting, aData, iDataIndex) {
                var searchTerm = document.querySelector("[type='search']").value;
                return aData[0].startsWith(searchTerm);
            });

        GererateData();

        $('#btnModal').click(function () {
            createHareketRow();
        });

        $('#vatNo').focusout(function () {
            var vatNo = $(this).val();
            checkVatNo(vatNo, function (result) {
                if (result.length == 0) {
                    console.log('vatNo ok');

                } else {
                    console.log(result);
                    var resultHtml = '';
                    for (var i = 0; i < result.length; i++) {
                        var item = JSON.parse(result[0]);
                        resultHtml += item.isim + ' ' + item.soyisim + ' ile tckimlik numaraları çakışıyor';
                    }
                    $('#vatNoResult').css({'display': 'block', 'color': 'red'}).html(resultHtml);
                }
            })

        });

        $('#sskno').focusout(function () {
            var sskNo = $(this).val();
            checkSSkNo(sskNo, function (result) {
                if (result.length == 0) {
                    console.log('ok');
                    $('#sskNoCheckResult').html('OK').css('display', 'block');
                } else {
                    console.log(result);
                    var resultHtml = '';
                    for (var i = 0; i < result.length; i++) {
                        var item = JSON.parse(result[i]);
                        resultHtml += item.isim + ' ' + item.soyisim + ' ssk numarası çakışıyor<br />';
                    }
                    $('#sskNoCheckResult').css({'display': 'block', 'color': 'red'}).html(resultHtml);
                }
            });
        });

        $('#showInfo').click(function (e) {
            e.preventDefault();
            ($('#fullInfo').css('display') == 'none') ? $('#fullInfo').css('display', '') : $('#fullInfo').css('display', 'none');
        });

        $(document).on('click', '#deleteUye', function (e) {
            e.preventDefault();
            var uyeid = $('#uyeid').val();
            var confirmToDelete = confirm('üye silinicektir onaylıyor musunuz?');
            if (confirmToDelete) {
                $.ajax({
                    url: '/deleteuye',
                    type: 'POST',
                    data: 'uyeid=' + uyeid,
                    success: function (result) {
                        document.location.href = '/uye';
                    },
                    error: function () {
                        global.writeErr('vatno kontrol sorgusu sırasında hata oluştu');
                    }
                });
            }

        });

        $(document).on('change', 'input[type=search]', function(){
            Sendika.cookies.set('uye_edit_isyeri_arama',$(this).val());
        });

        $(document).on('click', '.isyeriSelector', function () {
            selectedRow = $(this).attr('selectedrow');

            if (typeof dtable === 'undefined') {
                dtable = $('#tblIsyeriList').dataTable({
                    "iDisplayLength": 7
                });
                var prevMoveRow = $(this).parent().parent().prev();
                if (typeof prevMoveRow !== 'undefined') {
                    var lastCompanyName = prevMoveRow.find('[selectedid]').text();
                    dtable.fnFilter(lastCompanyName);
                }
            } else {
                var prevMoveRow = $(this).parent().parent().prev();
                if (typeof prevMoveRow !== 'undefined') {
                    var lastCompanyName = prevMoveRow.find('[selectedid]').text();
                    dtable.fnFilter(lastCompanyName);
                }

            }
            //$('input[type=search]').focus();
            setTimeout(function () {
                var searchDom = document.getElementById('tblIsyeriList_filter').children[0].children[0];
                searchDom.focus();
                searchDom.setSelectionRange(0, searchDom.value.length);
            }, 200);

            $('#modal-add-event').modal('show');
            $('#modal-add-event').modal({
                backdrop: false,
                show: true
            });
            $('#modal-add-event').draggable({
                handle: ".modal-header"
            });
        });

        $('#tblIsyeriList tbody tr').click(function () {
            var trThis = $(this);
            var $isyeriDom = $('#isyeri' + selectedRow);

            $isyeriDom.text(trThis.find('td:eq(0)').text());
            $isyeriDom.attr('selectedid', trThis.attr('data-id'));
            console.log(trThis.attr('data-id'));
            $('#modal-add-event').modal('hide');
        });

        $(document).on('click', '.btndelete', function (e) {
            e.preventDefault();

            var hareketid = $(this).attr('data');
            console.log('delete button clicked' + hareketid);
            var confirmation = confirm('Hareket silinicek onaylıyor musun ?');
            if (confirmation) {
                deleteMovement(hareketid);
            }
        });



        $('#allUpdate').click(function () {
            document.getElementById("allUpdate").disabled = true;
            var moveDomItems = $('#hareketTbl tbody tr');
            if (moveDomItems.length == 0) {
                $('#uyedetayform').submit();
            }

            var selectList =$('[id^=hareketSelect]');
            for (var i = 0; i < selectList.length; i++){
                if ($('[id^=hareketSelect]:eq('+i+')').val() == "0"){
                    alert('bir harekette tipi seçmediniz');
                    document.getElementById("allUpdate").disabled = false;
                    return;
                }
            }

            $('#modal-loader').modal('show');

            setTimeout(function () {
                var uyeid = $('#uyeid').val();
                for (var i = 0; i < moveDomItems.length; i++) {
                    var btnDelete = $('#hareketTbl tbody tr:eq(' + i + ') .btndelete');
                    var hareketid = btnDelete.length != 0 ? btnDelete.attr('data') : 0;

                    var tarih = btnDelete.parent().parent().find('[id^=idTarih]').val();
                    var tarihArr = tarih.split('-');
                    var tarihYear = parseInt(tarihArr[0]);
                    var tarihMonth = parseInt(tarihArr[1]) - 1;
                    var tarihDay = parseInt(tarihArr[2]);
                    var theTarih = new Date(tarihYear, tarihMonth, tarihDay);
                    if (theTarih > new Date()) {
                        alert('seçili tarih ilerisi için olmamalı');
                        return;
                    }
                    var isyeriDom = btnDelete.parent().parent().find('[selectedid]').attr('selectedid');
                    var kararno = btnDelete.parent().parent().find('[id^=kararno]').val();
                    var hareketSelect = btnDelete.parent().parent().find('[id^=hareketSelect]').val();
                    var noter = btnDelete.parent().parent().find('[id^=noter]').val();
                    var noterTarih = btnDelete.parent().parent().find('[id^=notertarih]').val();
                    var noterYevmiye = '';
                    var kayitSiraNo = '';
                    var dogrulamaKodu = btnDelete.parent().parent().find('[id^=dogrulamakodu]').val();
                    var saat = btnDelete.parent().parent().find('[id^=idSaat]').val();
                    var aciklama = btnDelete.parent().parent().find('[id^=aciklama]').val();

                    var thepostdata = {
                        uyeid: uyeid, hareketid: hareketid, tarih: tarih,
                        isyeriDom: isyeriDom, kararno: kararno, hareketSelect: hareketSelect,
                        noter: noter, noterTarih: noterTarih, noterYevmiye: noterYevmiye,
                        kayitSiraNo: kayitSiraNo, dogrulamaKodu: dogrulamaKodu,
                        saat: saat, aciklama: aciklama
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/postAjaxHareketDetay',
                        async: false,
                        data: thepostdata,
                        success: function (data) {
                            if (data.status === "ok") {
                                if (moveDomItems.length - 1 == i) {
                                    $('#modal-loader').modal('hide');
                                    updateLastMoveForDb(uyeid, function () {
                                        checkforClevel(uyeid, 1);
                                    });

                                }
                            }
                        }
                    });
                }
            },500);
        });

        $('#gotoMembersPage').click(function () {
            $('#uyedetayform').submit();
            //location.href ='/uye';
        });

    });
</script>
</body>
</html>