<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{obj.headerCss}}
    <style type="text/css">
        tr {
            cursor: pointer;
        }

        #prevPage, #nextPage {
            cursor: pointer;
        }
    </style>
</head>
<body>
{{obj.header}}
{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/anasayfa" title="Anasayfa" class="tip-bottom"><i class="icon-home"></i> Anasayfa</a>
            <a href="/uye" class="current"><i class="icon-book"></i>Üye Listesi</a>
        </div>
        <h1>Uye Listesi</h1>
        <div class="span4">
            <div class="control-group span4">
                <a href="/yeniuye" class="btn btn-success">Yeni Üye Girişi</a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="span6" style="display: flex;align-items: center;justify-content: center;float: right;">
                <form id="uye_excel_form" style="display: block;" method="post" action="/uyeExcelYukle" enctype="multipart/form-data">
                    <input type="file" name="excelFile">
                    <input type="submit" value="Yükle">
                </form>

                <input id="btnCorrenctRecords" class="btn btn-info" value="Otomatik Düzenle" style="height: 25px;margin: 0 15px;">
                <input id="printIt" class="btn btn-info" value="Yazdır" style="height: 25px;width:60px;margin: 0 15px;">
                <a id="excelid" href="/subeisyerleriexcel?subeid={{obj.sube.subeid}}" style="display: block;">
                    <img style="right: 0px; width: 60px !important; height: 60px;" src="/client/img/icons/16/excel-icon.jpg">
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-th"></i></span>
                        <h5>Üye Listesi</h5>
                        <h5 id="totalCount"></h5>
                        <h5 id="prevPage"><<</h5> <h5>||</h5> <h5 id="nextPage">>><h5 id="pagingCountText">Sayfa sayısı: <span id="pagingCount"></span></h5>
                        <h5>Sayfaya git</h5><input id="Pageno" type="text" value="1" style="margin-top: 3px;width: 35px;">
                        <input id="isSearch" type="hidden" value="0">
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr>
                                <th>Soysim</th>
                                <th>İsim</th>
                                <th>Babaismi</th>
                                <th>Vatandaşlık No</th>
                                <th>İşyeri İsim</th>
                                <th>Son Hareket Tarihi</th>
                                <th>Durum</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeX">
                                <td><input id="txtSoyisim" style="width: 100%;" oninput="Sendika.makeUpper(event)"></td>
                                <td><input id="txtIsim" style="width: 100%;text-transform:uppercase" oninput="Sendika.makeUpper(event)"></td>
                                <td><input id="txtBabaismi" style="width: 100%;text-transform:uppercase" oninput="Sendika.makeUpper(event)"></td>
                                <td><input id="txtVatNo" style="width: 100%;text-transform:uppercase" oninput="Sendika.makeUpper(event)"></td>
                                <td><input id="txtIsyeriIsim" style="width: 100%;text-transform:uppercase" oninput="Sendika.makeUpper(event)"></td>
                                <td></td>
                                <td>{{obj.select.harekettipi}}</td>
                            </tr>
                            {{obj.uyelist}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- modal window -->
            <div class="modal hide" id="modal-add-event" style="width: 94%;left: unset !important; margin-left: unset !important; height: 540px !important; max-height: 540px !important; overflow: hidden">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>İşyeri Seçim</h3>
                </div>
                <div class="modal-body" style="height: 450px !important; max-height: 500px !important;">
                    <table id="tbl" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>TcId</th>
                            <th>Ad Soyad</th>
                            <th>Telefon</th>
                            <th>e-Posta</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

            </div>
            <!-- modal window end -->
        </div>
    </div>
</div>
{{obj.footer}}
{{obj.bottomscripts}}
<script type="text/javascript">
    var pagingCount = {{obj.pagingItemCount}};

    $(document).ready(function () {
        $('input[type=checkbox],input[type=radio],input[type=file]').uniform();
        $('#uye_excel_form').submit(function (e){
            e.preventDefault();
            var formData= new FormData(this);
            $.ajax({
                type:'POST',
                url : '/uyeExcelYukle',
                data: formData,
                success: function (data){
                    window.excelProccessedData = data;
                    fill_excel_result_data(data);
                },
                cache:false,
                contentType: false,
                processData: false,
            });
        });
        getTotalCount(function (result) {
            $('#totalCount').html('Toplam : ' + result + ' üye');
        });
        getTotalPagingCount(function (result) {
            $('#pagingCount').html(result);
        });
        $('#Pageno').keyup(function (e) {
            makeSearch(Sendika.Enums.paging.NoPaging);
        });
        $('#prevPage').click(function () {
            var currentPage = parseInt($('#Pageno').val());
            if (currentPage < 1){
                $('#Pageno').val(1);
            }
            if (currentPage === 1) {
                return;
                //makeSearch(Sendika.Enums.paging.NoPaging);
            } else {
                makeSearch(Sendika.Enums.paging.Previous);

            }
        });
        $('#nextPage').click(function () {
            var searchedPagingCount =parseInt($('#pagingCount').text());
            var currentPage = parseInt($('#Pageno').val());
            if(searchedPagingCount <= currentPage){
                return;
                //makeSearch(Sendika.Enums.paging.NoPaging);
            }else{
                makeSearch(Sendika.Enums.paging.Next);
            }
        });
        $('#txtSoyisim, #txtIsim, #txtBabaismi, #txtVatNo, #txtIsyeriIsim').keyup(function (e) {
            makeSearch(Sendika.Enums.paging.NoPaging);
            $('#isSearch').val("1");
        });
        $('#hareketcinsiType').change(function () {
            makeSearch(Sendika.Enums.paging.NoPaging);
        });
        $('#txtSoyisim, #txtIsim, #txtBabaismi, #txtVatNo, #txtIsyeriIsim').on('change paste', function () {
            $('#Pageno').val("1");
        });
        $(document).on('click', '.clicker', function () {
            var dataItemId = $(this).parent().attr('dataitem');
            document.location.href = "/uyedetay?uyeid=" + dataItemId;
        });

        $('#btnCorrenctRecords').click(function (e){
            document.getElementById('btnCorrenctRecords').disabled=true;
            correctRecords(function (){
                document.getElementById('btnCorrenctRecords').disabled = false;
            });
        });



        var searched_name = Sendika.cookies.get("searched_isim");
        var searched_soyisim = Sendika.cookies.get("searched_soyisim");
        var searched_babaisim = Sendika.cookies.get("searched_babaisim");
        var searched_vat_no = Sendika.cookies.get("searched_vat_no");
        var searched_isyeriisim = Sendika.cookies.get("searched_isyeriisim");
        var searched_durum = Sendika.cookies.get("searched_durum");

        if (searched_name != '' && searched_name != null) {
            document.getElementById('txtIsim').value = searched_name;
        }
        if (searched_soyisim != '' && searched_soyisim != null) {
            document.getElementById('txtSoyisim').value = searched_soyisim;
        }
        if (searched_babaisim != '' && searched_babaisim != null) {
            document.getElementById('txtBabaismi').value = searched_babaisim;
        }
        if (searched_vat_no != '' && searched_vat_no != null) {
            document.getElementById('txtVatNo').value = searched_vat_no;
        }
        if (searched_isyeriisim != '' && searched_isyeriisim != null) {
            document.getElementById('txtIsyeriIsim').value = searched_isyeriisim;
        }
        if (searched_durum != 0 && searched_durum != null) {
            document.getElementById('hareketcinsiType').value = searched_durum;
        }
        if ((searched_name != '' && searched_name != null) ||
            (searched_soyisim != '' && searched_soyisim != null) ||
            (searched_babaisim != '' && searched_babaisim != null) ||
            (searched_vat_no != '' && searched_vat_no != null) ||
            (searched_isyeriisim != '' && searched_isyeriisim != null) ||
            (searched_durum != 0 && searched_durum != null)) {
            makeSearch(Sendika.Enums.paging.NoPaging);
        }
    });

    var fill_excel_result_data = function (result_data){
        var html_trs ='';
        for (var i = 0 ; i< result_data.length;i++){
            var item = result_data[i];
            if (!item.kayitlimi){
                html_trs +='<tr>';
                html_trs +='<td>'+item.tcid+'</td>';
                html_trs +='<td>'+item.isim+'</td>';
                html_trs +='<td>' + (item.hasOwnProperty('tel') ? item.tel : 'yok') + '</td>';
                html_trs +='<td>' + (item.hasOwnProperty('eposta') ? item.eposta : 'yok') + '</td>';
                html_trs +='</tr>';
            }
        }
        $('#tbl tbody').html(html_trs);
        $('#modal-add-event').modal('show');
        $('#modal-add-event').modal({
            backdrop: false,
            show: true
        });
        $('#modal-add-event').draggable({
            handle: ".modal-header"
        });
    }
    var makeSearch = function (side) {
        var soyisim = $('#txtSoyisim').val();
        var isim = $('#txtIsim').val();
        var babaisim = $('#txtBabaismi').val();
        var vatNo = $('#txtVatNo').val();
        var isyeriIsim = $('#txtIsyeriIsim').val();
        var harekettipNo = $('#hareketcinsiType').val();
        var pageNo = parseInt($('#Pageno').val());
        if (side === Sendika.Enums.paging.Previous) {
            pageNo -= 1;
        } else if (side === Sendika.Enums.paging.Next) {
            pageNo += 1;
        }
        $('#Pageno').val(pageNo);
        search(soyisim, isim, babaisim, vatNo, isyeriIsim, harekettipNo, pageNo, function (result) {
            Sendika.cookies.set("searched_isim", isim);
            Sendika.cookies.set("searched_soyisim", soyisim);
            Sendika.cookies.set("searched_babaisim", babaisim);
            Sendika.cookies.set("searched_vat_no", vatNo);
            Sendika.cookies.set("searched_isyeriisim", isyeriIsim);
            Sendika.cookies.set("searched_durum", harekettipNo);
            fillData(result, function(){
                searchCount(soyisim, isim, babaisim, vatNo, isyeriIsim, harekettipNo, function (resultCount) {
                    var searchedItemCount = JSON.parse(resultCount).count;
                    var searchedPagingCount = parseInt(searchedItemCount / pagingCount);
                    searchedPagingCount = (searchedItemCount % pagingCount == 0 )? searchedPagingCount: (searchedPagingCount+1);
                    $('#totalCount').html('Toplam : ' + searchedItemCount + ' üye');
                    $('#pagingCount').text(searchedPagingCount);

                });
            });
            $('#Pageno').val(pageNo);
        });
    };
    var search = function (soyisim, isim, babaisim, vatNo, isyeriIsim, harekettipNo, pageNo, cb) {
        $.ajax({
            url: '/uyeAjaxSearch',
            type: 'GET',
            data: 'soyisim=' + soyisim + '&isim=' + isim + '&babaisim=' + babaisim + '&vatNo=' + vatNo + '&isyeriisim=' + isyeriIsim + '&harekettipNo=' + harekettipNo + '&page=' + pageNo,
            success: function (result) {
                cb && cb (result);
            },
            error: function () {
                global.writeErr('çalışanlar için arama sorgusu sırasında hata oluştu');
            }
        });
    };
    var searchCount = function (soyisim, isim, babaisim, vatNo, isyeriIsim, harekettipNo, cb) {
        $.ajax({
            url: '/uyeAjaxSearchCount',
            type: 'GET',
            data: 'soyisim=' + soyisim + '&isim=' + isim + '&babaisim=' + babaisim + '&vatNo=' + vatNo + '&isyeriisim=' + isyeriIsim + '&harekettipNo=' + harekettipNo,
            success: function (result) {
                console.log("count : "+ result);
                cb && cb(result);
            },
            error: function () {
                global.writeErr('çalışanlar için arama sorgusu sırasında hata oluştu');
            }
        });
    }
    var getTotalCount = function (cb) {
        $.ajax({
            url: '/uyeAjaxTotalCount',
            type: 'GET',
            success: function (result) {
                cb && cb(JSON.parse(result[0]).count);
            },
            error: function () {
                global.writeErr('tüm çalışanların toplam sayısı verisinin sorgulanması sırasında hata oluştu');
            }
        });
    };
    var getTotalPagingCount = function (cb) {
        $.ajax({
            url: '/getTotalUyePagingCount',
            type: 'GET',
            success: function (result) {
                cb && cb(result.result);
            },
            error: function () {
                global.writeErr('tüm çalışanların toplam sayfalama sayısı verisinin sorgulanması sırasında hata oluştu');
            }
        });
    };
    /*var gotopage = function (pageNo) {
        getPageData(pageNo, function (data) {
            fillData(data, function () {
                $('#Pageno').val(pageNo);
            });
        });
    };

    var getPageData = function (pageno, cb) {
        $.ajax({
            url: '/getUyePagingData',
            type: 'GET',
            data: 'page=' + pageno,
            success: function (result) {
                cb && cb(result);
            },
            error: function () {
                global.writeErr('sayfalama sorgusu sırasında hata oluştu');
            }
        });
    };*/
    var fillData = function (data, cb) {
        $('.dataitem').remove();

        var html = '';
        for (var i = 0; i < data.length; i++) {
            var item = JSON.parse(data[i]);
            var hareketTarihi = '';
            if (item.sonharekettarihi) {
                var hareketTarihiArr = item.sonharekettarihi.split('T');
                var hareketTarihiDateArr = hareketTarihiArr[0].split('-');
                hareketTarihi = hareketTarihiDateArr[2] + '.' + hareketTarihiDateArr[1] + '.' + hareketTarihiDateArr[0];
            }

            html += '<tr class="gradeX dataitem" dataitem="' + item.uyeid + '">';
            html += '<td class="clicker">' + item.soyisim + '</td>';
            html += '<td class="clicker">' + item.isim + '</td>';
            html += '<td class="clicker">' + item.babaismi + '</td>';
            html += '<td class="clicker">' + ((item.vatandaslik_no === null) ? '' : item.vatandaslik_no) + '</td>';
            html += '<td class="clicker">' + item.isyeriisim + '</td>';
            html += '<td class="clicker">' + hareketTarihi + '</td>';
            html += '<td class="clicker">' + Sendika.Enums.hareketCinsi[item.sonharekettipi] + '</td>';
            html += '<tr>';
        }
        $('.gradeX').after(html);
        cb && cb();

    };
    var correctRecords = function (cb){
        $.ajax({
            url: '/makeCorrectRecords',
            type: 'GET',
            success: function (result) {
                cb && cb(result.result);
            },
            error: function () {
                global.writeErr('tüm çalışanların toplam sayfalama sayısı verisinin sorgulanması sırasında hata oluştu');
            }
        });
    };

</script>
</body>
</html>