<!DOCTYPE html>
<html lang="tr">
<head>
    <title>{{obj.projTitle}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
        #tblIsyeriList tbody tr {
            cursor: pointer;
        }

        #tblIsyeriList tbody tr:hover {
            background-color: #49afcd;
        }

        #tblIsyeriList_length {
            display: none;
        }
    </style>
    {{obj.headerCss}}
</head>
<body>
{{obj.header}}
<{{pre.userMenu}}
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-list"></i> Menu</a>
    <ul>
        <li class=""><a href="/anasayfa"><i class="icon icon-home"></i><span>Anasayfa</span></a></li>
        {{obj.menuItems}}
    </ul>
</div>

<div id="content">
    <div id="content-header">
        <h1>Üye Girişi</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <form id="uyedetayform" action="/yeniuyepost" method="POST" enctype="application/json">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-ok-sign"></i> </span>
                            <h5>Yeni Üye</h5>
                            <input type="hidden" id="uyeid" name="uyeid" value="0">
                        </div>
                        <div class="widget-content">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="span3">Tanım</th>
                                    <th class="span9">Açıklama</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td><label class="control-label">Tc Kimlik No :</label></td>
                                    <td><input id="vatNo" name="vatNo" class="span5" type="text" maxlength="11" value="" autocomplete="off"/>
                                        <br><span id="vatNoResult" style="display: none;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>İsim :</td>
                                    <td><input id="isim" name="isim" class="span5" type="text" value="" style="text-transform:uppercase;" autocomplete="off"/></td>
                                </tr>
                                <tr>
                                    <td>Soyisim :</td>
                                    <td><input id="soyisim" name="soyisim" class="span5" type="text" value="" style="text-transform:uppercase;"/></td>
                                </tr>
                                <tr>
                                    <td>Telefon :</td>
                                    <td><input id="telefon" name="telefon" class="span5" type="text" value="" style="text-transform:uppercase;"/></td>
                                </tr>
                                <tr>
                                    <td>Cinsiyet :</td>
                                    <td>{{obj.select.sex}}</td><!--//sexSelect-->
                                </tr>
                                <tr>
                                    <td>Açıklama :</td>
                                    <td><textarea id="aciklama" name="aciklama" class="span5"></textarea></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <button id="showInfo" class="btn btn-info">Detay Göster</button>
                                        <input id="btnAddUser" type="button" class="btn btn-success" style="float: right;" value="Ekle"/>
                                    </td>
                                </tr>
                                </tbody>

                            </table>

                            <table id="detailTable" style="display: none;" class="table table-bordered table-striped">
                                <tbody>
                                <tr>
                                    <td>Baba Adı :</td>
                                    <td><input id="babaisim" name="babaisim" class="span5" type="text" value=""/></td>
                                </tr>
                                <tr>
                                    <td>Ana Adı :</td>
                                    <td><input id="anaisimi" name="anaisimi" class="span5" type="text" value=""/></td>
                                </tr>
                                <tr>
                                    <td>Doğum Yeri :</td>
                                    <td><input id="dogumyeri" name="dogumyeri" class="span5" type="text" value=""/></td>
                                </tr>
                                <tr>
                                    <td>Doğum Tarihi :</td>
                                    <td><input id="dogumyili" name="dogumyili" type="date" data-date-format="dd.mm.yyyy"
                                               value="" class="span3"></td>
                                </tr>
                                <!--<tr>
                                  <td>E-Posta :</td>
                                  <td><input id="email" name="email" type="email" class="span3"></td>
                                </tr>-->
                                <tr>
                                    <td>Eğitim Durumu :</td>
                                    <td>{{obj.select.egitim}}</td><!--//eduSelect-->
                                </tr>
                                <tr>
                                    <td>Kan Grubu :</td>
                                    <td>{{obj.select.kangrubu}}</td><!--//bloodSelect-->
                                </tr>
                                <!--<tr>
                                    <td>SSK No :</td>
                                    <td><input id="sskno" name="sskno" class="span5" type="text" value=""/>
                                        <br><span id="sskNoCheckResult" style="display: none;"></span>
                                    </td>
                                </tr>-->
                                <tr>
                                    <td>İl :</td>
                                    <td><input id="nkil" name="nkil" class="span5" type="text" value=""/></td>
                                </tr>
                                <tr>
                                    <td>İlçe :</td>
                                    <td><input id="nkilce" name="nkilce" class="span5" type="text" value=""/></td>
                                </tr>
                                <tr>
                                    <td>Köy :</td>
                                    <td><input id="nkkoy" name="nkkoy" class="span5" type="text" value=""/></td>
                                </tr>
                                <tr>
                                    <td>Mahalle :</td>
                                    <td><input id="nkmahalle" name="nkmahalle" class="span5" type="text" value=""/></td>
                                </tr>
                                <tr>
                                    <td>Cilt :</td>
                                    <td><input id="nkcilt" name="nkcilt" class="span5" type="text" value=""/></td>
                                </tr>
                                <tr>
                                    <td>Aile :</td>
                                    <td><input id="nkhane" name="nkhane" class="span5" type="text" value=""/></td>
                                </tr>
                                <tr>
                                    <td>Sıra :</td>
                                    <td><input id="nksayfa" name="nksayfa" class="span5" type="text" value=""/></td>
                                </tr>


                                </tbody>
                            </table>

                            <table class="table table-bordered table-striped">
                                <thead></thead>
                                <tbody>
                                <tr>
                                    <td colspan="2">
                                        <table id="hareketTbl" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Tarih</th>
                                                <th>Saat</th>
                                                <th>Hareket Tipi</th>
                                                <th>Karar No</th>
                                                <th>İşyeri</th>
                                                <th>Hareket Açıklaması</th>
                                                <th style="display: none;">Noter</th>
                                                <th style="display: none;">Noter T.</th>
                                                <th>Doğrulama Kodu</th>
                                                <th><a id="btnModal" href="" class="btn btn-success btn-large">+</a>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- modal window -->
                            <div class="modal hide" id="modal-add-event"
                                 style="width: 94%;left: unset !important; margin-left: unset !important; height: 450px !important; max-height: 500px !important;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h3>İşyeri Seçim</h3>
                                </div>
                                <div class="modal-body" style="height: 450px !important; max-height: 500px !important;">
                                    <table id="tblIsyeriList" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>İsyeri</th>
                                            <th>Örg. Durum</th>
                                            <th>Şube</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{obj.data.isyeriList}}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <!-- modal window end -->

                            <!-- info modal window -->
                            <div class="modal hide" id="modal-info" >
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h3>Bilgilendirme</h3>
                                </div>
                                <div class="modal-body">
                                    <span id="clevel-info"></span>
                                    <br />
                                    <span id="clevel-info-last"></span>
                                </div>
                                <div class="modal-footer">
                                    <button id="gotoMembersPage" type="button" class="btn" value="Devam">Devam</button>
                                </div>
                            </div>
                            <!-- info modal window end -->

                            <!-- info modal window -->
                            <div class="modal hide" id="modal-loader" style="width: unset; left: calc(50% + 191px);">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h3>Hareketler İşleniyor</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="loader"></div>
                                </div>
                            </div>
                            <!-- info modal window end -->

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{obj.footer}}
{{obj.bottomscriptsdetay}}
<script type="text/javascript">
    var list = {{obj.isyeriList}};
    var currentRow = 0;
    var selectedRow = 0;
    var dtable;

    function checkVatNo(vatNo, cb) {
        var uyeid = $('#uyeid').val();
        $.ajax({
            url: '/getUyeCheckVatNo',
            type: 'GET',
            data: 'vatno=' + vatNo + '&uyeid=' + uyeid,
            success: function (result) {
                if (typeof cb !== "undefined") {
                    cb(result);
                }
            },
            error: function () {
                global.writeErr('vatno kontrol sorgusu sırasında hata oluştu');
            }
        });
    }

    $(document).ready(function () {
        $.fn.dataTableExt.afnFiltering.push(
            function (oSetting, aData, iDataIndex) {
                var searchTerm = document.querySelector("[type='search']").value;
                return aData[0].startsWith(searchTerm);
            });


        var defaultDateValue = '1930-01-01';
        $('#dogumyili').val(defaultDateValue);
        $('#vatNo').focusout(function () {
            var vatNo = $(this).val();
            checkVatNo(vatNo, function (result) {
                if (result.length == 0) {
                    console.log('vatNo ok');
                    $('#vatNoResult').css({'display': 'none'});
                } else {
                    console.log(result);
                    var resultHtml = '';
                    for (var i = 0; i < result.length; i++) {
                        var item = JSON.parse(result[0]);
                        resultHtml += item.isim + ' ' + item.soyisim + ' tckimlik numaraları çakışıyor';
                    }
                    $('#vatNoResult').css({'display': 'block', 'color': 'red'}).html(resultHtml);
                }
            });
        });

        $('#showInfo').click(function (e) {
            e.preventDefault();
            $('#detailTable').toggle();
        });

        $('#btnModal').click(function (e) {
            e.preventDefault();
            createHareketRow();
        });

        $('#btnAddUser').click(function () {
            userAdd(function (userId) {
                console.log("işlem başarılı dety sayfasına yönlendiriliyor.");
                document.location.href = '/uye?uyeid=' + userId;
            });
        });

        $(document).on('click', '.isyeriSelector', function () {
            if (typeof dtable === 'undefined') {
                dtable = $('#tblIsyeriList').dataTable({
                    "iDisplayLength": 7
                });
            }
            selectedRow = $(this).attr('rowIndex');
            $('#modal-add-event').modal('show');
            $('input[type=search]').focus();
            var isyeri =  Sendika.cookies.get('uye_edit_isyeri_arama');
            if(isyeri != null){
                $('input[type=search]').val(isyeri);
                dtable.fnUpdate();
            }
        });

        $(document).on('change', 'input[type=search]', function(){
            Sendika.cookies.set('uye_edit_isyeri_arama',$(this).val());
        });

        $(document).on('keyup', '[pattern]', function () {
            var $domObj = $(this);
            var regexPattern = $domObj.attr('pattern');
            var re = new RegExp(regexPattern);
            var test = re.test($domObj.val());
            console.log(test);
        });

        $('#tblIsyeriList tbody tr').click(function () {
            var $isyeri = $('#isyeri'+selectedRow);
            var trThis = $(this);
            $isyeri.text(trThis.find('td:eq(0)').text());
            $isyeri.attr('selectedid', trThis.attr('data-id'));
            console.log(trThis.attr('data-id'));
            $('#modal-add-event').modal('hide');
        });

    });


    function createHareketRow() {
        /*if (currentRow === 1) {
            return false;
        }*/

        var generatedHtmlForHareketSelect = GenerateSelectByName(Sendika.Enums.hareketCinsi, 'hareketSelect' + currentRow, 1);
        var tarihSimdi = new Date();
        var strDay = tarihSimdi.getDate() < 10 ? '0' + tarihSimdi.getDate() : tarihSimdi.getDate();
        var strMonth = ((tarihSimdi.getMonth() + 1) < 10) ? ('0' + (tarihSimdi.getMonth() + 1)) : (tarihSimdi.getMonth() + 1);
        var strYear = tarihSimdi.getFullYear();
        var strTarih = strYear + '-' + strMonth + '-' + strDay;

        var strHour = tarihSimdi.getHours() < 10 ? '0' + tarihSimdi.getHours() : tarihSimdi.getHours();
        var strMiniute = tarihSimdi.getMinutes() < 10 ? '0' + tarihSimdi.getMinutes() : tarihSimdi.getMinutes();
        var strTime = strHour + ':' + strMiniute;
        $('#hareketTbl tr:last').after('<tr>' +
            '<td><input type="date" id="idTarih' + currentRow + '" style="width: 125px; !important;" value="' + strTarih + '" /></td>' +
            '<td><input type="time" id="idSaat' + currentRow + '" style="width: 70px !important;" value="' + strTime + '" /></td>' +
            '<td>' + generatedHtmlForHareketSelect + '</td>' +
            '<td><input type="text" id="kararno' + currentRow + '" style="width: 50px !important;" /></td>' +
            '<td style="display:flex;">' +
            '   <span id="isyeri' + currentRow + '" style="width: 77%"> </span>' +
            '   <input class="btn btn-info isyeriSelector" style="width: 45px; margin-top: 0px; right: 0px; float: right; margin-left: 60px;" type="button" id="selectIsyeri' + currentRow + '" rowIndex="'+currentRow+'" value="+">' +
            '</td>' +
            '<td><input type="text" id="aciklama' + currentRow + '" style="width: 150px !important;" /></td>' +
            '<td style="display: none;"><input type="text" id="noter' + currentRow + '"  style="width: 70px !important;" /></td>' +
            '<td style="display: none;"><input type="text" id="notertarih' + currentRow + '" style="width: 70px !important;" /></td>' +
            '<td><input type="text" id="dogrulamakodu' + currentRow + '" style="width: 70px !important;" /></td>' +
            '<td></td>' +
            '</tr>');

        setTimeout(function () {
            document.getElementById('idTarih' + currentRow).value = strTarih;
            document.getElementById('idSaat' + currentRow).value = strTime;
            currentRow++;
        }, 50);

    }

    function userAdd(cb) {
        var vatNo = $('#vatNo').val();
        var isim = $('#isim').val();
        var soyisim = $('#soyisim').val();
        var babaisim = $('#babaisim').val();
        var anaisim = $('#anaisimi').val();
        var dogumyeri = $('#dogumyeri').val();
        var dogumyili = $('#dogumyili').val();
        var sskno = $('#sskno').val();
        var nkil = $('#nkil').val();
        var nkilce = $('#nkilce').val();
        var nkkoy = $('#nkkoy').val();
        var telefon = $('#telefon').val();
        var nkmahalle = $('#nkmahalle').val();
        var nkcilt = $('#nkcilt').val();
        var nkhane = $('#nkhane').val();
        var nksayfa = $('#nksayfa').val();
        var description = $('#description').val();
        var sexSelect = $('#sexSelect').val();
        var eduSelect = $('#eduSelect').val();
        var bloodSelect = $('#bloodSelect').val();
        var sonhareketipi = $('#hareketSelect0').length > 0 ? $('#hareketSelect0').val() : 0;
        var sonhareket = -1;
        var aciklama = $('#aciklama').val();
        var thepostdata = {
            uyeid: 0, vatNo: vatNo, isim: isim,
            soyisim: soyisim, babaisim: babaisim, anaisim: anaisim,
            dogumyeri: dogumyeri, dogumyili: dogumyili, sskno: sskno,
            nkil: nkil, nkilce: nkilce, nkkoy: nkkoy,
            telefon: telefon, nkmahalle: nkmahalle, nkcilt: nkcilt,
            nkhane: nkhane, nksayfa: nksayfa, description: description, sexSelect: sexSelect,
            eduSelect: eduSelect, bloodSelect: bloodSelect, sonhareketipi: sonhareketipi,
            sonhareket: sonhareket, aciklama: aciklama
        };
        $.ajax({
            type: 'POST',
            url: '/yeniuyepostajax',
            data: thepostdata,
            success: function (userid) {
                console.log("üye kaydı başarılı : " + userid);
                if (userid == -1) {
                    alert('kaydederken hata oluştu');
                    return false;
                }
                asyncSavehareket(userid, function () {
                    cb && cb(userid);
                });
            }
        });

    }

    async function asyncSavehareket(userid, cb) {
        var hareketlerDom = $('[id^="isyeri"]').length;
        for (var i = 0; i< hareketlerDom ;i++){
            await saveForRow(userid, i);
            if((hareketlerDom - 1)==i){
                updateLastMoveForDb(userid, function () {
                    cb && cb(userid);
                });
            }
        }
        if (hareketlerDom == 0){
            cb && cb(userid);
        }
    }

    function saveForRow(userid, rowNo){
        return new Promise((resolve, reject) =>{

            if ($('#idTarih'+rowNo).length == 0) {
                return false;
            }
            var tarih = $('#idTarih'+rowNo).val();
            var saat = $('#idSaat'+rowNo).val();
            var isyeriDom = $('#isyeri'+rowNo).attr('selectedid');
            var kararno = $('#kararno'+rowNo).val();
            var hareketSelect = $('#hareketSelect'+rowNo).val();
            var noter = $('#noter'+rowNo).val();
            var noterTarih = $('#notertarih'+rowNo).val();
            var noterYevmiye = '';
            var kayitSiraNo = '';
            var dogrulamaKodu = $('#dogrulamakodu'+rowNo).val();
            var aciklama = $('#aciklama'+ rowNo).val();

            var thepostdata = {
                uyeid: userid, hareketid: 0, tarih: tarih,
                isyeriDom: isyeriDom, kararno: kararno, hareketSelect: hareketSelect,
                noter: noter, noterTarih: noterTarih, noterYevmiye: noterYevmiye,
                kayitSiraNo: kayitSiraNo, dogrulamaKodu: dogrulamaKodu,
                saat: saat, aciklama: aciklama
            };

            $.ajax({
                type: 'POST',
                url: '/postAjaxHareketDetay',
                async:false,
                data: thepostdata,
                success: function (data) {
                    if (data.status == "ok") {
                        console.log("yeni hareketid : " + data.hareketid);
                        return resolve(data.hareketid);
                    }
                },
                error:function (err) {
                    return reject();
                }
            });
        });
    }

    function updateLastMoveForDb(uyeid, cb){
        $.ajax({
            type:'GET',
            url:'updateLastMove?uyeid='+uyeid,
            success: function(){
                cb && cb();
            }
        });
    }

</script>
</body>
</html>